[2019-07-08 14:58] ecaruyer opened #1890 "Tensor I/O in dipy_fit_dti"
## Short description
When exporting a tensor field using dipy_fit_dti, the order in not the standard row-order lower-triangular. There is a NIFTI standard for storing symmetric matrices (see below), I would suggest to stick to the standard, although there is a good reason not to do so. Another argument is that in `dipy.reconst.dti`, there is a `from_lower_triangular()` method which is expecting ro

[2019-07-08 16:17] arokem commented on #1889
Looks like prior to [this](https://github.com/nipy/dipy/commit/b3a6d0eb376ca2211ff514e17cc71fbd812804fc#diff-ca53b3e9e0ca17697e9c4822526980a8) commit there wasn't a test file for this module. Then, I moved the tests that I had created in [this](https://github.com/nipy/dipy/commit/e255facb10c28096016746649d2dba378230126c#diff-ca53b3e9e0ca17697e9c4822526980a8) commit.

Maybe we should simply remove

[2019-07-08 20:52] skoudoro commented on #1779
No idea @gabknight. Maybe a memory error, or just a visualization problem.

I tried on Windows and Mac and I can not reproduce the problem, so hard to help...

[2019-07-09 21:08] skoudoro commented on #592
closing, fixed on #1882 by @gabknight

[2019-07-09 21:08] #592 closed

[2019-07-09 22:27] Garyfallidis commented on #1864
Just needs tests and some small refactoring. Keeping it Ian's legacy. And assigned to @skoudoro.

[2019-07-09 22:41] Garyfallidis commented on #1713
+1

[2019-07-09 22:48] Garyfallidis commented on #590
You are correct @jhlegarreta

[2019-07-09 22:54] #668 closed

[2019-07-09 22:57] Garyfallidis commented on #1890
@arokem and @MrBago please respond to @ecaruyer and we can look if it is possible to export to the current or nifti standard way.

[2019-07-09 23:00] arokem commented on #1890
Maybe @matthieudumont knows? He wrote that line: https://github.com/nipy/dipy/commit/63dc1be1b31be569353316e3123258ce3cf8eaf1

Does he still hang out here? I'd be +1 to changing this to the "correct" order.

[2019-07-09 23:07] arokem commented on #1890
See #1892

[2019-07-09 23:08] arokem commented on #1890
Hey @ecaruyer : just to make sure. You wrote "... I would suggest to stick to the standard, although there is a good reason not to do so...". Did you mean " I would suggest to stick to the standard,*unless* there is a good reason not to do so"?

[2019-07-09 23:22] arokem commented on #1871
I would just loop through and apply it one by one

[2019-07-10 04:57] ecaruyer commented on #1890
Hi @arokem; indeed :-). Thanks for the discussion and for your responsiveness!

[2019-07-10 18:33] jchoude commented on #1890
Regarding @matthieudumont I explained the reasoning in #1892

[2019-07-10 18:39] MrBago commented on #1890
We have a function that'll build a properly formed nifti symmetric matrix from an array:

https://github.com/nipy/dipy/blob/0dcec66716bf2c0c45b9ae7d9397903917801098/dipy/io/utils.py#L8

but this part of the nifti spec is rarely used in practice. My memory is that we picked this representation for compatibility with trackvis & fsl because they both use this order but someone should confirm.

[2019-07-10 19:52] arokem commented on #1890
Hey @MrBago:

Are the elements for these at least ordered according to the nifti standard? We could use the correct ordering but in the 4th dimension as a compromise.

[2019-07-11 01:06] MrBago commented on #1890
FSL explicitly does _not_ use the ordering specified in the nifti spec. Lower triangular order would be `Dxx, Dxy, Dyy, Dxz, Dyz, Dzz` FSL uses `Dxx, Dxy, Dxz, Dyy, Dyz, Dzz`. Notice the 2 and 3 positions (yy, & xz) are switched. That's why we change the ordering before saving.

I believe trackvis follows the FSL ordering.

We could do what [dti_recon] does. They have a flag --output_5d, which use

[2019-07-11 02:40] arokem commented on #1890
Maybe we save the tensor in the nifti symmat format per default and add a
`--fsl-format` flag instead?

See last commit for what that might look like.

On Wed, Jul 10, 2019 at 6:06 PM Bago Amirbekian <notifications@github.com>
wrote:

[2019-07-11 07:11] MrBago commented on #1890
I'm no longer an active developer or user of dipy so my opinion should only carry limited weight, but ...

I think backwards compatibility and interoperability trump the formal spec. iirc, nipype has wrapped "dipy_fit_dti" as a node and if any users are using the output of this method as input into some fsl method (either through nipype or or their own scripts) this change will break their workflo

[2019-07-11 11:40] ecaruyer commented on #1890
+1

Actually this is while using trackvis's `dti_tracker` with a tensor image created with `dipy_fit_dti` that I had this issue we are commenting on. Trackvis is indeed expecting the standard Nifti row-order lower triangular.

I would say that standards are here to enable/facilitate interoperability :-).

About backward compatibility, there used to be a `bin/dipy_fit_tensor` which was removed in #

[2019-07-11 17:42] skoudoro opened #1895 "Cython warnings"
## Description

Just a reminder. It will be good to track and clean all Cython warnings. (for release 1.0 or 1.1)

[2019-07-11 20:56] #1713 closed

[2019-07-12 02:14] skoudoro commented on #1889
fixed by #1891, closing

[2019-07-12 02:14] #1889 closed

[2019-07-12 02:19] skoudoro commented on #1807
fixed by #1888, closing

[2019-07-12 02:19] #1807 closed

[2019-07-12 17:47] arokem commented on #1856
Just heard back from GitHub support.

This should now be up to date: https://github.com/nipy/dipy/network/dependents

And the "used by" button should also show up on our front page within 24 hours.

[2019-07-12 17:47] arokem commented on #1856
Let's keep this open until that happens, though.

[2019-07-12 17:58] skoudoro commented on #1856
That's a great news! 👍

[2019-07-12 18:02] skoudoro commented on #1856
the "used by" button show up already! cool! you can close this issue!

Thank you @arokem for this!

ps: I still wonder how they solve it...

[2019-07-12 18:04] #1856 closed

[2019-07-12 18:53] jhlegarreta commented on #1856
Yes, it's already there :tada: Very nice. Thanks Ariel. Feeling curious like Serge, did they had to manually change it? Was it a bot? An inactive user? The user/fork are still there.

[2019-07-12 21:04] skoudoro commented on #1752
End of life of python 3.4 and not anymore on our Travis Bots, Closing

[2019-07-12 21:04] #1752 closed

[2019-07-13 03:40] arokem commented on #1856
It looks like it required some manual configuration. I got an email from what I think was a person and it sounded like they had to do something on their end. I have no idea who that other user was and why they decided to designate that the upstream.

[2019-07-15 14:11] luqily opened #1901 "window.record() function shows the coronal view"
window.record() funtions always show the axial view of fiber orientation. So I want to know how can I show the coronal view of fiber orientation.

[2019-07-15 15:50] #844 closed

[2019-07-15 16:40] jhlegarreta commented on #1901
@luqily this is more a question having to do with [FURY](https://fury.gl/latest/index.html), which is the rendering tool used by DIPY.

In order to display an arbitrary orientation, you will need to set the appropriate angle for the camera in the [scene](https://github.com/fury-gl/fury/blob/1aed2cace52d0750036537e3eac663d3251548fb/fury/window.py#L24).

The [Visualize bundles and metrics on bundles

[2019-07-15 20:03] arokem commented on #1841
Hello everyone! Our next lab meeting is happening tomorrow at 1600 UTC.

I think that it would be good to take the opportunity to revisit our TODO list for 1.0 and make a concrete plan towards the release.

Link for the call: https://washington.zoom.us/j/812354748

[2019-07-16 15:40] skoudoro commented on #1724
fix by #1899, I think. Closing for the moment. We can reopen it if this error reappears

[2019-07-16 15:42] skoudoro commented on #1694
It is a really long time we did not get this error / weird behavior. Closing! Feel free to reopen it if you see it again

[2019-07-16 15:42] #1694 closed

[2019-07-16 16:33] arokem commented on #1587
Hey @yarikoptic :  sorry for the slowness here. Do you have any idea: how would we know that we are on a s390x machine? Is there something in the os module that can tell us that?

[2019-07-16 16:40] arokem commented on #1095
Need to check whether this is because `minimize` is much slower than `leastsq`. If it's not, then this is no longer relevant.

[2019-07-16 19:22] yarikoptic commented on #1587
I guess what matters is the endianness -- `sys.byteorder` to consult

[code]

[2019-07-16 19:31] arokem commented on #1587
Thanks @yarikoptic!

@skoudoro : are you on it?

[2019-07-16 19:34] skoudoro commented on #1587
ok, on it!

[2019-07-16 23:46] jhlegarreta commented on #583
@skoudoro following what was discussed in today's dev meeting, I would close this issue. IMHO, it is unlikely that it gets more updates. We do have a minimal style guide, and it is a starting point. If at some point we find that it needs more content, we may re-open the issue then or just open a PR with the new content.

[2019-07-17 06:00] effigies opened #1906 "Add python_requires=">=3.5""
## Description

I noticed that you've dropped tests, and presumably support, for Python 2.7 and 3.4. If you add the `python_requires=">= 3.5"` option to your `setuptools.setup()` call, then Python versions lower than 3.5 will not attempt to install versions built with that option.

It looks like the main effect in version 0.16.0 is that 2.7 and 3.4 manylinux wheels aren't getting built, so it just

[2019-07-17 14:34] skoudoro commented on #1906
Thank you @effigies, that's a good idea, will do!

[2019-07-17 15:50] skoudoro commented on #583
ok, I agree, let's close it.

[2019-07-17 15:50] #583 closed

[2019-07-20 13:57] skoudoro commented on #1747
specific to python 2.7, and it is a long time we did not see this error. closing

[2019-07-20 13:57] #1747 closed

[2019-07-20 14:02] #1718 closed

[2019-07-20 16:10] luqily commented on #1901
@jhlegarreta Thanks for your reply.
I would like to refer to the example [sfm_reconst.html](url), but it shows the axial view of fiber orientation by default. I want to change the axial view to the coronal view.
So if I don't need to show the streamline, but just the fiber direction as in the example, do I still need to use FURY?

[2019-07-20 16:44] jhlegarreta commented on #1901
Yes.

[2019-07-21 12:05] luqily commented on #1901
@jhlegarreta Thanks a lot!

[2019-07-21 12:05] #1901 closed

[2019-07-21 15:34] jhlegarreta commented on #718
I can give this a try @arokem.

I have a few questions that come into play while attempting to write a draft version:

A fundamental one:
- As for the `isotropic` parameter of the SFM signal, I am wondering why the regular/single shell SFM example does not use the exponential model?

More specific ones:
- Will we limit the model to fit the data in a given region of the brain? If yes, which one?
-

[2019-07-21 20:51] skoudoro commented on #1906
fixed by #1911, closing

[2019-07-21 20:51] #1906 closed

[2019-07-22 21:26] ShreyasFadnavis commented on #718
@jhlegarreta +1 for relocating!! Any ideas on where this should go? @arokem @Garyfallidis @skoudoro would `sims` be a good idea?

[2019-07-24 07:42] luqily opened #1920 "How can I get streamlines using fiber orientation by bedpostx of MRtrix3?"
I have got the fiber orientation files 'dyads<i>' by bedpostx of MRtrix3. Now I want to get streamlines using them. What should I do?

[2019-07-24 10:04] #1779 closed

[2019-07-24 10:04] #1432 closed

[2019-07-24 13:15] Garyfallidis commented on #1920
lol wrong github repo to ask this question. Still funny.

[2019-07-24 13:15] #1920 closed

[2019-07-24 14:10] Garyfallidis opened #1921 "Make docstrings of workflows a bit prettier"
There are some small issues concerning how we show references in workflows.
See for example dipy_fit_dti -h

![image](https://user-images.githubusercontent.com/134276/61800512-2d4e1800-adfb-11e9-8854-e0e00624f796.png)

The numbers are not indexed in the docstring and the additional overall publication looks hanging perhaps we need to add a linespace and a remark.

[2019-07-24 14:38] #728 closed

[2019-07-24 15:26] RafaelNH commented on #1920
@luqily - not sure if I get your question. Do you intend to produce streamlines using Dipy from files produced by MRtrix3? If that is the case - it might be possible to program a function to do that - but you really have to ask the MRtrix team to know how they save the fiber orientation in their files. Also, keep in mind that supporting compatibility with output files of other packages goes out of

[2019-07-25 15:55] skoudoro commented on #283
fixed by #1916, closing

[2019-07-25 15:55] #283 closed

[2019-07-26 14:16] skoudoro commented on #1832
fixed by #1812, closing

[2019-07-26 14:16] #1832 closed

[2019-07-26 14:17] skoudoro commented on #1722
fixed by #1812, closing

[2019-07-26 14:17] #1722 closed

[2019-07-26 17:32] arokem commented on #1765
For 1.0, let's add a warning that this module is still under heavy development and API is likely to change. I will make a PR later today!

[2019-07-26 17:44] Garyfallidis commented on #1765
Just a reminder here for @BramshQamar and @arokem that we need to

- [ ]  bundles_analytics because it deals with filenames should go to workflows
- [ ]  assignment_profiles and afq_profiles should have options to provide the same number/types of outputs and similar input.
- [ ]  dti_measures should be renamed in a more generic and precise way
- [ ]  check tables of hd5 for consistency across new

[2019-07-26 18:08] #590 closed

[2019-07-26 18:09] #389 closed

[2019-07-28 14:47] luqily opened #1930 "dipy.io.peaks.load_peaks() IOError: This function supports only PAM5 (HDF5) files"
I have three arrays of fiber orientation. And I want to get streamlines using them.
The function LocalTracking() need a 'direction_getter' parameter. So I wanted to convert the arrays into 'PeaksAndMetrics' objects and passed them to the parameter, but failed. Specifically, I wanted to write the arrays into the HDF5 files and used the function load_peaks().

There are code and error.
`
fiber_or1='

[2019-07-29 22:24] Garyfallidis opened #1936 "Update Dpy format to include header info and metrics"
This is a reminder to update the .dpy format to have anatomical information such as ```vox_size, vox_to_ras matrix, vox_order, vox_dim and vol_dimensions```. Also let's start saving ``data_per_point`` and ``data_per_streamline`` information as used in Tractogram class.

[2019-07-29 22:27] Garyfallidis commented on #1936
@frheault remind me to make sure to check that this update works really well with the StatefulTractrogram and with LazyTractoram

[2019-07-29 23:06] skoudoro commented on #1558
fixed by #1928 and #1925, closing

[2019-07-29 23:06] #1558 closed

[2019-07-29 23:07] #985 closed

[2019-07-29 23:08] skoudoro commented on #985
This example code will be removed

[2019-07-30 12:43] effigies opened #1938 "Auto-clearing the AppVeyor queue backlog"
## Description

Hi all. DiPy has a pretty long build, which can end up causing congestion for other nipy projects when a lot of commits are pushed in a relatively short period, particularly for AppVeyor, which only gets one simultaneous job.

Occasionally if the queue is getting long, I will kill the builds for all but the most recent commits on AppVeyor, so each PR will not build superseded commi

[2019-07-30 13:32] skoudoro commented on #1938
Hi @effigies,

Thank you really much for this! It makes me crazy too. We are thinking to move to Azure and leave Appveyor, they allow 10 parallel jobs / illimited time on Windows for opensource software. I will set up that for the release 1.1.

Unfortunately, I do not have access to the `nipy/dipy` account on Appveyor so I can not set up this. @arokem or @Garyfallidis, Can you do it?

Thank you fo

[2019-07-30 13:47] effigies commented on #1938
Same. Anything beyond working with a few PRs a day is just unmanageable with AppVeyor.

[2019-07-30 18:20] larsoner commented on #1938
I just came to look into asking y'all to enable this. Been waiting 3h and counting for a PySurfer PR to run...

I have admin rights for the Nipy org on AppVeyor so I enabled this for dipy. Let me know if you want me to revert.

[2019-07-30 18:23] skoudoro commented on #1938
Sorry for that...

Thank you!

[2019-07-30 20:46] skoudoro commented on #1890
fixed by #1892, closing

[2019-07-30 20:46] #1890 closed

[2019-07-30 20:48] #1587 closed

[2019-08-01 03:08] skoudoro commented on #1774
fixed by #1944, closing. Thanks @RafaelNH

[2019-08-01 03:08] #1774 closed

[2019-08-01 10:01] #1817 closed

[2019-08-01 15:35] skoudoro opened #1945 "Border on localpca and mp-pca"
Just a reminder for fixing [this comment](https://github.com/nipy/dipy/pull/1917#issuecomment-517330077)

[2019-08-01 15:45] RafaelNH commented on #1945
Yes - I will give a look to this issue! Thanks @skoudoro, thanks @15thai!

[2019-08-01 17:03] RafaelNH commented on #1945
@skoudoro, @15thai - I just give a look to this issue but I didn't detect any problem. The centre of the sliding window goes from ``patch_radius`` to ``arr.shape - patch_radius`` but that doesn't mean that edges are not being corrected. Please note that we use all the voxels of the sliding windows for PCA denoising exactly to reach the edges. Overlapping voxels by the sliding window are then combi

[2019-08-01 18:56] Garyfallidis commented on #1945
@RafaelNH The bias will come from the overcomplete averaging of the patches. The corner voxels will not be updated as much as their neighboring voxels.

[2019-08-01 19:16] RafaelNH commented on #1945
Indeed, corner voxels will not be updated as much, but we take that in to account on the weights of the average. One might argue that this might create a precision issue but not a bias.

Anyway, one might think on many strategies to fill corner voxels (overcomplete averaging was the one we implemented from the work of Manjon); however, this should not be classified as a bug on the code.

[2019-08-01 19:24] Garyfallidis commented on #1945
This is affecting all boundary voxels (not only corners). The fix should be trivial using np.pad.
However, I do agree that this is not a critical issue. Still it should be addressed with some data that have slices on the boundaries. Most data will just have black background on the borders. But not all.

[2019-08-01 19:26] skoudoro commented on #1945
Tag updated 😄. Indeed, it is not a critical issue, it is, for this reason, it can wait for the next release

[2019-08-05 18:33] skoudoro opened #1949 "Update Horizon"
This is a follow up on #1924. We need:

- [x] to Increase coverage
- [x] fix Xvfb Issue  (test is passing but ends with this error `XIO:  fatal IO error 0 (Success) on X server ":1141358823" after 4280 requests (4280 known processed) with 10 events remaining`
- [x] Add documentation

[2019-08-05 18:59] #1798 closed

[2019-08-07 01:21] skoudoro commented on #1442
fixed by #1445, closing

[2019-08-07 01:26] skoudoro commented on #1791
fixed by #1792, closing

[2019-08-07 01:26] #1791 closed

[2019-08-07 18:12] Garyfallidis opened #1950 "StatefullTractogram error in Horizon"
In Horizon when 's' is pressed the .trk is not saved and an error is given.
[code]
@frheault ?

[2019-08-07 18:25] skoudoro commented on #1950
Just to be more explicit, it will be nice to have the same feature as `load_tractogram` with `same` keywords.
here the problem: `sft = StatefulTractogram(streamlines, 'same', Space.RASMM)`  do not work

[2019-08-07 18:26] Garyfallidis commented on #1950
Yeah, I was just explaining the same. The 'same' parameter is not checked. Thanks @frheault.

[2019-08-07 22:22] frheault commented on #1950
@skoudoro @Garyfallidis Yeah but you can't do that, how is the object supposed to know "same" when you are creating the object ?
If you want to save something using the same reference as another StatefulTractogram, you can use a StatefulTractogram as a reference too.

But "same" when you create the object does not make any sense, you have to provide something

[2019-08-12 10:41] #1442 closed

[2019-08-12 15:55] arokem commented on #1841
No meetings in August. We'll resume on September 10th.

[2019-08-13 21:15] skoudoro commented on #1793
citing @Garyfallidis from #1401

We need to explain the other coders that the output parameters should always be after out_dir and the docstrings should have exactly the same order as the input parameters. Consistency, is critical for our workflow system.
Also we need to explain the difference between int and variable int.

[2019-08-13 21:15] skoudoro commented on #1401
duplicate, closing in favor of #1793

[2019-08-13 21:15] #1401 closed

[2019-08-17 00:40] drammock opened #1955 "where is intersphinx inventory under new website domain?"
## Description
In the recent move from https://nipy.org/dipy to https://dipy.org, your `objects.inv` file has gone missing, which means we (MNE-Python) can't cross-reference your docs using intersphinx anymore. Our CircleCI doc tests now fail with
[code]
What is the new URL of your `objects.inv` file, so we can update our intersphinx mapping?

cc mne-tools/mne-python#6671

[2019-08-17 01:56] larsoner commented on #1955
I would have expected it to live in https://dipy.org/documentation/1.0.0./reference/objects.inv or https://dipy.org/documentation/1.0.0./objects.inv. I think there is some systematic problem here because all three links under this heading (Index, Module Index, Search Page) are broken:

https://dipy.org/documentation/1.0.0./documentation/#indices-and-tables

Maybe in moving the website not everythi

[2019-08-17 02:48] skoudoro commented on #1955
I agree, I would expect the same, I will look deeper to see what happens. Thank you for the notification

[2019-08-19 15:20] skoudoro commented on #1955
Hi @drammock and @larsoner,

it should work now on: [https://dipy.org/documentation/1.0.0./objects.inv](https://dipy.org/documentation/1.0.0./objects.inv) or [https://dipy.org/documentation/latest/objects.inv](https://dipy.org/documentation/latest/objects.inv)

Sorry for the late fix

[2019-08-19 15:20] #1955 closed

[2019-08-19 19:03] drammock commented on #1955
thanks @skoudoro, our doc builds are green again :slightly_smiling_face:

[2019-08-25 04:12] arokem commented on #1724
Looks like this one has reared its ugly head again. See this failure https://ci.appveyor.com/project/skoudoro/dipy-5dd9b/builds/26873859/job/ciqcmaxv7ooiglnc
(appears on the unrelated #1948)

Reopening...

[2019-08-27 20:10] arokem opened #1959 "DIPY open lab meetings -- fall 2019"
The schedule for upcoming lab meetings is:

September 10th, 1600 UTC: new website (@Garyfallidis)
September 24th, 1600 UTC: 1.1 Release (@skoudoro)
October 8th, 1600 UTC: New encoding schemes (@RafaelNH leads the discussion)
October 22nd, 1600 UTC: Workflows (@skoudoro)
November 5th, 1700 UTC:  FWDTI (@RafaelNH)
November 19th, 1700 UTC: Registration (@skoudoro)
December 3rd, 1700 UTC: Horizon (@Ga

[2019-08-30 12:38] RafaelNH commented on #1959
Works for me!

[2019-09-01 12:27] #1840 closed

[2019-09-01 13:06] larsoner commented on #1955
It appears there is still a problem with the redirect:
[code]
This trailing slash causes [our links](https://mne.tools/dev/generated/mne.SourceMorph.html#mne.SourceMorph) to look like:

https://dipy.org/documentation/1.0.0./objects.inv/reference/dipy.align/#dipy.align.imaffine.AffineMap

For now we will work around it by linking to the `1.0.0.` URL, but it would be nice at some point to link to `l

[2019-09-01 13:08] larsoner commented on #1955
Actually even using the `1.0.0.` I get:
[code]

[2019-09-01 13:18] larsoner commented on #1955
This workaround works in the meantime:
[code]

[2019-09-01 20:53] jhlegarreta commented on #1724
:confused:
https://docs.scipy.org/doc/numpy-1.13.0/user/basics.byteswapping.html
is may be relevant?

[2019-09-04 18:19] skoudoro commented on #1955
Hi @larsoner, I do not understand your original question concerning the problem with `redirect`.

I saw that you fix it, but I would like to make sure that there is a hidden problem

ps: Sorry for the late answer

[2019-09-04 18:25] larsoner commented on #1955
The URL:
[code]
Redirects to:
[code]
To see it using `wget`:
[code]
This is a problem because, even though the inventory downloads, links are rendered by Sphinx *with objects.inv/ in the path*, such as the following (broken) link:

https://dipy.org/documentation/1.0.0./objects.inv/reference/dipy.align/#dipy.align.imaffine.AffineMap

When in a correctly working setup it should point here (note the

[2019-09-04 18:26] larsoner commented on #1955
(In other words, I think you have some server misconfiguration that is breaking `intersphinx` by default, but can be worked around by end-users such as us using the fix above)

[2019-09-04 18:34] skoudoro commented on #1955
Ok, Thank you for the clear explanation!

will look into it.

[2019-09-09 16:02] arokem commented on #1959
Reminder: we will have a lab meeting tomorrow at 9 AM PST, noon EST, 16 UTC.

@Garyfallidis will give us a run-down of the new website and its capabilities.

We can also spend a bit of time planning our meetings for the rest of the Fall.

The call link is: https://washington.zoom.us/j/812354748

[2019-09-10 16:54] arokem commented on #1959
@RafaelNH : I've assigned you to lead the discussion on encoding schemes on 10/8! Let me know if that doesn't work for you.

@ecaruyer : We are thinking about new encoding schemes for DIPY and we'd like to have a discussion about this at the DIPY lab meeting on 10/8 (1600 UTC). Would be great if you could join us for this meeting. We know you have thought about this a lot, so your feedback would b

[2019-09-10 16:57] arokem commented on #1959
Schedule update through the end of 2019. Take a look!

[2019-09-10 17:03] dPys opened #1968 "Broken site links (404) on new website when accessed from google"
e.g. https://dipy.org/reference_cmd/dipy_recobundles.html

-> Redirect old URLs to reclaim these links

[2019-09-10 20:51] ecaruyer commented on #1959
Sounds great! Oct 8th 1600 UTC works for me, I put it on my calendar.

[2019-09-13 17:46] d-v-b opened #1969 "imaffine mask support"
## Description
Affine registration doesn't support masked regions. The mutual information metric does appear to have some mask support, but it's not exposed by `AffineRegistration`. Is this on the roadmap?

[2019-09-13 18:33] skoudoro commented on #1969
Hi @d-v-b,

Thank you for pointing that, we will try to look into it. Indeed, I saw some mask support and test for the `ParzenJointHistogram` but we need to go deeper and play a bit with it. But feel free to create a PR if you see exactly what needs to be done!

[2019-09-13 18:36] d-v-b commented on #1969
Hi @skoudoro
I'm playing around with the code at the moment to try and understand things properly... If I feel like I can get the mask stuff working I will absolutely submit a PR.

[2019-09-15 18:53] d-v-b commented on #1969
@skoudoro I got the masking working in the `mask` branch of my fork of `dipy`, e.g.: https://github.com/d-v-b/dipy/blob/mask/dipy/align/imaffine.py

Here are the results: the middle blob is moved while the outer 8 blobs remain in place. Aligning without a mask doesn't find the translation of the middle blob, but using a mask to focus the optimization on the central region (colored square) does fin

[2019-09-15 19:31] skoudoro commented on #1969
Good job @d-v-b ! The result look nice! Will look into your code tonight or tomorrow.

Concerning the test, I agree that your example above is a nice test case. Look forward to see your benchmarking results!

[2019-09-23 21:39] skoudoro commented on #1959
Reminder: we will have a lab meeting tomorrow at 9 AM PST, noon EST, 16 UTC.

The topic is DIPY 1.1 Release Plan. We will go through some PR's and establish a priority list for the future release in October. If you have any request, be present tomorrow!

The call link is: https://washington.zoom.us/j/812354748

[2019-09-26 16:24] arokem opened #1973 "Recobundles documentation"
I am trying to understand how recobundles performance is affected by changes to parameters, but I am not 100% sure that I understand what the parameters mean and the doc-string is a bit sparse at the moment. For example, what do `model_clust_thr` and `reduction_thr` do? It would be great to flesh this out here: https://github.com/nipy/dipy/blob/master/dipy/segment/bundles.py#L173-L209

[2019-09-26 19:53] skoudoro commented on #1973
Thank you @arokem for pointing that. I just assigned this to @Garyfallidis, he will give you a more precise answer.

[2019-09-27 04:14] #1968 closed

[2019-09-27 04:18] skoudoro commented on #1968
Thank you @dPys, it is fixed now!

[2019-09-27 04:21] dPys commented on #1968
;-)

[2019-09-27 19:13] l-espana opened #1974 "MAP-MRI optimization & validation errors"
I haven't found mention of this issue anywhere so apologies if I'm missing something. We're using the basic reconst mapmri example script (with a few changes) on some of our data, but some subjects have the following errors/warnings:

**/usr/local/lib/python3.6/dist-packages/dipy/reconst/mapmri.py:396: RuntimeWarning: invalid value encountered in true_divide
  data_norm = np.asarray(data / data[se

[2019-10-02 12:23] arokem commented on #1974
Without knowing more, I am going to guess that these warnings are not of major concern. My intuition is that they are coming from voxels in your data that contain physically implausible values, due to noise, or measurements in parts of the measurement that do not exhibit brain-like properties. This often happens in the skull or even outside the head, where all you are measuring is noise.

[2019-10-02 12:26] arokem commented on #1930
Sorry that it has taken this long to reply here. I think that this is just due to file naming. The loading function you are using expects files to be named ending in the `pam5` extension (see [here](https://github.com/nipy/dipy/blob/master/dipy/io/peaks.py#L44-L45)).

I am still not 100% sure that this would work, even if you changed that detail, but worth trying.

[2019-10-02 12:32] arokem opened #1976 "Better warning when dipy is installed without fury"
## Description

If dipy is installed without fury, and the following line (from our examples) is run:

`from dipy.viz import actor, window, ui`

the user will likely see an uninformative error:

[code]

This is because the current implementation of `optional_pkg` doesn't handle `from foo import bar` imports elegantly.

I think that we should provide more useful information [here](https://github.co

[2019-10-02 15:21] l-espana commented on #1974
Thanks for your response. Yes, the initial warnings would appear to be voxels outside the brain (despite using a brain mask as the mask_roi if I remember correctly), but could this also be the cause of the validation errors during the laplacian regularization and positivity constraint process? That or some other noise? Or is there possibly some other issue?
I did a quick visual inspection of subje

[2019-10-08 09:11] RafaelNH commented on #1959
Reminder: Today, October 8th, we have a lab meeting at 1600 UTC.

I will be leading a discussion about new diffusion encoding schemes.

[2019-10-11 06:57] luqily commented on #1930
Thanks for your reply! ^^

[2019-10-11 06:57] #1930 closed

[2019-10-12 21:46] skoudoro opened #1982 "small bug in recobundles for mam"
Just a quick reminder to fix the issue [in this line](https://github.com/nipy/dipy/blob/master/dipy/segment/bundles.py#L466).   Use MAM instead of MDF

[2019-10-14 23:32] skoudoro commented on #1950
Make sense, closing this issue. A workaround needs to be found for this part of Horizon.

Thank you @frheault!

[2019-10-14 23:32] #1950 closed

[2019-10-15 06:00] skoudoro commented on #1859
After playing with Azure on #1975, I think our design is ok. So it is not necessary to keep that open at the moment.

[2019-10-15 06:00] #1859 closed

[2019-10-17 04:16] skoudoro commented on #1976
Fixed by #1977 , closing

[2019-10-17 04:16] #1976 closed

[2019-10-17 21:01] arokem opened #1985 "Something is wonky with the AFQ tracts profile example"
This figure looks quite wrong:

![image](https://user-images.githubusercontent.com/118582/67047177-a1404980-f0e6-11e9-8063-7d18c20f7fc9.png)

[2019-10-17 21:02] arokem commented on #1985
I'm getting this when running locally on my laptop
![tract_profiles](https://user-images.githubusercontent.com/118582/67047245-cc2a9d80-f0e6-11e9-9481-981fb5a65c26.png)

Which seems about right.

[2019-10-17 21:18] skoudoro commented on #1985
here what I'm getting on my macOS (python3.7). Different results from both of you...

![tract_profiles](https://user-images.githubusercontent.com/23106443/67048368-62d17b80-f134-11e9-8af8-2a44a211948c.png)

[2019-10-17 21:23] arokem commented on #1985
Wow. That's a head-scratcher. I'm also on MacOS, with python 3.7. I have a hunch that it might have to do with the state of our examples directory when we start running this, because these results depend on tracking and then on bundle recognition, so there are a bunch of moving pieces upstream from this.

[2019-10-17 21:34] arokem commented on #1985
Deleting my entire examples directory, getting a fresh checkout of all these files, and then rerunning resulted in the same figure I got before.

[2019-10-17 22:16] captainnova commented on #1985
My figure looks sort of like skoudoro's for the CST, but more like the tutorial page's for the AF (it is a bit different, though):
![tract_profiles](https://user-images.githubusercontent.com/15852777/67051816-d4440680-f101-11e9-8973-f75f3729bba8.png)

[2019-10-17 22:30] arokem commented on #1985
Maybe we should fix the RNG seeds in bundle_extraction?

here:
https://github.com/nipy/dipy/blob/master/doc/examples/bundle_extraction.py#L74

and here:
https://github.com/nipy/dipy/blob/master/doc/examples/bundle_extraction.py#L123

It would be strange if the random element in that script resulted in such
large discrepancies, but it might be useful to check that.

Incoming with a PR.

On Thu, Oct

[2019-10-17 22:58] arokem commented on #1985
I fixed the random seeds in #1986. Still getting a figure very similar to the one shown above.

Could you try fetching this down or similarly fixing the seeds and rerunning?

Please make sure to delete the files CST_L.trk, AF_L.trk and slr_transform.npy before running afq_tract_profiles.

[2019-10-17 23:58] skoudoro commented on #1985
here, what I obtain with your branch (still macOS):

![tract_profiles](https://user-images.githubusercontent.com/23106443/67056020-b949b480-f14a-11e9-994b-83c3dd89239e.png)

[2019-10-18 04:16] arokem commented on #1985
Yeah. That looks more like it. I suspect that recobundles sometimes hits a bad starting condition, which could manifest in several different ways (including what we see in our current website build). Merging #1986 would fix it for this case.

[2019-10-18 16:57] captainnova commented on #1985
I tried deleting CST_L.trk, AF_L.trk and slr_transform.npy, rerunning bundle_extraction with the seeds in #1986, and then afq_tract_profiles, but I still get different tract profiles:
![tract_profiles](https://user-images.githubusercontent.com/15852777/67112711-75cc6600-f19d-11e9-8109-71ba4b95e9b7.png)

I am using CentOS7, so maybe my np.random.RandomState(1984) does not give the same answer as it

[2019-10-22 03:49] arokem commented on #1959
Reminder: tomorrow’s meeting a at 9 am PT/ noon ET/ 1600 CET. @skoudoro will be leading a discussion on workflows.

[2019-10-23 13:02] skoudoro commented on #1982
Fixed by #1987. Closing

[2019-10-23 13:02] #1982 closed

[2019-10-23 15:28] skoudoro commented on #1870
Hi @ShreyasFadnavis,

What is the status of this? Any chance to have it ready for the release next week?

[2019-10-23 15:52] ShreyasFadnavis commented on #1870
@skoudoro Yes, I will follow up with a PR shortly!
Thanks :+1:

[2019-10-27 21:09] mdesco opened #1991 "[DISCUSSION] b-tensor encoding gradient table format"
## Description
Moving an email thread to this DIPY issue.
We need to discuss plan of action for b-tensor encoding gtab support in DIPY.
@RafaelNH should take the lead or initiate a Doodle.

### Previous email discussion

Mail 1:
Hey Rafael and Dipy-ers,

I missed the lab meeting yesterday, sorry. Etienne talked to me today.

I’m cc-ing 2 students from my lab involved in b-tensor encoding and md-dm

[2019-10-28 14:27] RafaelNH commented on #1991
Thanks @mdesco! Yes, I will take the lead on this! I will go back to it ASAP!

[2019-10-28 15:38] xxhdd commented on #1828
@ShreyasFadnavis Hello, I'm trying out ivim varpro reconstruction using dipy, and getting error message " `x0` is infeasible." while not setting the bounds, and "Inconsistent shapes between bounds and `x0`." after setting bounds. the 'trr' method won't give this error. May I ask how should I solve this? Thanks!

[2019-10-28 15:58] arokem commented on #1991
Thanks for moving the conversation here! Worth also keeping an eye on
related discussions going on in the BIDS standard repo:
https://github.com/bids-standard/bids-specification/issues/349 and
https://github.com/bids-standard/bids-specification/pull/352.

For completeness, and for future reference, the link to the data is:
https://www.sciencedirect.com/science/article/pii/S2352340919305621?via%3Di

[2019-10-28 17:59] ShreyasFadnavis commented on #1828
Hi @xxhdd ! Thank you for reaching out and reporting this. As for the bounds, there are certain things to keep in mind when using `VarPro` as it's a slightly different optimizer as compared to `trr`. Can I take a quick look at your code? You can mail it to me on shreyasfadnavis@gmail.com

On a side note, are you using a mask?

[2019-10-28 18:02] arokem commented on #1828
@xxhdd : You can post the code here, so that people other than @ShreyasFadnavis can see it, and so that we don't have to wonder what happened a year down the line, when we're dealing with any other issues.

[2019-10-29 11:01] stnava opened #1992 "MD bad / FA good"
## Description

Having trouble with this data - mean diffusion does not look right though FA does.

Data here:

https://wetransfer.com/downloads/df9be6e4c7add52682f534a444af743920191029105733/622aabddee6543d2fb0419973a65744b20191029105733/d6cc19

Gist here:

https://gist.github.com/stnava/306b5e810ad705c2c11ba62a7c06a194

this is using a pip install on osx Catalina from today .... I am not sure if

[2019-10-29 17:02] #184 closed, assigned to ecaruyer

[2019-10-29 17:09] arokem commented on #1992
I see you are using RESTORE. Does this work OK when using the vanilla tensor model?

[2019-10-29 17:16] stnava commented on #1992
Restore fails to complete ... the default model produces good fa / bad  md.

Both models are shown in the code snippet.

On Tue, Oct 29, 2019 at 1:09 PM Ariel Rokem <notifications@github.com>
wrote:

--

brian

[2019-10-29 17:19] stnava commented on #1992
Yes some error I  didn’t understand; all of the data is there if you want
to try it yourself.

On Tue, Oct 29, 2019 at 1:18 PM Ariel Rokem <notifications@github.com>
wrote:

--

brian

[2019-10-29 17:33] arokem commented on #1992
Yeah - based on the error I am seeing, I'd guess that the sigma is too
small, so for some voxels too many observations get Winsorized.

Still looking at the standard method.

On Tue, Oct 29, 2019 at 10:19 AM stnava <notifications@github.com> wrote:

[2019-10-29 22:08] stnava commented on #1992
@cookpa ... I think we talked about this before but not sure if we ever shared data.  I would really like to know what is going on here. I can possibly share the Dicom as well as perhaps the issue goes deeper.

[2019-10-29 22:16] arokem commented on #1992
Looks like there are a small number (<50) voxels for which the MD is higher
than 0.01. Once I clip these out, the images look sort of OK. I would
investigate what's up with these voxels and where they are. If this is
outside of your tissue of interest (e.g., in the skull) maybe you don't
need to worry  about this, and clip to the physiological range?

On Tue, Oct 29, 2019 at 3:08 PM stnava <notifi

[2019-10-29 22:25] stnava commented on #1992
I apologize for my ignorance but what is the physiological range?

If you think this is just a few outliers and nothing is fundamentally wrong then I am happy to go with your suggestion.

[2019-10-30 00:01] #1992 closed

[2019-10-30 00:49] ShreyasFadnavis commented on #1828
PR #1993 should fix this. The issue was that @xxhdd is working with animal data that is not the brain. the `x0` is not feasible error has been handled by reusing the same procedure used in `trr`.

[2019-10-30 03:41] arokem commented on #1992
Diffusivity of water at body temperature is approximately 0.003 m^2/ms (that's the values in the ventricles, for example), so that's about as high a diffusivity as you expect to find within the physiological range.

[2019-10-30 15:09] cookpa commented on #1992
It looks like the MD image has been scaled by 1000. There are huge outliers, which often happens without a brain mask. Fixing the contrast to 0-4000 makes the image look normal in `fsleyes`.

[2019-11-04 19:12] RafaelNH commented on #1959
Reminder: Tomorrow, November 4th, we have a lab meeting at 1600 UTC.

@mvgolub and I will give an update of the work done in free water DTI algorithms for single-shell algorithms.

[2019-11-04 19:23] skoudoro opened #1995 "ModuleNotFoundError: No module named 'numpy.testing.decorators' (Numpy 1.18)"
As you can see [here](https://travis-ci.org/nipy/dipy/jobs/607202472#L2187), `USE_PRE` is failing with the new Numpy 1.18. This needs to be fixed before any release.

Lucky us 😄 , this is done on https://github.com/nipy/dipy/pull/1975!

So it will be good if we make some decisions about this PR.

[2019-11-05 15:40] jhlegarreta opened #1996 "Documentation not being rendered correctly"
## Description
The documentation of some methods is not being rendered correctly: the variable name and the type are rendered with no space in between: check for example the documentation of
[dipy.align.diffeomorphicregistration](https://dipy.org/documentation/1.0.0./reference/dipy.align/#diffeomorphicregistration)
or
[dipy.core.gradient-table-from-gradient-strength-bvecs](https://dipy.org/documen

[2019-11-05 15:40] jhlegarreta commented on #1996
@skoudoro @Garyfallidis Any insight as to why this is happening?

[2019-11-05 17:05] arokem commented on #1959
This should be 1700 UTC moving forward. I also just updated the comment at the top of this issue.

[2019-11-07 15:34] ShreyasFadnavis commented on #1870
Done!
Thanks!! @arokem and @skoudoro 👍

[2019-11-07 15:34] #1870 closed

[2019-11-15 21:03] mdesco opened #2003 "Artefacts in DKI reconstruction"
I wrote a personal email to @RafaelNH about problems I was having using DKI reconstruction on multi-shell data. I move the discussion here because it may help other dipy users.

Answer from @RafaelNH :

This indeed helped and the MSDKI model is much more robust in these artefacted voxels.

Thanks!
(issue closed)

[2019-11-15 21:05] arokem commented on #2003
Thanks so much for reporting here! Since this seems already resolved, I will go ahead and close it.

[2019-11-15 21:08] Garyfallidis commented on #2003
Thanks for reporting @mdesco !

[2019-11-15 21:09] Garyfallidis commented on #2003
I suggest this information also be added in the tutorial as advice @RafaelNH if not already there.

[2019-11-15 21:09] skoudoro commented on #2003
I didn't check the tutorial but I think it would be good to add this information in the tutorial. So we should keep this issue open for informing the users.

Thank you for reporting!

[2019-11-15 21:12] arokem commented on #2003
Yes. Good call! Reopening.

[2019-11-18 11:55] fvdnabee opened #2004 "Add wheels for python 3.8 to pypi"
## Description
Currently users have to build their own wheel from source when installing dipy 1.0 via pip under python 3.8. [Pypi](https://pypi.org/project/dipy/#files) lists 3.5, 3.6 and 3.7 wheels for dipy 1.0. Consider providing 3.8 wheels for the supported platforms.

[2019-11-18 13:20] skoudoro commented on #2004
Thank you for pointing that @fvdnabee! We will look into it.
We should add some matrix to our CI's too.

[2019-11-18 14:50] skoudoro commented on #1959
Reminder: Tomorrow, November 19th, we have the online DIPY lab meeting at 1700 UTC.

The topic: Quick overview and discussion about DIPY registration framework. You might be interested @Borda , @grlee77, @omarocegueda, @d-v-b.

The call link is: https://washington.zoom.us/j/812354748

[2019-11-19 19:40] skoudoro commented on #1995
fixed by  #1975, closing

[2019-11-19 19:40] #1995 closed

[2019-11-19 23:38] skoudoro opened #2006 "get_data deprecated"
Nibabel deprecate `get_data()`. We should start slowly to replace `get_data()` by either

- `get_fdata()` from Nibabel
- `load_nifti`.  this is our small interface

I suggest updating our tutorials with `load_nifti`. I have no strong opinion concerning the rest of our codebase.

[2019-11-21 18:42] arokem opened #2007 "Reference for `load_trk` in recobundles example"
Reported by Giulia Berto on the [mailing list](https://mail.python.org/archives/list/dipy@python.org/message/6A2DNEGJBMWETNUWIZYE5NGQQJ36F4GK/):

"Does then the example "Automatic Fiber Bundle Extraction with RecoBundles" here https://dipy.org/documentation/1.0.0./examples_built/bundle_extraction/ need to be updated? I guess that sft_atlas = load_trk(atlas_file, "same", bbox_valid_check=False) nee

[2019-11-21 18:53] giulia-berto commented on #2007
Yes, the reference needed should be the one of the MNI space ICBM 2009a template.

Also, the example source code bundle_extraction.py related to the tutorial is not updated, and gives the following error:  TypeError: load_trk() missing 1 required positional argument: 'reference'.

[2019-11-26 14:38] CarinRae commented on #1313
Hi, I am now having the same issue:
---
   import vtk
  File "C:\Users\CarinETH\Anaconda3\envs\py2\lib\site-packages\vtk\__init__.py", line 41, in <module>
    from .vtkCommonCore import *
  File "C:\Users\CarinETH\Anaconda3\envs\py2\lib\site-packages\vtk\vtkCommonCore.py", line 9, in <module>
    from vtkCommonCorePython import *
ImportError: No module named vtkCommonCorePython
----------

I am u

[2019-11-26 16:35] skoudoro commented on #1313
Hi @CarinRae,

Are you sure about your VTK version? look like you have a newer version of VTK. I think you have some conflict with your environment but not sure.

`vtkCommonCorePython` should be in `C:\Users\CarinETH\Anaconda3\envs\py2\lib\site-packages\vtk\vtkCommonCorePython.pyd(or dll)` so if it is not present, this is an installation issue.  if it is present, this is a path environnment issue

[2019-11-27 12:28] CarinRae commented on #1313
Hi, Thanks for your reply. I double checked the directory as you listed and the vtkCommonCorepython.pyd exists in (C:\Users\CarinETH\Anaconda3\envs\py2\Lib\site-packages\vtk). When I run "conda list" I also return that I have vtk 7.0.0.

But, when I start python (in the same environment) and run import vtk I get the same error as above:
 File "<stdin>", line 1, in <module>
  File "C:\Users\CarinET

[2019-12-03 14:40] skoudoro commented on #1959
Reminder: Today, December 3rd, we have the online DIPY lab meeting at 1700 UTC.

The topic: Quick overview about DIPY Horizon by @Garyfallidis . You might be interested @giulia-berto.

The call link is: https://washington.zoom.us/j/812354748

[2019-12-05 23:37] Garyfallidis opened #2010 "Issue with sklearn update 0.22 - Attribute Error"
In sfm.py we are getting attribute error as there is a change in new sklearn update
"""
Line 358
 elif (isinstance(solver, opt.SKLearnLinearSolver) or
            has_sklearn and isinstance(solver, lm.base.LinearModel)):
Getting no         elif (isinstance(solver, opt.SKLearnLinearSolver) or

E           AttributeError: module 'sklearn.linear_model' has no attribute 'base'

../sfm.py:359: Attribut

[2019-12-06 03:57] #2010 closed

[2019-12-29 17:13] safwan20 commented on #2006
I am new to this codebase ..so may I know the filename so that I can make contributions.

[2019-12-29 17:36] skoudoro commented on #2006
Sorry @safwan20 , there is already a Pull Request for this one which is #2015. So it is almost done.

[2019-12-31 01:38] #2006 closed

[2019-12-31 22:17] skoudoro commented on #1949
done in #1965, closing

[2019-12-31 22:17] #1949 closed

[2020-01-02 16:32] b2jia opened #2019 "Apply deformation map to render "registered" image"
I'm picking up after another researcher's project. Specifically, they used DIPY's symmetric diffeomorphic coregistration tool to extract a deformation map between two co-registered images. From what I understand, deformation maps tell how to "warp" features of one image to another registered image.

Extracting these deformation maps are very clear and easy (ie. get_forward_map). I currently have a

[2020-01-02 16:39] arokem commented on #2019
Hi! Thanks for posting this question. I think that you might be looking for the `transform` (https://github.com/nipy/dipy/blob/master/dipy/align/imwarp.py#L501) or `transform_inverse` (https://github.com/nipy/dipy/blob/master/dipy/align/imwarp.py#L547) methods of that class.

[2020-01-02 19:55] skoudoro commented on #1634
Since https://github.com/nipy/dipy/pull/1862 has been merged, should we keep this issue open?

[2020-01-02 20:10] arokem commented on #1634
Closed by #1862

[2020-01-02 20:10] #1634 closed

[2020-01-02 21:07] #1777 closed

[2020-01-03 00:32] b2jia commented on #2019
Thanks @arokem ! I was reading through ```transform_inverse earlier```, and had a difficult time understanding what the method is really doing as many other methods it calls are heavily nested. Is there a paper you could refer me to that explains the algorithm?

The motivation behind this question is, I am trying to recapitulate what the ```transform_inverse``` in Tensorflow. Another coworker save

[2020-01-03 01:14] arokem commented on #2019
Does this example help? https://dipy.org/documentation/1.0.0./examples_built/syn_registration_2d/
Once you have the `mapping` variable, it has `forward` and `backward` arrays that hold your displacements on the 4th dimension. You can also inject these values from your saved images (I have an example of doing something like that [here](https://github.com/yeatmanlab/pyAFQ/blob/master/AFQ/registratio

[2020-01-03 22:23] skoudoro commented on #2003
closed by #2009

[2020-01-03 22:23] #2003 closed

[2020-01-03 23:18] arokem opened #2024 "DIPY open lab meetings, Winter 2020"
Welcome to 2020!

The schedule for upcoming lab meetings is:

January 9th, 0800 PT, 1100 ET, 1600 UTC, Topic: preparations for the March DIPY workshop at IU.
January 23rd, 0800 PT, 1100 ET, 1600 UTC Topic: @arokem on pyAFQ
February 6th, 0800 PT, 1100 ET, 1600 UTC Topic: @Garyfallidis on Horizon API
February 20th, 0800 PT, 1100 ET, 1600 UTC Topic: Workshop prep
March 5th, 0800 PT, 1100 ET, 1600 UTC

[2020-01-03 23:18] arokem commented on #2024
The first meeting will be devoted to a discussion of the preparations for the March DIPY workshop at IU.
We can also use that meeting to discuss schedule for the rest of the quarter.

[2020-01-03 23:19] arokem commented on #1959
Closed through #2024

[2020-01-03 23:19] #1959 closed

[2020-01-05 04:17] skoudoro commented on #1197
Not anymore relevant, closing

[2020-01-05 04:17] #1197 closed

[2020-01-06 14:30] Garyfallidis commented on #2024
Hi @arokem. The first date I think is incorrect. Jan 11th is a Saturday right? You mean Jan 9th?

[2020-01-06 18:22] arokem commented on #2024
I do in fact! Thanks for pointing that out. Now edited at the top as well. That's _this Thursday_ 1600 UTC.

[2020-01-06 18:38] Garyfallidis commented on #2024
Okay great, thanks for correcting this. Can you please send emails to the people as the first meeting is very soon.

[2020-01-06 18:56] andebag opened #2026 "ex vivo DKI reconstruction issues"
Hello,

I'm trying to reconstruct some kurtosis maps for ex vivo rodent brains using the dipy dki_mirco processing, but it seems to be zeroing out kurtosis values for much of the brain. Running the standard DTI processing with dipy gives me normal results from other processing techniques. I have tested the example in vivo human brain datasets and got the right results, so I know the code is workin

[2020-01-06 19:10] skoudoro commented on #2026
Hi @andebag,

Thank you for asking, I just tagged @RafaelNH who develop the DKI module, and he will get back to you as soon as he can.

[2020-01-06 19:35] andebag commented on #2026
@skoudoro thank you!

I also forgot to mention, the axial kurtosis generated seems to have the most complete reconstruction, but nearly 50% of the brain is still zeroed out. The radial (and mean) kurtosis map is the one nearly all zeroed out.

Ande

[2020-01-07 17:53] skoudoro commented on #2004
- wheels added on PyPi and Conda-forge with the new release DIPY 1.1.0. closing.
- Python 3.8 Matrix added on Travis and azure

Thanks @fvdnabee, closing

[2020-01-07 17:53] #2004 closed

[2020-01-08 21:04] skoudoro commented on #1853
Hi @AntoineTheb,

Any update concerning this new feature? it would be good to have it before the future [Workshop in March](https://workshop.dipy.org).

Please, let us know! I tag this issue for the next release 1.2.

[2020-01-08 21:07] skoudoro commented on #1828
Hi @ShreyasFadnavis,

What is the status of this issue?  I do not find the related PR, Can you point it to me?

Thank you

[2020-01-09 08:51] ShreyasFadnavis commented on #1828
Hi @skoudoro ! This issue has been resolved for @xxhdd . However I do intend to make a new PR with an updated version of this... I will also add the error handling withing that 👍

[2020-01-09 14:17] AntoineTheb commented on #1853
Sure ! I must admit I had totally forgotten about this, but I'll get back on this in the coming days and this should be ready soon.

[2020-01-09 15:36] skoudoro commented on #1828
ok, so I let this issue open and look forward to seeing your PR @ShreyasFadnavis!

[2020-01-09 15:48] skoudoro commented on #1853
ok, great! Thank you! looking forward to it!

[2020-01-09 17:52] skoudoro commented on #1133
What is the conclusion of this old discussion @arokem, @mrjeffs?  Can I close it?

I will wait until Sunday and if no answer, I will close it. Thank you for your feedback!

[2020-01-09 17:59] arokem commented on #1133
Yeah. I think it's fine to close.

[2020-01-09 17:59] #1133 closed

[2020-01-09 18:04] skoudoro commented on #1074
It seems that this problem has been resolved so closing.

Feel free to reopen it if necessary!

[2020-01-09 18:04] #1074 closed

[2020-01-11 14:14] alecrimi opened #2034 "Using the tutorial on Euler method on my data"
## Description
Hi I am getting a weird error I cannot debug when I am running the streamline generator. What I m doing is simply using your tutorial on Eu method but with my personal data. I am using Dipy 1.0.0 and Python3.6 .

this is the full list of the error:
[code]

this is how I changed the code
[code]

[2020-01-11 14:55] skoudoro commented on #2034
Hi @alecrimi,

Your `seeds` are incorrect, it should be an array (N,3) and not an integer. This array is the region where you want to seeds. This is why it is failing. So you have to modify this line:
[code]

Hope it helps

[2020-01-11 14:59] skoudoro commented on #2034
### Small Notes

Need a PR to check this input and give a better message.

[2020-01-11 15:15] skoudoro commented on #2034
A solution to your problem would be to use `random_seeds_from_mask`:

[code]

[2020-01-11 15:17] alecrimi commented on #2034
Yes, I thought that was the way. Thanks

[2020-01-11 16:37] alecrimi commented on #2034
Solved!
A better way is to use a proper mask or to get it from the Otsu threshold:

from dipy.segment.mask import median_otsu
mask, S0_mask = median_otsu(data[:, :, :, 0])
# create seeds
seeds = random_seeds_from_mask(mask, affine, seeds_count=100)

[2020-01-11 18:44] skoudoro commented on #2034
Great ! I will keep this issue open as reminder to improve the error message

[2020-01-12 16:45] andebag commented on #2026
Hi @RafaelNH

Just wanted to check and see if you had a chance to check out the issue I had with ex vivo DKI processing? Let me know if I can provide any info you might need. Thanks again!

Ande

[2020-01-15 08:51] RafaelNH commented on #2026
Hi @andebag! Sorry for the late reply. I have experience in processing ex vivo rodent brain data. That type of problem is typically related to data acquisition than a code issue.

What MRI system that you used to acquire your data? What are your acquired b-values and gradient directions? How are you acquiring your diffusion-weighted data - with a unique experiment containing all b-values and gradi

[2020-01-15 08:52] RafaelNH commented on #2026
PS: @skoudoro  - why did you unassigned me on this issue?

[2020-01-15 08:56] skoudoro commented on #2026
I did not, I do not what happens, that's weird... I should check other issue...

[2020-01-15 14:41] andebag commented on #2026
Hi @RafaelNH ! Not a problem. The data was acquired on a Bruker system at 21 T. My b-values were 0, 1000, 2000, 3000, 4000, 5000 with 45 directions each. For this particular dataset, it was all in one unique dataset. Though, I tried it on a different dataset that had different b-values in separate scans which I combined afterwards, and it yielded the same result. And yes, the RG is constant for al

[2020-01-21 20:23] #1864 closed

[2020-01-21 20:59] skoudoro commented on #1762
is it still a relevant issue @Garyfallidis? Can I close? I suppose that anti-aliasing should help now.

[2020-01-21 21:22] skoudoro commented on #1938
closing since we use Azure pipelines now.

[2020-01-21 21:22] #1938 closed

[2020-01-21 21:24] skoudoro commented on #1724
This error disappears again... I'm closing it,  until the next time...

[2020-01-21 21:24] #1724 closed

[2020-01-22 23:38] arokem commented on #2024
Reminder: tomorrow's DIPY online open lab meeting will take place at 0800 PT, 1100 ET, 1600 UTC.

I will give an overview of [pyAFQ](https://yeatmanlab.github.io/pyAFQ/)

The link for the call is: https://washington.zoom.us/j/264574770

[2020-01-27 19:10] skoudoro commented on #1848
I just submitted a PR on their repo: https://github.com/ISMRM/mrhub/pull/33.

I will close this PR when it is merged.

[2020-01-28 00:10] #2034 closed

[2020-01-28 13:55] skoudoro commented on #1848
PR merged, Project added, closing this issue.

Thanks for the notice @RafaelNH

[2020-01-28 13:55] #1848 closed

[2020-01-29 15:31] skoudoro commented on #313
Can we close this issue @arokem? it seems to be fixed by #314.

Same for #218, Can we close it?

[2020-01-30 16:13] soichih opened #2046 "read_bvals_bvecs can't read a single volume dwi"
I have bvecs / bvals that looks like this (for the b0 data)

bvec
[code]

bval
[code]

When I try to open this with read_bvals_bvecs() it errors out with an error message like this.

[code]

[code]

We are using dipy's read_bvals_bvecs to validate and normalize the bvec/bval, but then we run the actual processing using mrtrix3/fsl, etc.. that I believe can handle such b0 input file (I haven't test

[2020-01-30 16:48] skoudoro commented on #2046
Hi @soichih,

Thank you for asking! Indeed, When I look at [here](https://github.com/dipy/dipy/blob/master/dipy/io/gradients.py#L68), it seems forbidden but I do not know why.

I suppose there is a good reason, Can you explain to us @arokem @Garyfallidis or other?

[2020-01-30 16:50] arokem commented on #2046
This does seem like a bug to me. There's no reason a one-volume data-set
would be disallowed (although it is admittedly a rather strange
use-case...). It will require some special-casing and extra checking,
though. Do you want to take a stab at it, @soichih?

On Thu, Jan 30, 2020 at 8:48 AM Serge Koudoro <notifications@github.com>
wrote:

[2020-01-30 19:17] soichih commented on #2046
@arokem So instead of just removing this check, you want to check to see if the single volume bvecs contains some valid number? I use diyp.core.gradients.gradient_table() along with read_bvals_bvecs, and I believe https://github.com/dipy/dipy/blob/master/dipy/core/gradients.py#L114 provides enough checks already?

[2020-01-30 19:23] arokem commented on #2046
I think that the right thing to do here is to check whether we have a 2D array or an array with three numbers (which is this special case).

[2020-01-30 19:39] soichih commented on #2046
The line just above the 2D check (https://github.com/dipy/dipy/blob/master/dipy/io/gradients.py#L65)  ensures that it's an array with 3 numbers, right?

[2020-01-30 19:46] arokem commented on #2046
Yeah - you're right. Maybe we should downgrade the error on L67 to a
warning? I think that most users will want to know if they're data looks
like it's a single b-vec, when it  shouldn't be.

On Thu, Jan 30, 2020 at 11:39 AM Soichi Hayashi <notifications@github.com>
wrote:

[2020-02-01 05:09] arokem commented on #313
Looks like it.

[2020-02-01 05:09] #313 closed

[2020-02-02 09:40] jhlegarreta commented on #1872
Looks like `codecov` is still reporting the coverage impact for successful PRs. Coverage was also configured for the `Azure CI` `Linux Python37-64bit + OPTIONAL_DEPS + COVERAGE` job but the generated HTML reports seem not be uploaded anywhere.

The `travis CI` service was commented a few days ago so the resource pointed by the link in the issue cannot be retrieved.

Not sure whether `codecov` can

[2020-02-02 10:43] jhlegarreta commented on #2007
@giulia-berto the reported error seems not to be present in DIPY `master`: I've tried running the example and it runs without issues.

Can you tell which DIPY version you are using? Can you try the example in DIPY `master`?

A number of examples had not been updated for the 1.0.0 release but were fixed in PR #1925 for the 1.1.0 release.

Using the `same` value for the `reference` argument is an ac

[2020-02-03 15:22] AntoineTheb commented on #1853
Sorry for the delay, things got in the way. Quick question @skoudoro @arokem: With the StatefulTractogram now implemented, should the seeds also change space and shift when `sft.to_space()` and `stf.to_center` is called ?

[2020-02-03 21:57] skoudoro commented on #218
closing in favor of #314 and #313

[2020-02-03 21:57] #218 closed

[2020-02-03 23:23] miladseyfi opened #2048 "Group analysis"
Hello dear developers and users
Is that possible to run group analysis on a bundle specific measurement (like FA) between subjects?

[2020-02-03 23:41] skoudoro commented on #2048
Hi @miladseyfi,

Thank you for asking. I think @BramshQamar, @Garyfallidis or @arokem are the most appropriate person to answer your question and they will do as soon as they can.

[2020-02-04 14:49] AntoineTheb commented on #1853
Or, another thought, should I make other functions to save and load seeds to/from tractograms so as not to add extra parameters to `save/load_tractogram` ?

[2020-02-04 20:43] skoudoro commented on #1853
Personally, I prefer this last option @AntoineTheb

[2020-02-05 05:09] arokem commented on #2048
Hi @miladseyfi

You have (at least) two options:

1. The `dipy_ba` CLI performs a bundle analytics procedure that uses linear
mixed models to compare groups of subjects.

2. pyAFQ (http://yeatmanlab.github.io/pyAFQ/) is a DIPY spinoff project
that extracts bundle-specific properties (such as FA), but you'll have to
do your own statistical analysis once you have these properties.

Hope that helps!

[2020-02-06 16:35] RafaelNH commented on #2024
Hello. Was today's meeting cancelled?

[2020-02-06 16:47] arokem commented on #2024
Yes. Apparently @skoudoro and @Garyfallidis had some conflict, so they couldn't make it. Sorry about that!

[2020-02-06 16:58] skoudoro commented on #2024
Really sorry about that!

[2020-02-12 22:30] andebag commented on #2026
Hey @RafaelNH , just wanted to see if you had any other suggestions on what the issue may be. Thanks again.
Ande

[2020-02-15 11:37] jhlegarreta commented on #2007
@arokem can you please have a look at the comment above to eventually close this issue?

Also, if you think all examples should be using `load_tractogram` instead of other APIs to load tractograms, let me know and I'll propose a PR.

[2020-02-15 12:07] skoudoro commented on #2007
Hi @jhlegarreta,

We can not close this issue because we have to update the atlas which has been saved with the wrong affine. So we have to save them with into the mni space and upload them to figshare

However, you are right concerning the second issue. It is done on master.

I do not think that all examples should use `load_tractogram`, `load_trk` is ok

[2020-02-15 13:32] jhlegarreta commented on #2007
@skoudoro OK, sounds fair.

[2020-02-16 04:48] arokem commented on #2007
@skoudoro : Is it the MNI template that has the wrong affine? The one you get when you run dipy.data.get_mni_template? I've also recently run into some issues with it, but I think that the affine corrects for the shape, so that it sits in the same place as othe versions of this template that I have examined. At least that's my impression.

[2020-02-17 14:31] giulia-berto commented on #2007
@jhlegarreta correct, the source code bundle_extraction.py currently runs without errors since it was updated as soon as this issue was opened.

@arokem @jhlegarreta using `same` as the reference is fine as long as the affine is stored properly in the header. The bundle atlases in figshare that can be retrieved with 'get_bundle_atlas_hcp842()' have been saved with the wrong affine, as @skoudoro sa

[2020-02-17 14:45] arokem commented on #2007
Gocha! I was reading too much into this :-)

[2020-02-17 14:47] jhlegarreta commented on #2007
@giulia-berto thanks for clarifying this.

[2020-02-18 10:02] rosella1234 opened #2049 "KFA calculation"
When I try computing DKI metrics with dipy, everything works for FA;RD;AD;MD and KM,RK;AK , whereas KFA gives the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'DiffusionKurtosisFit' object has no attribute 'kfa'

Thank you,
Rosella

[2020-02-18 13:34] arokem commented on #2049
Hi Rosella - thanks for reporting. How did you install DIPY? What version are you running?

The reason I ask is that this feature is a recent addition, so you might need to upgrade your installation (e.g., by running `pip install dipy --upgrade`)

[2020-02-18 16:16] rosella1234 commented on #2049
I have upgraded dipy and the current version is 0.16.0 . Is that the most
recent version?
thanks,
Rosella

Il giorno mar 18 feb 2020 alle ore 14:34 Ariel Rokem <
notifications@github.com> ha scritto:

--

Rosella Trò
Ph.D Student in Bioengineering

System Neuroscience Perceptual System and Imaging Group -SyNaPSI

Department of Informatics Bioengineering Robotics and Systems engineering
-DIBRIS

Un

[2020-02-18 16:20] skoudoro commented on #2049
- The most recent version is DIPY 1.1.1. It works only on python 3
- the version 0.16.0 is the last version on python 2

Are you using python 2 @rosella1234? If yes, you will have to update your environment and use python3 because python2 is not anymore maintained and all packages are moving.

[2020-02-18 16:31] rosella1234 commented on #2049
Ok I have set my python 3.4 version as default and I will now install dipy
latest version.
Thanks,
Rosella

Il giorno mar 18 feb 2020 alle ore 17:20 Serge Koudoro <
notifications@github.com> ha scritto:

--

Rosella Trò
Ph.D Student in Bioengineering

System Neuroscience Perceptual System and Imaging Group -SyNaPSI

Department of Informatics Bioengineering Robotics and Systems engineering
-DIBRIS

[2020-02-18 16:51] skoudoro commented on #2049
I recommend you to set it up for python 3.6 or more. Python 3.6 will stick around for a long time.

On the opposite, python3.4 is not anymore maintained so DIPY can not rely on it. Furthermore, they will stop the maintenance of python 3.5 this year.

[2020-02-18 22:52] ShreyasFadnavis opened #2050 "BUG: Polyfit in IVIM TRR returns Negative Values"
Following up with this issue with a PR!

Potential fixes:
- Use `scipy.optimize.lsq_linear` and set the bounds manually
or
- Use `scipy.optimize.nnls`

I assume `nnls` will be faster as it is running FORTAN under the hood.

Any other suggestions?

[2020-02-18 22:54] ShreyasFadnavis commented on #2050
Any other suggestions anyone? @arokem @skoudoro @RafaelNH ?

[2020-02-18 23:14] skoudoro commented on #2050
Good catch and +1 for `scipy.optimize.nnls`

[2020-02-19 06:10] arokem commented on #2050
Yes. NNLS should be the way to go. I'm not sure about performance, but it will probably be more correct than trying to implement the bounds by ourselves.

[2020-02-19 19:36] BramshQamar commented on #2048
Hi @miladseyfi,

As mentioned by Ariel above, there are two ways you can do group analysis based on bundle specific measurement (like FA).

'dipy_ba' is our first version and it is still in the research mode. The final version of the bundle analytics 'dipy_ba' should be up in few weeks.

Bramsh

[2020-02-20 06:03] arokem commented on #2024
Reminder: the meeting about workshop prep will take place in about 10 hours (8 AM PT,  11 AM ET, 16:00 UTC). Here's the link:  https://washington.zoom.us/j/264574770

[2020-02-20 11:53] ilyanelken opened #2052 "dipy.tracking.utils.density_map order of arguments changed by mistake"
## Description
in dipy.tracking.utils.density_map() the order of arguments was changed by mistake in
commit 7761d5ce26c38cf5f18dccd6c537d07eec4d79b9.
The order of "vol_shape" and "affine" arguments was changed with no special reason.

[If reporting a bug, attach the entire traceback from Python and follow the way to reproduce below]
[If proposing an enhancement/new feature, provide links to relate

[2020-02-20 15:47] skoudoro commented on #2052
Thank you @ilyanelken for this report.

This change was done in purpose by @frheault and it is a part of the 1.0.0 API change which is not compatible with the 0.16.0. This change brings more consistency across the library.

More information about the API change: https://dipy.org/documentation/1.0.0./api_changes/#dipy-1-0-changes

Hope it answers your question. Let us know if you have more question

[2020-02-20 16:18] tashrifbillah opened #2054 "Discrepancy between dipy.gibbs.gibbs_removal and reisert/unring/"
Hi @RafaelNH

## Description

Has the Gibbs unringing algorithm been reproduced from https://bitbucket.org/reisert/unring/src/ ? If the answer is yes, I am observing large difference at voxel level (+-100) between the outputs of `reisert/unring/src/fsl/unring.a64` and `dipy.gibbs.gibbs_removal` for a 3D volume.

## Way to reproduce

I extracted a baseline image from a DWI. Consider the name of the

[2020-02-20 16:18] tashrifbillah commented on #2054
cc: @sbouix

[2020-02-20 17:22] arokem commented on #2048
I believe the question has been answered, so I am going to close this. Feel free to reopen if you still have a follow-up.

[2020-02-20 17:22] #2048 closed

[2020-02-20 17:22] arokem commented on #2049
I believe the question has been answered, so I am going to close this. Feel free to reopen if you still have a follow-up.

[2020-02-20 17:22] #2049 closed

[2020-02-20 17:23] arokem commented on #2019
I believe the question has been answered, so I am going to close this. Feel free to reopen if you still have a follow-up.

[2020-02-20 17:23] #2019 closed

[2020-02-20 17:23] arokem commented on #1047
This one's pretty old. I think we can close it. Feel free to reopen if you think this is still relevant.

[2020-02-20 17:25] arokem commented on #1152
This issue is pretty old. I think we can close, but please reopen if this is still a relevant issue that needs follow-up.

[2020-02-20 17:25] #1152 closed

[2020-02-20 17:29] arokem commented on #1363
Did that answer the question @BramshQamar ? Can we close this one?

[2020-02-20 17:30] arokem commented on #1364
This issue is a bit old. I hope it's resolved by now... I think we can close this, but feel free to reopen if this issue is still relevant for you.

[2020-02-20 17:30] #1364 closed

[2020-02-20 17:31] arokem commented on #1373
This issue is old (and frankly, upon rereading, I still am not sure I understand what the issue was...), so I am going to close it. Feel free to reopen if this is still an issue for you.

[2020-02-20 17:31] #1373 closed

[2020-02-20 17:33] arokem commented on #1552
I would solve this by adding a singleton dimension to your inputs:

    arr = arr[:, np.newaxis]

Sorry that it's taken so long to answer this... :-(

Given how long it's been, I am going to close this issue now, but feel free to reopen if this is still an issue for you.

[2020-02-20 17:33] #1552 closed

[2020-02-20 17:36] arokem commented on #1553
I believe the question has been answered.

Do we need to add something to the documentation to clarify this? For example, [here](https://github.com/dipy/dipy/blob/f2e5ecef63b6fc609bda3b6f581a212ae1ad8a35/dipy/workflows/segment.py#L20-L55)?

[2020-02-20 17:39] arokem commented on #1671
I believe this question has been answered, and there seems to be no folllow-up here, so I am going to close this for now. Feel free to reopen if you think this needs another look.

[2020-02-20 17:39] #1671 closed

[2020-02-20 17:41] arokem commented on #1699
I don't know the answer to these questions without some further digging. Given it's been a while since this question was asked, I am going to close this issue. Feel free to reopen if this is still holding you back.

[2020-02-20 17:41] #1699 closed

[2020-02-20 17:44] arokem commented on #1728
I believe the original question was answered. If anyone wants to follow up with a PR (@jchoude -- you mentioned a potential improvement [here](https://github.com/dipy/dipy/issues/1728#issuecomment-461578682)? ) or feature request that crisply describes what more is needed here, please do. I am going to close this one for now.

[2020-02-20 17:44] #1728 closed

[2020-02-20 17:45] arokem commented on #1785
I think the question was answered. Closing.

[2020-02-20 17:45] #1785 closed

[2020-02-20 17:48] arokem commented on #2052
@ilyanelken: Sorry for the API-breaking changes. We try to avoid these, but sometimes, and especially on major releases, we might do that to introduce improvements to the API going forward. I believe this question has been answered, so I am going to go ahead and close this issue.

[2020-02-20 17:48] #2052 closed

[2020-02-20 17:50] arokem commented on #1871
I think this question has been answered, so I am going to close this, but feel free to reopen if you have any follow-up questions.

[2020-02-20 17:50] #1871 closed

[2020-02-20 18:54] ilyanelken commented on #2052
@skoudoro @arokem Guys, thanks for fast and clear response!

[2020-02-21 19:03] BramshQamar commented on #1363
Yes, we can close this issue @arokem.

[2020-02-21 19:04] #1363 closed

[2020-02-26 06:52] rahullabs opened #2061 "Is dipy.viz supported in Colab or Kaggle Notebooks?"
## Colab/Kaggle Notebook crashes everytime I run the dipy.viz code from example

I have been going through the examples and everytime there is some kind of interactive visualization, notebook automatically shutdown and resets.

I am trying to run this code:

[code]

But I keep on getting **Your session crashed for an unknown reason.**

However this code works perfectly in my juypter notebook in my

[2020-02-26 16:54] arokem commented on #2061
Unfortunately, I don't think that the viz code will work on colab or kaggle notebooks, or any other headless environment (that means an environment where the computer running the code is not connected to a display).

There might be a way to hack it to work using xvfb (https://en.wikipedia.org/wiki/Xvfb), but I am not sure.

[2020-02-26 17:09] skoudoro commented on #2061
I confirm what @arokem said and it works with Xvfb on Linux and Windows. Concerning macOS, you will have to do a bit more...

[2020-02-26 19:59] ShreyasFadnavis commented on #2054
Hi @tashrifbillah ! Thank you for reporting this 👍
@RafaelNH will get back to you on this soon...

[2020-02-26 21:39] kaw112 opened #2062 "tensor fit with RESTORE failed"
Hello,

I received the following error when trying to use the restore algorithm for fitting my diffusion tensors.  I started looking through the code to try and determine why this doesn't work, but I figure this will be faster. The normal tensor fit algorithm works fine.  Any help would be appreciated.
[code]
Note even though the data is called b0_mask, I am using the data for all b values and b d

[2020-02-27 06:00] arokem commented on #2062
Thanks for reporting! This sometimes happens when the algorithm hits voxels
that have data that is non-physiological. For example, in parts of the
skull or other parts of the image that contain artifacts (e.g., very high
or very low signals). Are you running this in IPython/Jupyter by any
chance? Could you drop into a debugger (`%debug`) and print out the value
of the `flat_data[vox]` variable ins

[2020-02-28 13:24] RafaelNH commented on #2054
Hi @tashrifbillah ! As I've mentioned on Gibbs tutorial, this algorithm is an adaption of Kellner's method, so it might produce a slightly different outcome. Full details of the implemented algorithm can be found in chapter 3 of my PhD thesis (see the references on Gibb's tutorial).

[2020-02-28 14:16] tashrifbillah commented on #2054
@RafaelNH , can you point me to the Gibb's tutorial?

[2020-02-28 14:22] skoudoro commented on #2054
Hi @tashrifbillah,

Here you are for the tutorial: https://dipy.org/documentation/1.1.1./examples_built/denoise_gibbs/#example-denoise-gibbs

[2020-03-02 20:14] kurmukovai opened #2064 "How to register MR to CT of the same person?"
I am trying to register **Flair image** to **CT image** (same person, different Orientation Matrix, and Patient Location). Basically the only thing that registration algorithm need to do is to shift and rotate a Flair image in geometrical space. And it fails to do so, well, I fail to make it work.

I've tried this tutorial https://dipy.org/documentation/1.1.1./examples_built/affine_registration_3d

[2020-03-03 04:53] arokem commented on #2064
Thanks for getting in touch. Just to clarify: when you say it "fails" -- what exactly do you mean? Do you mean that you get a result, but it doesn't seem well-registered? Could you post some pictures of what that looks like?

[2020-03-03 07:25] kurmukovai commented on #2064
Sure, this is for example result of `transform_geometric_centers`

![Screenshot from 2020-03-02 23-01-09](https://user-images.githubusercontent.com/14237010/75751919-ae2da480-5d38-11ea-8ff8-04fc3980d029.png)

I have a question, it seems like both transform_geometric_centers and transform_origins do not use information about voxel's size, or does it somehow combines with affine matrix during loadin

[2020-03-09 11:55] ShubhamShaswat opened #2070 "Python has stopped working during import"
## Description
When I tried to import following files in jupyter notebook,The window open with the message "Python has stopped working"

When I do this in the Google Colab it worked fine.So,the error must be due to local configurations.

[code]
### System Configuration:

Windows Version : 8.1 64-bit
conda Version : 4.4.10
conda-build version : 2.0.2
python version : 3.5.6.final.0
dipy version : 1.

[2020-03-09 19:30] arokem opened #2078 "Applying affine transform to streamlines in a SFT object"
The SFT object has methods for moving streamlines between different spaces. But, what if we want to move the streamlines, based on some other affine transform? For example, if the same subject were scanned twice, and we wanted to move the streamlines from experiment 1 to be in register with experiment 2. It seems that we would have to call `transform_tracking_output` on the streamlines stored in S

[2020-03-10 17:09] sidkapoor97 commented on #1687
@arokem @skoudoro is there any link which helps in testing whether a unit determinant matrix represents affine transformation or not? Also rotation and translation have determinant 1, whereas shear doesn't.

[2020-03-12 14:46] aryanshomray commented on #1996
#2086

[2020-03-12 14:47] aryanshomray commented on #1996
#2086

[2020-03-12 15:02] jhlegarreta commented on #1996
Thanks for doing this @aryanshomray.

Not sure if this is the root cause of the issue described here, though. But it will certainly help in making the docstrings consistent.

[2020-03-12 15:07] skoudoro commented on #1996
I agree with @jhlegarreta,  I do not think this is the reason but it helps!

[2020-03-13 11:37] ShubhamShaswat commented on #1773
@arokem is this issue still relevant?,If, could you give me some more to work on that.Till now,I have thinking about a `if` condition under which I will place the new ` edi = di * (1 - np.sqrt(ki * awf[idx] / (3.0 - 3.0 * awf[idx])))` but not sure what should be the condition.Am I making any sense?

[2020-03-19 11:24] weningerleon opened #2089 "Transforming bvecs after registration"
Hi,

I'd like to co-register two different raw diffusion images with an affine transformation.
Currently, I'm registering these using FA maps, and then applying the transform to all diffusion images.
How do I then apply the transform to the bvecs? I couldn't find any function for this in dipy.
My best guess would be this, but as I can't really verify the result, I would be very grateful for a seco

[2020-03-19 12:13] arokem commented on #2089
Does this do what you want? https://github.com/dipy/dipy/blob/master/dipy/core/gradients.py#L447-L501

[2020-03-19 12:25] weningerleon commented on #2089
Perfect, I didn't find this function.
Thanks!

[2020-03-19 12:25] #2089 closed

[2020-03-22 02:52] TheChymera opened #2092 "Test suite fails with ModuleNotFoundError and ModuleNotFoundError"
## Description

I am updating the dipy package for Gentoo Linux, and getting [these errors](https://github.com/dipy/dipy/files/4364578/build.log) when attempting to run the test suite with:

## Way to reproduce
- [x] Code example

[code]

- [x] Operating system and version (run `python -c "import platform; print(platform.platform())"`)

[code]

- [x] Python version (run `python -c "import sys; pri

[2020-03-22 03:05] arokem commented on #2092
Thanks for reporting! On which of the >14k lines in that log should we be
looking to see the error? :-)

A text search for ModuleNotFoundError doesn't find anything for me.

On Sat, Mar 21, 2020 at 7:52 PM Horea Christian <notifications@github.com>
wrote:

[2020-03-22 04:14] skoudoro commented on #2092
I do not find the error on the log file too. Maybe this is the wrong file @TheChymera ?

[2020-03-22 04:27] TheChymera commented on #2092
@skoudoro @arokem sorry, I had mistakingly uploaded the lazarus build failure (we're updating a few different things). This is the dipy build log (also updated in the original post): https://github.com/dipy/dipy/files/4364646/build.log

[2020-03-22 05:18] skoudoro commented on #2092
Thank you @TheChymera. Usually, this error appears when DIPY package is not found or when DIPY pyx files are not compiled.

In your case, there is something not clear to me:
- pyx files compilation is ok but the output is  /var/tmp/portage/sci-biology/dipy-1.1.1/work/dipy-1.1.1-python3_6/**temp.linux-x86_64-3.6**/dipy
- All the other files are going to `/var/tmp/portage/sci-biology/dipy-1.1.1/work

[2020-03-22 06:24] TheChymera commented on #2092
@skoudoro I see, apparently dipy needs the tests to be executed from the `lib` subdirectory, after being installed inside the sandbox. Would you say the issue is solved now?

[build.log](https://github.com/dipy/dipy/files/4364768/build.log)

It looks like now there is trouble with downloading test data. It's general Gentoo policy that packages shouldn't download their own data, as this should be d

[2020-03-22 16:24] skoudoro commented on #2092
Yes.

No, unfortunately. But that is a good idea. We should propose that. What do you think @arokem?

[2020-03-22 22:17] jhlegarreta commented on #1305
Folks, I think this issue can be closed. There was a PR that tried to address most of the issues.

For the sake of the health of the repository, I would close the issue and open a new one if necessary or if at some point we gather some momentum to address the aspects that were mentioned in the comments (having to do with the use of a documentation linter and making all cross-references consistent

[2020-03-23 00:05] arokem commented on #1305
Thanks! Closing.

[2020-03-23 00:05] #1305 closed

[2020-03-23 02:13] TheChymera commented on #2092
@skoudoro please ping me if you decide to do this, as for the time being the reliability of the Gentoo package cannot properly be verified by system administrators.

[2020-03-24 19:21] arokem commented on #2078
@frheault : this seems like something you might know the answer to. Is there anything we're missing here?

[2020-03-24 19:57] frheault commented on #2078
Your intuition is right about recreating a SFT!

I would strongly advise to register the two images (or two tractogram, using SLR) first.
Once you have that transformation (warning registration of img_1->img_2 give the inverse affine of tractogram_1->tractogram_2 using SLR) you can apply it to the streamlines in RASMM (using `transform_streamlines` is fine).
These modified streamlines should then

[2020-03-24 20:00] arokem commented on #2078
Great. Thanks for all these tips. Very useful. (cc: @36000)

Closing.

[2020-03-24 20:00] #2078 closed

[2020-03-24 20:08] frheault commented on #2007
I would strongly advise using this corrected version of Yeh.
All TRK have the correct affine and are register to a MNI template that is provided.
This would prevent created TRK with wrong header in the future and simplify debugging for a lot of people.

https://drive.google.com/open?id=1pObyKLGJNPFZhMIncYuLn9utJDKb-Uq9

[2020-03-26 06:24] ShrishtiHore commented on #2070
I guess you are using Anaconda then this is an issue with configurations. I use Anaconda too. And I used to get the same errors So I had uninstalled Anaconda then installed Miniconda and then installed anaconda through Miniconda. Just try reinstalling python again if does not work then try checking the configurations again and reinstalling Anaconda through Miniconda. It worked for me.

[2020-03-26 08:04] ShubhamShaswat commented on #2070
Hi @ShrishtiHore,Thanks for the suggestion,I will try that. Do you have any intuition behind this problem.I mean why this is happening,can we identify the configuration which is causing this problem.
Let me know if you have some idea regarding this.

[2020-03-26 15:27] ShrishtiHore commented on #2070
Honestly No idea But I Kinda had this experience before, Twice to be real ! But both the times it worked for me so I thought maybe it will help you too.

[2020-03-28 19:02] jjbouza opened #2098 "Q-Space Interpolation Methods"
## Description

Hello,

Are there any functions available for q-space interpolation?

The motivation is that for an arbitrary non-Cartesian sampling scheme in dMRI it might be desirable to interpolate the q-space signal onto a Cartesian grid to use Cartesian reconstruction methods or to simulate certain undersampling patterns for experiments.

Linear interpolation is an obvious and easy choice for

[2020-03-30 07:07] noobiecoder1942 opened #2106 "Building an 'Unbiased' Template"
Many standard templates or atlases call themselves 'unbiased'. If I'm building a template by registering multiple MRI scans together, how do I make my template unbiased?

[2020-03-30 16:02] skoudoro commented on #2024
Hi @arokem,

I think it is time to restart a new series! I start to miss our DIPY meeting 😄 !  Let's try to plan from April until May.

What do you think?

[2020-03-30 22:35] arokem commented on #2024
Let's do it! Any objections to keeping this day/time? It seems to work OK for the time-zones we tend to be spread across.

[2020-04-01 05:31] ruizengalways opened #2107 "PNG images saved by window.record in the tutorial example are always black"
## Description
In the tutorial [Reconstruction with Constrained Spherical Deconvolution](https://dipy.org/documentation/1.1.1./examples_built/reconst_csd/#example-reconst-csd)

I run the following code snippet:

[code]

The saved image 'csd_response.png' is always black. I checked it using PIL.Image. It shows me that all pixels in this image are filled by zero.

- [ ] Operating system and Python P

[2020-04-03 14:45] skoudoro commented on #2024
+1 for keeping the same

[2020-04-03 19:29] arokem opened #2109 "DIPY lab meetings, Spring 2020"
The schedule for upcoming lab meetings is:

April 9th, 0800 PT, 1100 ET, 1600 UTC, Topic: Overview of the release 1.2 (@skoudoro)
April 23rd, 0800 PT, 1100 ET, 1600 UTC Topic:  Deep learning reveals untapped information for local white-matter fiber reconstruction in diffusion-weighted MRI (@finalement)
May 7th, 0800 PT, 1100 ET, 1600 UTC Topic: ???
May 21st, 0800 PT, 1100 ET, 1600 UTC Topic: GSoC

[2020-04-03 19:30] arokem commented on #2109
OK - we have a schedule! But we need topics...

Does anyone want to volunteer to lead one of the upcoming meetings?

[2020-04-03 22:18] skoudoro commented on #2109
I think the upcoming one should start with the release since it is coming for April 13th. I will lead that one and update the schedule.

[2020-04-03 22:26] skoudoro commented on #2109
Here some ideas/propositions:

- it would be good if @StongeEtienne could lead a meeting about mesh/surface. What do you think @StongeEtienne?
- it would be good to have a Q/A or AMA with our user and promote it
- The last spot (May 21st) could be a GSOC introduction, with a reminder about the goal of machine learning + image registration. @ShreyasFadnavis could lead that one with me

Any other su

[2020-04-04 01:30] arokem commented on #2024
Superseded by #2109

[2020-04-04 01:30] #2024 closed

[2020-04-05 04:28] arokem commented on #1991
Is this resolved by #2055?

[2020-04-07 15:47] sidkapoor97 commented on #2107
Try changing
`response_actor = actor.odf_slicer(response_odf, sphere=default_sphere,
                                  colormap='blues')` in your code to
`response_actor = actor.odf_slicer(response_odf, sphere=default_sphere,
                                  colormap='plasma')`

for documentation on dipy.viz you can go to https://dipy.org/documentation/1.1.1./reference/dipy.viz/

[2020-04-07 19:49] Garyfallidis opened #2114 "Tutorial title in Streamline-based registration section is misleading"
If you look at the Streamline-based registration section there are two tutorials.

The first is called ``Direct registration of streamlines`` and therefore it is in the right section.
https://dipy.org/documentation/1.1.1./examples_built/bundle_registration/#example-bundle-registration

The second is called ``Direct Image-based Streamline Normalization`` but it is actually using image-based registr

[2020-04-07 19:52] Garyfallidis opened #2115 "Independent section on Fiber tracking evaluation not necessary"
We have a section on tracking evaluation with a single tutorial. We can move this tutorial back to the original fiber tracking section there is no need for an independent section just for one tutorial.
See here https://dipy.org/tutorials/

[2020-04-07 19:57] arokem commented on #2115
👍 sounds good!

[2020-04-08 20:19] BramshQamar opened #2117 "RecoBundles workflow still using old API"
RecoBundles workflow is still using old API for reading and saving .trk files.
Needs to be changed from
`nib.streamlines.load` to `load_tractogram`
`nib.streamlines.Tractogram` to  `StatefulTractogram`
`nib.streamlines.save` to `save_tractogram`

I will make a PR with the fixes later. Keeping it an open issue here so we don't forget about it.

Bramsh

[2020-04-09 06:58] ShubhamShaswat opened #2118 "Local namespace of Scipy is same as a variable name"
In [test_imaffine.py](https://github.com/dipy/dipy/blob/4bd3d7035d7eb14596ef47800cfc4a285139f103/dipy/align/tests/test_imaffine.py),

Line 2 : `import scipy as sp`
Line 48 : ` sp = vf.create_sphere.....`

The both have same local name `sp`,but the `scipy` library was never used .
should we change the variable names to something like `sp_` or leave it?

[2020-04-09 08:19] sidkapoor97 commented on #2118
changing `sp` to `sp_` would be better to avoid confusion

[2020-04-09 08:36] ShubhamShaswat commented on #2118
Thanks @sidkapoor97 for reply, Let's wait for what others have to say.Meanwhile if you would like,you can look at other issues and PRs such as in #2113, the azure pipeline keeps failing.

[2020-04-09 14:43] skoudoro commented on #2109
A short reminder for the meeting today in 20min: 0800 PT, 1100 ET, 1600 UTC.

see you all!

[2020-04-09 14:57] skoudoro commented on #2118
Thank you for catching that! we should:
- remove it if the import is not used
- rename the local name to be more explicit

[2020-04-09 15:16] ShubhamShaswat commented on #2118
Thanks @skoudoro , based on suggestion should I open a PR with:

-  rename `sp` to `sph`
- leave import as it is may it will be required in future tests

[2020-04-09 18:19] sidkapoor97 commented on #2117
Updated API for RecoBundles

[2020-04-10 14:38] #2118 closed

[2020-04-15 20:48] soichih opened #2126 "dipy / fury fails to install on Ubuntu 18 with pip3"
I am trying to install dipy / fury on fresh Ubuntu16 image. When I run the following command

[code]

I ran into the following error message.

[code]

Here is the Dockerfile that I am running

[code]

This works perfectly with ubuntu:18.04, however. I am trying to build it with Ubuntu 16 as it does not require the latest kernel/glibs (like Karst)

[2020-04-15 22:05] skoudoro commented on #2126
Hi @soichih,

I do not understand this line: ` f"numpy >= {min_numpy_ver}",`

f-strings are available only for python 3.6+.  We do not have that on our repo so I wonder what happens ? Why this `f` is added.   I supposed the default python3  version on ubuntu 16 is python3.5

[2020-04-15 22:34] skoudoro commented on #2126
It seems to be a pandas issue and not a DIPY issue @soichih. Can you install them individually to confirm. Thank you

[2020-04-16 01:30] soichih commented on #2126
I've installed pandas via apt and now it's working. I believe something is wrong with pip version of pandas.

[2020-04-16 02:04] skoudoro commented on #2126
great ! so I'm closing this issue.

[2020-04-16 02:04] #2126 closed

[2020-04-16 08:51] matthew-brett commented on #2126
@soichih - I agree - I think the problem must be that Pandas now depends on Python >= 3.6, and so doesn't have a wheel for Python 3.5, and so pip has to run `setup.py` to discover its dependencies, which fails on Python 3.5 because the `setup.py` uses f-strings, which only appeared in 3.6.

Would you consider reporting this bug to the Pandas issues?   If I were them, I'd remove the use of f-string

[2020-04-17 17:19] skoudoro opened #2128 "Registration Module failing with pre-matrix on Travis with future Numpy/Scipy release"
All in the title. We can see all the errors [here](https://travis-ci.org/github/dipy/dipy/jobs/676101427#L4223). This needs to be introspected and fixed before the next release.

[2020-04-18 22:00] jhlegarreta opened #2130 "Checking empty Cluster objects generates NumPy warning"
## Description
When running the [test_clustering](https://github.com/dipy/dipy/blob/master/dipy/segment/tests/test_clustering.py) suite, a number of warnings are generated due to NumPy checking the truth value of an empty array:
[code]
triggered at
https://github.com/numpy/numpy/blob/master/numpy/testing/_private/utils.py#L395
and stemming from
https://github.com/numpy/numpy/blob/master/numpy/core

[2020-04-18 22:19] jhlegarreta opened #2131 "Elementwise comparison failure warning in multi_voxel test"
## Description
When running the [test_multi_voxel](https://github.com/dipy/dipy/blob/master/dipy/reconst/tests/test_multi_voxel.py) suite, NumPy generates some warnings:
[code]
triggered at
https://github.com/numpy/numpy/blob/master/numpy/testing/_private/utils.py#L395
and stemming from
https://github.com/numpy/numpy/blob/master/numpy/core/src/multiarray/arrayobject.c#L1317

## Way to reproduce
Te

[2020-04-19 00:12] jhlegarreta opened #2132 "Generating ndarrays with different shapes generates NumPy warning at testing"
## Description
When running the [test_clustering](https://github.com/dipy/dipy/blob/master/dipy/segment/tests/test_clustering.py) suite, a number of warnings are generated due to NumPy testing methods needing to create arrays inferring their data type:
[code]
triggered at
https://github.com/numpy/numpy/blob/master/numpy/testing/_private/utils.py#L703
and explained [here](https://numpy.org/neps/nep

[2020-04-20 18:31] skoudoro commented on #2132
Thank you for this report @jhlegarreta!

That is a huge change from Numpy that we need to update and be aware of. I think, this problem is everywhere.

I agree, it is strange but it seems the warning will only appear on Numpy 1.19 as you can see from this [Release Notes](https://numpy.org/devdocs/release/1.19.0-notes.html).
Numpy 1.19 is not released yet

So we need to create an environment with t

[2020-04-20 18:42] skoudoro commented on #2131
Thank you for this report.

Unfortunately, I can not reproduce this error and the log file does not give us the libraries' versions. I need to find another log file to get more information. I suppose the probleme is the same at #2132

[2020-04-20 18:44] skoudoro commented on #2130
same comment as #2131 et #2132

[2020-04-20 19:10] jhlegarreta commented on #2130
Yes, they seem to be related. They open up a side issue as to whether empty clusters were intended or their expected behavior.

[2020-04-21 22:33] Garyfallidis opened #2138 "Basic introduction to CLI needs better dataset to showcase capabilities"
Hello I welcome anyone who could help improve our command line documentation.
A simple thing that we can do is change the basic_flow.rst tutorial to use different datasets.

Also the current dataset has some issue with the affine possibly affecting the ways peaks are visualized.

[2020-04-22 21:48] skoudoro commented on #2109
Hi all,

Just a small reminder: tomorrow, Thursday, April 23rd (0800 PT, 1100 ET, 1600 UTC), There is the presentation of @finalelement during the DIPY online meeting.

Topic: Deep learning reveals untapped information for local white-matter fiber reconstruction in diffusion-weighted MRI. Magnetic resonance imaging, 62, 220-227.
link:  https://meet.jit.si//dipy-lab-meeting

See you tomorrow @dipy/

[2020-04-22 21:57] finalelement commented on #2109
Hi Serge,

Thank you for the friendly reminder!

Cheers,
Vish

On Wed, Apr 22, 2020 at 4:48 PM Serge Koudoro <notifications@github.com>
wrote:

[2020-04-24 13:49] #1765 closed

[2020-04-24 13:51] Garyfallidis commented on #1765
Addressed in #2088 and #2124.

[2020-04-24 15:15] arokem opened #2144 "Move gitter to dipy/dipy?"
Our repo is at dipy/dipy, but our gitter channel is still in nipy/dipy.

Time to move it (and update all related links)?

[2020-04-24 15:23] skoudoro commented on #2144
I agree. just 2 questions:
- How can we do it?
- How can we keep history?

I did not find any information about migration last time I tried to do it.

[2020-04-26 13:44] skoudoro commented on #2128
these errors disappear from the PRE matrix. closing

[2020-04-26 13:44] #2128 closed

[2020-04-28 03:27] BramshQamar opened #2153 "lowercase .rst file names"
This issue serves as a reminder to change the `BUAN_flow.rst` filename to `buan_flow.rst` once we receive feedback on the paper.

For technicalities related to paper, we are temporarily keeping the file name partially in uppercase.

Please do not create a PR to change the file name yet.

Thank You,
Bramsh

[2020-04-28 13:16] #2130 closed

[2020-04-28 13:16] #2131 closed

[2020-05-06 17:34] araikes opened #2164 "Weird DKI output"
## Description
I'm hoping to get some help here. I have diffusion data that has been pre-processed using QSIPrep (includes bias correction, denoising, Gibbs removal, and eddy). The data were acquired as two separate acquisitions ( _b_ 1000 with 25 directions; _b_ 2000 with 20 directions; two _b_ 0s) that were concatenated as part of the QSIPrep pre-processing. I was extracting tensors from the dat

[2020-05-06 18:04] skoudoro commented on #2164
Hi @araikes,

Thank you for your question/feedback, I will just tag @RafaelNH @arokem @Garyfallidis @ShreyasFadnavis @mdesco who can address this question because of their experience.

[2020-05-07 09:31] wangyibin0011 opened #2165 "How to use the mat file generated by ants to register the TRK file to T1"
Hello, I have used antspy to generate the registration matrix file from DTI to T1, the file format is mat, at the same time, I generated the streamlines the same location of DTI, the file format is TRK, I want to know what method can I use the mat file to move the TRK file to the location of T1? I noticed that the coordinate system of T1 is LFS and the coordinate system of TRK is RAS. Thank you!

[2020-05-07 15:22] arokem opened #2166 "Make sure that the atlases are consistent and corrected"
This is related to #2154 and also following up on the comment in https://github.com/dipy/dipy/issues/2007#issuecomment-603478453.

We want to make sure that our different atlases (yeh 16 bundles, 30 bundles, 80 bundles) are consistent and all have the correct headers (see comment from @frheault above).

We also want to describe (in figshare? in our docs?) what post-processing and curation happened

[2020-05-07 15:41] arokem commented on #2165
Hi! Thanks for asking here. What's in the mat file? Could you share one of these with us?

[2020-05-08 02:28] wangyibin0011 commented on #2165
[T1_MNI.zip](https://github.com/dipy/dipy/files/4596679/T1_MNI.zip)
I opened the mat file in the following way:
import SimpleITK as sitk
Transform = sitk.ReadTransform(r"C:\Users\wyb\Desktop\need_file\T1_MNI.mat")
print(Transform)
![1](https://user-images.githubusercontent.com/53501301/81363667-79621300-9116-11ea-8f6a-22b3aa76aa68.png)

[2020-05-11 16:36] arokem commented on #2165
Hey - have you tried using the (transform_tracking_output)[https://github.com/dipy/dipy/blob/553d92ebdeda866d635ec414e767f22d9e252046/dipy/tracking/utils.py#L846] function?

You can get the `affine` input like so:

[code]

[2020-05-12 02:35] wangyibin0011 opened #2167 "Direct Streamline Normalization ，The result is wrong"
Hello, when I tried the example of Dipy
——References
Direct Streamline Normalization, the result was very strange when visualizing. Is this a problem of data or other problems?
![1](https://user-images.githubusercontent.com/53501301/81631566-b7bf4100-943a-11ea-9bb7-d3b42f1d51f0.png)
[lr-superiorfrontal.zip](https://github.com/dipy/dipy/files/4613064/lr-superiorfrontal.zip)

[2020-05-12 20:02] Garyfallidis commented on #2164
@RafaelNH can you please get back to @araikes ?

[2020-05-13 02:47] arokem commented on #2167
Is this related somehow to your issue in #2165? Is this the same data?

[2020-05-13 02:50] Garyfallidis commented on #2167
It would help if you could give us a bit more information so we can understand what you are trying to do. It would help even more if you could provide some sample data to showcase the problem.

[2020-05-13 03:18] wangyibin0011 commented on #2167
Lr -superiorfrontal. TRK is what I generated when I ran this example:
https://dipy.org/documentation/1.1.1./examples_built/streamline_tools/#streamline-tools
Then I ran this example [https://www.dipy.org/documentation/1.1.1./examples_built/streamline_registration/#example-streamline-registration] to look at the registration of T2 and b0, which was fine, but when I imported lr-superiorfrontal. TRK,

[2020-05-13 03:27] wangyibin0011 commented on #2167
是因为我选择的trk文件不正确吗

[2020-05-13 03:29] wangyibin0011 commented on #2167
Hello, I am looking for a solution for the previous problem. This example seems to solve part of my problem. I obtained the data according to the above description of the example

[2020-05-13 12:37] RafaelNH commented on #2164
Hi @araikes! I think the issue is caming from the independent acquisitions. When concatonating the data you have to insure that the intensity scales of two diffusion-weighted dataset have the same scale (intensity scales can be different if you have for example different receiver gains of the different acquisitions which is likey to be automatically adjusted by the scanner). To check that issue, s

[2020-05-13 17:49] araikes commented on #2164
Hi @RafaelNH ,
Thanks for the input. I'm curious about one thing (among many, I suppose). When you say that the intensity scales have to have the same scale, does this suggest that the b0s need to "match" or simply that they need to be reasonably close? For example, for the individual in the original picture, the b0s from each acquisition are pasted below. Further, the QSIPrep processing steps run

[2020-05-13 21:08] araikes commented on #2164
Potentially related question @RafaelNH: In the FA map from the DKI reconstruction, There are areas with missing voxels where there is more than likely  brain tissue. The DTI reconstructions and Free Water Elimination models all of have voxel values for these but the DKI gives a 0.

Any thoughts? Same issue as above?

![dki_fa](https://user-images.githubusercontent.com/18663624/81865161-6a1e0380-95

[2020-05-18 03:13] ShreyasFadnavis commented on #2109
Hi all,

@sarathknv who will be participating in GSoC + DIPY this year, would like to present his work in the DIPY lab meeting. He will be implementing a `deep learning` based `2D and 3D registration` as a part of this. He just notified me saying that he has some end-of-semester tasks to finish at school and would like to postpone this presentation by a week... Is that okay with everyone?

Thanks,

[2020-05-18 13:38] svabhishek29 opened #2169 "saving tracts in obj format"
hi, i was wondering if dipy provides a way to save tracts that are generated into a format like obj or something?

[code]

i was able to use the code above from the documentation to save it as a .trk file, but this can't loaded into programs like unity.

is it possible to save it in a format that is readable by programs like unity? or is there a way .trk files can be parsed and rendered in unity o

[2020-05-18 14:13] davidrs06 opened #2170 "Output of utils.density_map() using tck file is different than MRTrix"
## Description
I generated a tractogram using MRTrix, and saved it in tck format. I also generated a tract density image using MRTrix's `tckmap -template DWI.nii.gz tractogram.tck tdi.nii.gz` where DWI.nii.gz is the input diffusion volume.

## Issue
When I load the tractogram using nibabel and compute the tdi image using dipy, I get a map that has quite less fiber count per voxel (between a few to

[2020-05-18 14:46] Garyfallidis commented on #2170
Hi David (@davidrs06) ! As far as I know the method implemented in DIPY was not made to replicate the behavior of the mrtrix command. The algorithms used are possibly different. I think you should look inside the code to understand how things are calculated. There is another function that you could look into called ``track_counts``. @jchoude has contributed an extension of this command that also a

[2020-05-18 15:19] skoudoro commented on #2169
Hi @svabhishek29,

I think [this dipy module](https://github.com/dipy/dipy/blob/master/dipy/io/vtk.py) can help you to do what you want.

you can save streamlines as vtk files by using `save_vtk_streamlines`. However,  you can add an option to save them as `obj`. you can look at the `save_polydata` function for replacing `vtk` extension to `obj`.

Looking forward to your pull request for extending

[2020-05-18 16:38] skoudoro opened #2172 "fetch_gold_standard_io fetcher failed regularly"
As you can see on Travis or Azure, `fetch_gold_standard_io` failed really often, too often...

We need to understand why this fetcher fails so often.

I am not sure if the SSL error on Azure is relevant:

[code]

Do you have an idea @frheault or a specific setup on zenodo?

[2020-05-18 16:52] skoudoro commented on #2172
FYI, The SSL issue seems to be specific to Windows. no issue with MacOS and Linux.

[2020-05-18 18:21] #2144 closed

[2020-05-19 06:17] davidrs06 commented on #2170
Hi Ele :). Indeed, it's not so much of an issue, I was more wondering if the difference was intended or not. Thanks for the answer, I'll have a look at the code.
Take care !
David

[2020-05-19 06:17] #2170 closed

[2020-05-19 12:54] svabhishek29 commented on #2169
thanks your suggestion, i was able to save it to ply format which was exactly what i wanted, i have submitted a pull request

svabhishek29:saving-streamlines-to-VTK,FIB,PLY,STLandXML

[2020-05-19 12:54] #2169 closed

[2020-05-19 13:32] frheault commented on #2172
Could it be something related to size?
The total size is 47kb and some files are 2-4kb, is it possible that an operation is taking a millisecond and download is even faster?
On some cluster I/O and download speeds are a problem and download has to be throttled down.

[2020-05-19 21:19] #2172 closed

[2020-05-19 21:38] Garyfallidis commented on #2109
That is fine with me.

Can I also suggest that @grlee77 gives a presentation at his convenience? @grlee77 is working on two awesome projects. GPU acceleration for DIPY and wavelet-based denoising. @grlee77 be happy to decide which project you would like to talk about first and let us know about potential dates that work for you.

[2020-05-20 03:58] grlee77 commented on #2109
I will try to join in and watch @sarathknv's presentation this week.

Let me know what the schedule for the coming weeks is like. Whatever slot is convenient will probably work for me. I would prefer to present some preliminary work on GPU-based acceleration for DIPY first and then follow up in a later slot regarding some recent denoising work.

[2020-05-20 15:45] skoudoro commented on #2109
Hey @dipy/dipy-community,

The DIPY online meeting is canceled for tomorrow (many people can not attend). The future talk are:

- May 28st, 0800 PT, 1100 ET, 1600 UTC Topic: Intro to Deep Learning + Image registration by the current gsoc student(@sarathknv) (30min) + GAN by @finalelement  (30min)

- June 11th, 0800 PT, 1100 ET, 1600 UTC Topic: preliminary work on GPU-based acceleration for DIPY by

[2020-05-21 02:43] BramshQamar commented on #2166
Hello @arokem, @frheault, and @Garyfallidis,

**Here's the summary of differences I found among different atlases:**

1.  80 bundles atlas which can be fetched using get_bundle_atlas_hcp842() or can be downloaded from [figshare](https://figshare.com/articles/Advanced_Atlas_of_80_Bundles_in_MNI_space/7375883). It has 80 bundles in MNI space along with a whole-brain tractogram. We curated this atlas

[2020-05-21 13:26] frheault commented on #2166
About the 3D bundle figure (green/pink) I had to do some trick to get everything working which explain the very small difference. Considering the inner working of recobundles, I think they can be considered identical.

You could provide both version of the atlas, but I don't think that's a problem if you provide just one. Before they didn't even have an anatomy that fit and the header was wrong. I

[2020-05-21 19:29] skoudoro opened #2177 "VIZ: streamline actor failing on Windows + macOS due to the new VTK9"
There is a new VTK release (VTK 9). We need to explore this bug. It seems we can not do much on DIPY side apart from skipping (with a decorator) the 2 failing Matrix on Azure. What do you think?

It needs to be reported on FURY and a new release is needed.

[2020-05-28 15:25] Garyfallidis commented on #2109
Jit.si seems performing worse than Zoom especially concerning sound quality. @arokem for next session let's move back to zoom.

[2020-06-11 04:27] skoudoro commented on #2109
Hello @dipy/dipy-community,

A short reminder for the talk of the day (June 11th, 0800 PT, 1100 ET, 1600 UTC) by @grlee77: **GPU-based acceleration for DIPY**

Link: https://meet.jit.si//dipy-lab-meeting

See you online!

Serge K.

[2020-06-11 13:43] takhs91 opened #2182 "`target_line_based` might read out of bounds"
## Description
`target_line_based` and specifically its underlying `_streamline_in_mask` don't have any check for out of bounds reads, this results in random fibers with points falling outside of the mask being returned as passing from the mask as it probably reads bytes out of bounds. It may even result in a segmentation fault

Having points falling out of bounds is a valid case since somebody mi

[2020-06-11 14:51] Garyfallidis commented on #2109
Given some issues with jitsi we are moving back to zoom.
Here is the link https://iu.zoom.us/j/345602333

[2020-06-11 14:54] Garyfallidis commented on #2109
Make sure you join at this address from today and onward
https://iu.zoom.us/j/345602333
Thank you all!

[2020-06-12 19:53] grlee77 commented on #2109
Here are the slides and notebooks from yesterday's talk. I transferred the notebooks to Google Colab so you can just run them in the browser using GPUs in the cloud. Otherwise it can be time consuming to get all of the GPU computing frameworks that were involved set up in the same local environment.

I typically get slower results on Colab than on my local workstation, mainly because you get whate

[2020-06-14 12:37] grlee77 opened #2184 "discussion: continuous integration using GPUs"
## Description

I opened this issue to discussion potential future solutions for continuous integration with GPUs as discussed in last week's lab meeting.

Some initial searching found approaches based on Azure and/or Jenkins using either local or cloud hardware.

1.) I found this blog post from a researcher at UIUC explaining how they configured Azure to run CI on their local hardware.
https://cw

[2020-06-14 13:57] matthew-brett commented on #2184
Buildbot is still healthy - I recently set up an instance for https://www.psychopy.org .  It's relatively easy to configure.  I'm happy to help if you're interested.

[2020-06-15 18:09] grlee77 commented on #2184
Thanks @matthew-brett. We do not need it immediately, but are trying to determine feasibility for use with future work.

Are you saying you have previously configured testing involving GPUs for other projects?  Is the hardware used via EC2 or is NVIDIA hardware available by other means? We would probably want to start from something like an [nvidia-docker](https://github.com/NVIDIA/nvidia-docker)

[2020-06-15 22:39] matthew-brett commented on #2184
No, sorry, I have not set up GPUs on Buildbot.   I have set up and Build farms with actual machines, rather than VMs.     This is a moderate amount of work, that we needed before Travis-CI and Azure could cover most of the variants we needed.    The Builbot instance I was working on recently was for Psychopy - where they need to test machines attached to actual hardware like specific graphics card

[2020-06-16 16:01] takhs91 commented on #2182
I would like to discuss some more issues

1. Except from the out of bounds issue described above, which I believe it gets fixed with #2183 by skipping accessing x, y, z that fall out of bounds in the mask array, there is still an issue with negative indices.  While most of the `_streamlines_in_mask` I believe works correctly with negative indices since it uses `floor`, `ceil`,  `fabs` and `norm` w

[2020-06-20 20:00] kushaangupta opened #2185 "Inconsistency in stating references in dti.py"
## Description
Inconsistency in stating references

In the docstring of restore_fit_tensor function, there was an inconsistency in the way References were attributed. Everywhere else numeric indices were used as placeholders for References, but here Chang2005 was used.

https://github.com/dipy/dipy/blob/5e4adff8b1d86210a683b84034c18e388914a09e/dipy/reconst/dti.py#L1740

https://github.com/dipy/dip

[2020-06-20 21:15] kushaangupta commented on #365
1. Converting the example code into doctest is giving an error due to the assumption of the code that data exists in file _ISBI_testing_2shells_table_.
https://github.com/nipy/dipy/blob/8abe71f9e2746c7107e0ff5cccb068adb9f00947/dipy/reconst/shore.py#L145

[2020-06-26 07:16] dPys opened #2186 "Pure-python implementation of boundary-based registration (BBR)?"
Dipy equivalent to https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FLIRT_BBR ? It uses WM tissue segmentation from the T1w to improve the fit of a linear registration across modalities. Although it was originally intended for EPI->T1w transformation, I've found it to be even more beneficial for mapping between dwi and T1w, particularly when the anisotropic power map is used.

Curious to hear others' though

[2020-06-29 11:11] vins9100 commented on #827
Hello @mvgolub, I am Vincenzo, PhD student at icometrix and the University of Antwerp. I would be happy to see how the Beltrami FWE DTI performs on single shell data of dataset including healthy controls and dementia subjects. Can I ask you what is the current state of your implementation? Is it already available in dipy?
Thanks in advance for your help and support!

[2020-06-30 22:18] GFleishman opened #2187 "SSD metric for affine alignment"
I wasn't sure if there was a more appropriate place for this question.
Has anyone implemented a SSDMetric like object appropriate for use in affine registration?
I'm familiar with `align.metrics.SSDMetric`, but as far as I can tell, its API is not consistent with the requirements of `align.imaffine.AffineRegistration`.
Of course there is also `align.imaffine.MutualInformationMetric` but for my app

[2020-07-01 03:55] skoudoro commented on #2187
Hi @GFleishman,

Thank you for asking. we have an implementation of SSD in one of my branches. It just needs cleaning and redesign because there is a lot of duplicated code (the current code is ugly, sorry for that)

You can look:
- [here](https://github.com/skoudoro/dipy/blob/ssd/dipy/align/imaffine.py#L795) and [here](https://github.com/skoudoro/dipy/blob/ssd/dipy/align/ssdmetric.pyx) for the SS

[2020-07-01 10:31] giulia-berto commented on #2007
Hi @frheault, thank you for providing the corrected version of the atlas. I however found two inconsistencies:
1. The file fused_tractogram.trk has some spurious streamlines that appear as straight lines.
2. The file density_map.nii.gz is not aligned with the other images and trk files (it has a different affine).

[2020-07-03 00:43] dPys opened #2189 "odf can not have nans"
In dipy 1.1.0, any time I run local tracking (deterministic or probabilistic) using a CSD reconstruction on certain datasets, I get the following error (takes different forms depending on the tractography):

directions = self.direction_getter.initial_direction(s)
  File "dipy/direction/closest_peak_direction_getter.pyx", line 78, in dipy.direction.closest_peak_direction_getter.BaseDirectionGetter.

[2020-07-03 00:56] arokem commented on #2189
Do you have an example of the data from a voxel where this happens? And
bvals/bvecs

On Thu, Jul 2, 2020 at 5:43 PM Derek Pisner <notifications@github.com>
wrote:

[2020-07-03 01:39] dPys commented on #2189
Thanks @arokem for looking into this!

Here's some data: https://drive.google.com/file/d/1vDatKTGKIiYcmVN_y27s7PYVSNw5gGg0/view?usp=sharing

And here's some code to reproduce the error exactly:

[code]

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-32-451c998beeb0> in <module>

[2020-07-03 05:42] dPys commented on #2189
And here's the actual bvals/bvecs/metadata just in case:

[metadata.zip](https://github.com/dipy/dipy/files/4867931/metadata.zip)

[2020-07-03 16:23] dPys commented on #2189
My guess is that it is that the b-value distribution of the data is not compatible with CSD. That being said, it might help to add a user-error to csd reconst when the gtab may not be compatible? Not sure what the right heuristic for determining that would be, though.

[2020-07-03 20:45] arokem commented on #2189
Hey! At least in many (all?) cases this happens in voxels that have
physically implausible signals in them.

Running:

[code]

You'll see that:

[code]
So:

[code]

Thus, the mean b0 signal is smaller than some of the diffusion-weighted
signals. Indeed:

[code]
Negative numbers point to the diffusion-weighted signals that are larger
than the mean b0 signal in this voxel, which is not physically pl

[2020-07-06 11:13] AbdallahKelani opened #2190 "Reconstruction with Multi-Shell Multi-Tissue CSD"
When following [the tutorial](https://dipy.org/documentation/1.1.1./examples_built/reconst_mcsd/) I get this error:

`ArpackNoConvergence: ARPACK error -1: No convergence (471 iterations, 0/1 eigenvectors converged)`

Which seems to be from the line:
`mcsd_fit = mcsd_model.fit(denoised_arr[:, :, 10:11])`

The warning preceding the error:
[code]

-------

Also, from the denoising step I get this wa

[2020-07-06 11:32] skoudoro commented on #2190
Hi @AbdallahKelani,

Your first error is due to the new version of 'cvxpy' package so you can choose between this 2 temporary solutions:
- wait for DIPY release 1.3
- downgrade 'cvxpy' version. It should be 1.0 or below.

Concerning your second error, I suppose this warning appears because of the background of your image so nothing to worry about. Just make sure to apply the right mask.

[2020-07-07 23:21] dPys commented on #2189
Thank you for this incredibly thorough explanation @arokem !! So helpful.

I think adding such a warning/error would be helpful. I'd be happy to PR it?

[2020-07-07 23:31] arokem commented on #2189
Yeah - that would be cool. I think that the best would be to raise a warning with the voxel coordinates in it when hitting a nan odf. We get these kinds of issues/messages often and it would be really helpful for diagnosis/triage if we could ask people to do something like:

[code]

[2020-07-08 07:25] dPys commented on #2189
Hmm, maybe something along these lines?
[code]

...if so, where might be the best home for it (e.g. dipy/reconst/odf.py, dipy/reconst/utils.py)? and any specific preference for where it would get applied?

[2020-07-09 13:53] frheault commented on #2165
Here is some of my personal code for this problem:
[code]

[2020-07-09 19:35] 36000 opened #2192 "Bringing AffineMap and DiffeomorphicMap a little closer together"
The AffineMap class has a function transform with argument 'interp' specifying "the type of interpolation to be used":
https://github.com/dipy/dipy/blob/988f2c03fd0bda1f2679fa6a40766fd5d6aa091d/dipy/align/imaffine.py#L362
The DiffeomorphicMap class has a similar function with  a similar argument, but it is labelled 'interpolation':
https://github.com/dipy/dipy/blob/988f2c03fd0bda1f2679fa6a40766fd5

[2020-07-19 05:47] dPys commented on #2167
@wangyibin0011  Were you ever able to solve this? Once upon a time I spent countless hours on this issue, and the Direct Streamline Normalization tutorial probably needs to be updated at some point.

For awhile I thought I had accommodated for all cases by using a multiplicative Van Der Corput sequence to learn the FOV transforms needed across different voxel resolutions. Things can still break, h

[2020-07-19 05:57] dPys opened #2194 "LiFE model won't fit ?"
@arokem -- Have you ever encountered the below error?
[code]

The dwi and streamlines (depicted here as a density overlay) are aligned and the tractography is valid:
<img width="1437" alt="Screen Shot 2020-07-19 at 12 54 49 AM" src="https://user-images.githubusercontent.com/16432683/87868355-7c6d5100-c95a-11ea-9af6-b52162cb3c8c.png">

Here's my gradient table:

[code]

[2020-07-19 23:28] arokem commented on #2194
Do you have any streamlines with just one (or maybe even just two) nodes? I
think you need to filter your streamlines so that they all have some
reasonable length (I'd filter to >10 mm at the minimum).

On Sat, Jul 18, 2020 at 10:57 PM Derek Pisner <notifications@github.com>
wrote:

[2020-07-20 00:55] dPys commented on #2194
@arokem -- Yep that appears to fixed it. Good call!
I've added a few additional precautions for input streamlines as well to ensure that 1) voxel indices are positive; 2) all streamline points are inside the B0 brain mask; and 3) minimum fiber length exceeds 10 mm.

I could also PR this if it'd be useful in Dipy, although it's mostly just an amalgamation of stuff that's already floating around? Le

[2020-07-20 01:06] dPys commented on #2194
@Garyfallidis It would still be nice if there was a way to incorporate further plausibility check on the basis of known bundles? but I haven't been able to find a good solution that is fast enough and doesn't require some degree of tuning depending on which fibers in particular are being tracked. Could it be feasible to maybe even just roughly evaluate similarity between a density map of the strea

[2020-07-20 01:37] arokem commented on #2194
For starters, could you add just some simple input validation in [the fit method](https://github.com/dipy/dipy/blob/master/dipy/tracking/life.py#L439-L477), making sure that all the streamlines are longer than 1 node?

[2020-07-20 02:14] leofang commented on #2184
We had a local Azure agent set up to do this job, see https://github.com/NSLS-II/ptycho_gui/pull/90. It is doable on a per-repo basis: just set up the connection between any GitHub repo and Azure Pipeline, add local GPU machines to the Azure runner pool, and run the Azure agents on those machines to listen to jobs. We also set up a GitHub Action to do the same thing: https://github.com/NSLS-II/pty

[2020-07-20 04:22] dPys commented on #2194
https://github.com/dipy/dipy/pull/2195 @arokem

[2020-07-20 15:34] grlee77 commented on #2184
Thanks @leofang, that is helpful. In your configuration, does the GPU-based CI kick off automatically on each PR or can you configure it to have a bot run it only when requested? I think for DIPY's usage scenario, given that all code is currently CPU-only, we would only need to start the GPU-based CI when specifically requested on future PRs that involve additions/changes to GPU-related features.

[2020-07-20 17:24] leofang commented on #2184
Currently it is up every time the PR is updated, but yes, I think invoking it as needed (something like "Jenkins, test this please") is a more desirable behavior. I'll look into it.

The thing is we don't even know what cloud resources provide GPUs, so we have to use our own. I know RAPIDS have gpuCI but I don't think it's exposed to general users. Would be nice to have a cloud-based option indeed

[2020-07-27 02:40] venkatbits commented on #827
Is single shell free water DTI python code complete and available for researchers to use. If so where can I find them

[2020-07-27 10:54] arokem commented on #827
There is an implementation of that here: https://github.com/dipy/dipy/pull/2087, but it has yet to be merged to the main branch of the software.

[2020-08-03 20:17] tashrifbillah commented on #2054
Hi @RafaelNH , can you point us to your PhD thesis, more specifically Chapter 3?
I did follow the [link](https://digital.lib.washington.edu/researchworks/handle/1773/33311) from docstring but couldn't find the above.

[2020-08-10 18:37] tashrifbillah commented on #2054
Ping @RafaelNH ...

[2020-08-14 12:09] IRISstrasbourg opened #2201 "Gradient table message error"
Hello,

 New Dipy user, I'm following the tuto 'getting started". I met a problem with gradient_table command line.
I get this message error:

**Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/po/anaconda3/lib/python3.8/site-packages/dipy/core/gradients.py", line 441, in gradient_table
    return gradient_table_from_bvals_bvecs(bvals, bvecs, big_delta=big_del

[2020-08-14 15:07] arokem commented on #2201
Hi @IRISstrasbourg : We assume that b-vectors are all unit length and it looks like some of the _vector lengths_ of the bvecs are not close enough to 1.

Try:

[code]

These numbers should all be 1 or very close to 1. If you'd still like to go ahead with these b-vecs (though we recommend you don't! It might affect downstream calculations...), you can set the tolerance as an input to the `gradient_

[2020-08-14 15:32] arokem opened #2202 "Add error handling in Diffeomorphic map `get_map`"
See question and answer on gitter here: https://gitter.im/dipy/dipy?at=5f2bc43f83a82b0f05a383a8

Currently, when you try to run the `get_map` method of a `DiffeomorphicMap` class instance before running `optimize` you get a rather cryptic error. It would be nice if that error instead explained what is going on and what you should do next.

[2020-08-14 15:32] arokem commented on #2202
Sorry for the cryptic title. Now edited!

[2020-08-14 15:41] skoudoro commented on #2202
Can you fix it @sarathknv? Thank you.

[2020-08-14 20:59] sarathknv commented on #2202
Sure, I'll send a PR.

[2020-08-18 16:06] #2182 closed

[2020-08-20 00:57] skoudoro commented on #2177
fixed by #2196, closing

[2020-08-20 00:57] #2177 closed

[2020-08-24 16:28] arokem commented on #2184
This neat video shows how to use GPU on a self-hosted runner in CI using GitHub Actions: https://www.youtube.com/watch?v=rVq-SCNyxVc. Also, this blogpost: https://dvc.org/blog/cml-self-hosted-runners-on-demand-with-gpus

[2020-09-01 22:26] skoudoro commented on #2192
+1 !  Thanks for this feedback @36000. We will start a deprecation cycle on release 1.3 and update this parameter name.

[2020-09-01 22:29] skoudoro commented on #2194
I supposed it is fixed by #2195. Closing

[2020-09-01 22:29] #2194 closed

[2020-09-01 22:33] skoudoro commented on #2185
Thank you for pointing that @kushaangupta.

Can you fix it @areeshatariq? Thanks!

[2020-09-01 22:38] skoudoro commented on #2138
fixed by #2001, closing

[2020-09-01 22:38] #2138 closed

[2020-09-01 22:39] skoudoro commented on #2153
fixed by #2152, closing

[2020-09-01 22:39] #2153 closed

[2020-09-01 22:43] skoudoro commented on #2115
Hi @areeshatariq,

Can you fix this issue? Thank you!

[2020-09-01 22:48] skoudoro commented on #2109
Hi @arokem,

I think it is time to start the new season! DIPY meeting FALL 2020.

Can you create a new issue?

[2020-09-01 22:50] skoudoro commented on #2107
fixed by [FURY](https://github.com/fury-gl/fury). closing

[2020-09-01 22:50] #2107 closed

[2020-09-01 22:52] skoudoro commented on #2070
closing this issue for the moment. We can not reproduce it. Feel free to reopen it

[2020-09-01 22:52] #2070 closed

[2020-09-01 22:54] #2061 closed

[2020-09-01 23:03] skoudoro commented on #2007
I am closing this issue in favor of #2166.

@giulia-berto, Can you look at the discussion in #2166 and check if you find the same inconsistencies?

thank you

[2020-09-01 23:03] #2007 closed

[2020-09-01 23:05] skoudoro commented on #2166
Can we close this issue @frheault @BramshQamar @arokem @giulia-berto?

[2020-09-01 23:09] skoudoro commented on #1793
Closing this issue. Many problems have been fixed and this issue starts to be too generic.

[2020-09-01 23:09] #1793 closed

[2020-09-02 14:59] skoudoro opened #2209 "_pytest.pathlib.ImportPathMismatchError:"
On Linux, Travis and Azure generate an error when they collect the test. The failing files seem to be the Cython files.

At this moment, I do not understand what is going on so any help will be really appreciated.

An example of this error: https://travis-ci.com/github/dipy/dipy/jobs/380096223#L2353

[2020-09-02 16:53] giulia-berto commented on #2166
I still find in the files here https://drive.google.com/open?id=1pObyKLGJNPFZhMIncYuLn9utJDKb-Uq9 the same inconsistencies mentioned in the other issue:
1. The file fused_tractogram.trk has some spurious streamlines that appear as straight lines.
2. The file density_map.nii.gz is not aligned with the other images and trk files (it has a different affine).

[2020-09-02 18:49] skoudoro commented on #2209
@arokem, Do you have any idea?

[2020-09-02 19:36] skoudoro commented on #2209
seems related to the last release of `setuptools`... still introspecting...

[2020-09-02 20:51] skoudoro commented on #2209
Indeed, it seems that Setuptools is the cause of this problem. Other problems related to `setuptools 50.0.x`

- https://github.com/pypa/setuptools/issues/2372
- https://github.com/statsmodels/statsmodels/pull/7016

We need to have a better understanding of our problem. But for the moment, we will downgrade Setuptools on Travis and Azure until a fix appears.

[2020-09-03 13:42] skoudoro commented on #2209
temporary fixed in #2208

[2020-09-08 09:14] yokiqust opened #2213 "Smooth contour of roi"
I want to show some smooth contour, i have tried gaussian_filter and scipy.ndimage.zoom, they doesn't work.

[2020-09-08 10:46] skoudoro commented on #2213
Hi @yokiqust,

This is not a DIPY issue. I will have to close it. I recommend you to ask this question in one of this channel:

- On neurostars: https://neurostars.org/c/neuroquestions/1
- DIPY gitter: https://gitter.im/dipy/dipy
- Neuroimaging mailing list: https://mail.python.org/mailman/listinfo/neuroimaging

[2020-09-08 10:46] #2213 closed

[2020-09-08 12:38] #2114 closed

[2020-09-09 11:54] skoudoro opened #2214 "Rackspace does not exist anymore -> Update PRE-matrix on Travis and Azure required"
All are on the title and the situation is well explained by @matthew-brett on [this page](https://github.com/matthew-brett/multibuild).

We need to update our Travis and Azure scripts and we need to figure out a solution for DIPY wheels.

[2020-09-09 20:47] skoudoro commented on #325
Due to the new tracking API, this is not anymore relevant. Closing

[2020-09-09 20:47] #325 closed

[2020-09-09 20:58] skoudoro commented on #388
Hi @CHrlS98,

Since you are looking to the sh basis, Could you also look at this issue please?

You can ask @mdesco for more information.

If it is not relevant anymore, feel free to close this issue.

Thank you

[2020-09-09 21:02] skoudoro commented on #392
Hi @CHrlS98,

Since you are looking and updating the SH basis via PR #2206, Could you also look at this issue and give feedback to the community,  please?

Thank you

[2020-09-09 21:18] skoudoro commented on #1354
Hi @salma1601,

I believe that your CSD response issue has been solved by #2191. Since we can not reproduce this old problem, I will close the issue for now. Feel free to reopen it!

[2020-09-09 21:18] #1354 closed

[2020-09-11 02:19] #1762 closed

[2020-09-11 19:13] vinkirk opened #2215 "problem with fetching stanford data"
Hi DIPY experts,

I'm having trouble fetching the stanford dataset and get the following error message (please see below).  Any help would be greatly appreciated.

Thanks,

Vinny

---------------------------------------------------------------------------
SSLCertVerificationError                  Traceback (most recent call last)
/home/vinny/miniconda3/lib/python3.7/urllib/request.py in do_open(se

[2020-09-11 20:39] vinkirk commented on #2215
I had to put in the following code to solve this problem...
from dipy.data import fetch_stanford_t1

import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    # Legacy Python that doesn't verify HTTPS certificates by default
    pass
else:
    # Handle target environment that doesn't support HTTPS verification
    ssl._create_default_https_co

[2020-09-11 20:39] #2215 closed

[2020-09-11 21:25] #2185 closed

[2020-09-13 19:45] CHrlS98 commented on #388
Hi @mdesco,

I'm not sure I understand the full extent of the issue. We talked about not allowing the user to convert from SF coefficients to SH coefficients when there is less data than coefficients to estimate. I could add a check in function `sh_to_sf` but I'm not sure it would fully cover the scope of the current issue. Maybe this is material for a standalone PR other than #2206?

Thanks

[2020-09-15 00:16] skoudoro commented on #2214
Linked to MacPython/dipy-wheels/pull/5

[2020-09-15 00:26] skoudoro opened #2216 "test_multi_shell_fiber_response failed with Numpy 1.13.3"
After playing with DIPY wheels [here](https://github.com/MacPython/dipy-wheels/pull/5), we can see [here](https://github.com/MacPython/dipy-wheels/runs/1108383572#step:10:1940) that `test_multi_shell_fiber_response` is failing with Numpy 1.13.3.

We just need to check and update the Numpy minimum version  for `rcond` [here](https://github.com/dipy/dipy/blob/master/dipy/reconst/mcsd.py#L424)

Can y

[2020-09-15 22:19] #2216 closed

[2020-09-16 15:06] arokem opened #2219 "Replace fetcher progress bar with tqdm"
Does anyone mind if we replace the progress bar defined here:

https://github.com/dipy/dipy/blob/b0b89bcdd2fa349b8f7fde50287fac3cf35bc845/dipy/data/fetcher.py#L45

with a [tqdm](https://tqdm.github.io/) progress bar?

The one we are currently using tends to create very long logs, because each iteration generates its own line. I think that tqdm would solve that problem. This would add another depen

[2020-09-16 15:09] skoudoro commented on #2219
Is tqdm multi-platform? I am ok with that if it is really light. I need to give a look.

[2020-09-16 15:16] skoudoro commented on #2219
After a deeper look, +1  👍

[2020-09-19 22:44] Redouan20102 opened #2222 "How can I track different streamlines in DIPY?"
I'm working on a project where i have to use DIPY to track different streamlines of the brain and show them separately, I found the code to track the Corpus Callosum on DIPY's official website. Only I couldn't understand how to make it track other parts like the Cingulum for instance.
anyone has any idea on how to do that?
thank you all.

[2020-09-19 22:55] arokem commented on #2222
You can use the DIPY CLI to call the [Recobundles](https://pubmed.ncbi.nlm.nih.gov/28712994/) algorithm. There's an example of the sequence of CLI calls here: https://github.com/dipy/dipy_qa/blob/master/code/simple_flow_series.sh

Alternatively, if you are feeling adventurous, you can use the DIPY-dependent project [pyAFQ](http://yeatmanlab.github.io/pyAFQ/), which tries to emulate the [AFQ](https

[2020-09-20 14:08] skoudoro commented on #2222
To complete @arokem information:

- More details on basic the CLI on this page: https://dipy.org/documentation/1.2.0./interfaces/basic_flow/
- Current available tutorial on CLI : https://dipy.org/documentation/1.2.0./interfaces
- the list of CLI : https://dipy.org/documentation/1.2.0./reference_cmd/

[2020-09-23 17:24] soichih commented on #2046
@bacaron just ran into this issue.

Maybe it could also check the bvals and if they are near-0, then assume that the image is b0-only image and only show warnings?

[2020-09-23 21:22] skoudoro commented on #2046
I will create a PR to fix that @soichih, I plan to allow it and just add a warning to the user as proposed above.

So this feature will be available for the next release (1.3), next month.

[2020-09-24 20:27] dPys opened #2228 "Best practices for saving a tissue classifier object?"
<dipy.tracking.stopping_criterion.BinaryStoppingCriterion at 0x7fce0c4a1730> doesn't seem to like to agree with any form of io. nifti/array-saving methods don't seem to work, pickling it leads to `no default __reduce__ due to non-trivial __cinit__`, and hdf5 can't seem to serialize it either. Has anyone come up with a clean way to do this yet?

Cheers,
@dPys

[2020-09-24 21:41] skoudoro commented on #2228
Hi @dPys,

I have not try to save the Tissue Classifier so no idea... Maybe @gabknight or @frheault will have a better idea...

[2020-09-24 21:56] #2214 closed

[2020-09-24 21:58] arokem opened #2229 "DIPY open group meetings, Fall 2020"
Hello everyone!

In Fall 2020, we will have the following meetings:

- October 21st, noon EST / 6pm CET:  @skoudoro talks about the upcoming DIPY release (issue overview, help on PR, etc...)
- November 4th, noon EST / 6pm CET: @36000 presents [pyAFQ](http://yeatmanlab.github.io/pyAFQ/)
- November 18th, noon EST / 6pm CET: @BramshQamar  presents and runs a demo of BUAN framework. Recently published

[2020-09-24 21:59] arokem commented on #2229
We already have a speaker and topic for our first meeting. If you are interested in a particular topic of discussion, please let us know here.

[2020-09-25 03:25] skoudoro commented on #2109
Superseded by #2229

[2020-09-25 03:25] #2109 closed

[2020-09-25 07:05] gabknight commented on #2228
Hi @dPys, @skoudoro

I never saved StoppingCriterion/TissueClassifier either. Is there a specific reason you want to save it? My intuition would be to rather save the input volumes in Nifti format (e.g. mask, metric_map, include_map, exclude_map).

I think to save them, we would need to implement the __reduce__ function for those cython classes.

[2020-09-25 07:27] dPys commented on #2228
Thanks @skoudoro and @gabknight , it might have been convenient if the reduce had already existed, but I guess probably not worth the effort to implement it. Will just save everything as a 4d image.

Cheers,
@dPys

[2020-09-25 07:27] #2228 closed

[2020-09-25 13:23] arokem opened #2232 "This should be len(np.unique(gtab.bvals)) - 1 or somesuch"
https://github.com/dipy/dipy/blob/e6369b5a45ed3124003f902f664238785cc261aa/dipy/reconst/mcsd.py#L746

[2020-09-25 13:23] arokem commented on #2232
See #2230

[2020-09-27 16:30] Redouan20102 commented on #2222
thank you @skoudoro and @arokem for your answers, but my question ws much simpler than that. I believe I have found the answer inside the dataset files.
I'm working with the Stanford-HARDI dataset and I found a file names "label_info.txt" inside of it today with labels for each bundle of the white matter, here it is in case anyone didn't find it:

thanks again for your help, if you ave nothing to

[2020-09-28 05:36] j1c opened #2236 "Parallelize gibbs_removal"
## Description
`gibbs_removal` in essence does fft on each 2d slice of either a 3d or 4d volume. This particular this line, https://github.com/dipy/dipy/blob/c1c43b4ea71086682a5b408b539274495a9052cb/dipy/denoise/gibbs.py#L290 just loops through each slice sequentially. It should be fairly trivial to parallelize the process via `multiprocessing`.

Of course this can be done at the user level by sim

[2020-09-28 06:08] j1c opened #2237 "gibbs_removal overwrites input data when inputting 3-d or 4-d data."
## Description
`gibbs_removal` overwrite input data when inputting 3-d or 4-d data that happens on this line. https://github.com/dipy/dipy/blob/c1c43b4ea71086682a5b408b539274495a9052cb/dipy/denoise/gibbs.py#L291 I doubt this is intentional, but is an easy fix by simply making a copy of the input data in the beginning or creating an empty array to write into.

## Way to reproduce
[If reporting a bu

[2020-09-28 13:38] skoudoro commented on #2236
Indeed @j1c,

Following our calendar, this feature can be integrated for the release 1.5 (in March). However, feel free to give a try if you want it for an earlier release!

Thank you for your feedback.

[2020-09-28 13:44] skoudoro commented on #2237
Thanks @j1c!

I see 2 options here:
- We might add an option `inplace` or not. Some people want to save memory and keep this behavior as it is.
- Otherwise, we can just warn (in the documentation) the user to create an image before if they do not want their image to be overwritten.

What do you think @arokem ? others?

[2020-09-28 14:21] skoudoro commented on #2222
oh ok, that's great! nothing to add 😄.

I am closing this issue. Thank you for your feedback @Redouan20102!

[2020-09-28 14:21] #2222 closed

[2020-09-28 14:24] Strivathsavashwin commented on #827
Hi. The question I am going to ask might not be relevant to the above topic and the question is very basic. I am a beginner in the field of neuroimaging. I want to understand what information does the file bvals and bvecs provide. Is it anyway related to the acquisition and how does the b value affect the dMRI image. Also how do we derive the diffusion tensor with the eigen vectors from the dMRI i

[2020-09-28 14:43] skoudoro commented on #827
Hi @Strivathsavashwin,

As you said, it is not related to the above topic so we recommend you to ask this question on one of these 2 platforms:

- Neurostars forum: https://neurostars.org/c/neuroquestions/1
- Neuroimaging mailing list: https://mail.python.org/mailman/listinfo/neuroimaging

For sure, you will get a lot of answers from the community.

I hope it helps

[2020-09-28 14:45] Strivathsavashwin commented on #827
Hi skoudoro,

Thanks for the response

[2020-09-28 15:05] arokem commented on #2237
I think that an `inplace=True` key-word argument would be my preferred
option.

On Mon, Sep 28, 2020 at 6:44 AM Serge Koudoro <notifications@github.com>
wrote:

[2020-09-28 16:36] j1c commented on #2237
Ok I can add an inplace kwarg.

Looking at the code a bit more, it appears that in the case of 2d input, it will always return a copy. Should I make the inplace behavior consistent for 2d, 3d, and 4d inputs?

[2020-09-28 16:46] skoudoro commented on #2237
yes, Thank you for that!

[2020-09-29 21:49] areeshatariq opened #2243 "Unable to visualize data through dipy_horizon"
## Description
Dataset:
- isbi2013_2shell (Before & After LPCA denoising)
- cfin_multib (After MPPCA denoising)

On visualizing the above-mentioned datasets, dipy_horizon is showing a plain white image

## Way to reproduce
To visualize the dataset, use the following command on CLI:

dipy_horizon absolute_path_to_dataset

Please note the following important information:
- VTK version 9.0.1
- Operat

[2020-09-30 13:38] jhlegarreta commented on #2243
@areeshatariq Can you please specify the VTK version ?

[2020-10-01 04:25] arokem commented on #2190
I wanted to flag that I am still seeing this:

[code]

Even though I am running on current master.

[2020-10-01 10:54] #2237 closed

[2020-10-01 18:20] skoudoro commented on #2190
It is not always easy to track. I think we are missing 2-3 updates for a specific case.

Can you provide the code/call which generates this warning @arokem?

[2020-10-07 13:13] #2243 closed

[2020-10-09 04:26] j1c opened #2251 "localpca tau_factor is hard coded to 2.3"
## Description
`localpca` will always use 2.3 as `tau_factor` since the line below doesn't reference the input argument. According to the docs, seems like the user should be able to set this.

https://github.com/dipy/dipy/blob/8c4b76d7ece74cb06d24dfaa1ce4f2b4fb274be9/dipy/denoise/localpca.py#L318

[2020-10-09 10:05] marcobattiston1988 commented on #2164
Hi all,

Sorry for jumping in this conversation, but I am experiencing similar issues to those reported here.

In our lab, we are using dipy in most of our analysis, and it is a great tool indeed (thanks a lot for developing this and making it available to anyone!!!), however we are struggling a bit to get satisfactory DKI maps: that known "black voxels" issue mention above here.

My little knowle

[2020-10-09 13:48] skoudoro commented on #2251
Good catch! Thanks @j1c. addressed in #2252

[2020-10-09 18:22] #2251 closed

[2020-10-13 12:53] alecrimi opened #2254 "Trackvis header saved with Dipy (nibabel) is not read by Matlab or other tools"
## Description
I am having issues loading some information from tracts saved by Dipy from Matlab or other things that need certain informations on the header

I use the library nibabel:
[code]

and I save the tracks like this
[code]

one of the missing field which is very important to me is "n_count"
the command `len(csd_streamlines)` produces a real integer number, and it seems stored into hdr['n

[2020-10-13 13:58] skoudoro commented on #2254
Hi @alecrimi,

Thank you for the feedback.

Can you tell us your DIPY version and how you save your tracks? Are you using the `StatefulTractogram` and `dipy.io.streamlines.save_tractogram`?

[2020-10-13 14:30] skoudoro commented on #2254
After a deeper look, it seems to be a Nibabel issue. So I am closing this one and the discussion should continue on the issue https://github.com/nipy/nibabel/issues/959

[2020-10-13 14:30] #2254 closed

[2020-10-14 13:50] #2236 closed

[2020-10-14 14:46] #2219 closed

[2020-10-14 19:09] skoudoro commented on #2054
Hi @tashrifbillah,

What is the status of this issue? Can we close it?

As @RafaelNH recommend you, you can find his PhD thesis in the following link: https://www.repository.cam.ac.uk/handle/1810/281993 or download it [here](https://www.repository.cam.ac.uk/bitstream/handle/1810/281993/2017_RafaelNH_PhD.pdf?sequence=1&isAllowed=y)

[2020-10-14 19:16] skoudoro commented on #2232
I think #2233 close this issue. Can you confirm @arokem?

[2020-10-14 19:18] arokem commented on #2232
Confirmed!

[2020-10-14 19:18] #2232 closed

[2020-10-14 19:19] skoudoro commented on #2201
I am closing this issue, feel free to reopen it if your problem is not resolved @IRISstrasbourg

[2020-10-14 19:19] #2201 closed

[2020-10-14 21:07] skoudoro commented on #2166
@frheault, Can you fix the header/affine of the files in your google drive? Thanks!

[2020-10-14 21:12] skoudoro commented on #2115
Just a quick reminder @areeshatariq. It would be good to have PR soon. Thank you!

[2020-10-15 15:38] #2192 closed

[2020-10-15 18:24] skoudoro commented on #1853
Hi @AntoineTheb,

Can you give us an update concerning this issue? Thank you

[2020-10-15 18:26] skoudoro commented on #1973
Hi @BramshQamar,

Can you look at this issue and fix it, please? I know that you have some expérience with reccoBundles.

Thank you

[2020-10-15 19:10] #1489 closed

[2020-10-17 18:17] #2115 closed

[2020-10-17 18:20] #342 closed

[2020-10-17 19:01] #2202 closed

[2020-10-18 00:03] #2117 closed

[2020-10-18 03:32] skoudoro commented on #1264
issue on python27 and not anymore relevant. closing

[2020-10-18 03:32] #1264 closed

[2020-10-18 03:35] skoudoro commented on #1266
We do not have anymore this problem. The test has changed to be more robust/deterministic. Closing

[2020-10-18 03:35] #1266 closed

[2020-10-18 14:49] skoudoro commented on #2229
Calendar updated, there is a topic for all meeting!

[2020-10-18 23:24] #2132 closed

[2020-10-19 15:25] skoudoro commented on #2229
Hi @dipy/dipy-community,

The meeting on Wednesday (October 21st, noon EST / 6pm CET) will be dedicated to the future Release help, request, advise...
we would really appreciate the presence of:

- @CHrlS98 to talk about spherical harmonics in its PR #2206
- @gabknight to give us feedback about tractography in its PR #2036
- @StongeEtienne to provide us the status of mesh surface and its PR #1648

[2020-10-20 02:16] grlee77 commented on #2109
The GPU implementations covered in my June 2020 presentation are now up at https://github.com/dipy/cudipy. Please try it out and let me know if you encounter any issues. The specific functions covered are highlighted in the README and by the adaptation of previously existing DIPY examples in `doc/examples`.

I did manage to make another ~4x speed improvement to MRF-based tissue classification from

[2020-10-21 16:02] MattCooke opened #2269 "Allow dipy_fit_dti Workflow to Use Native Orientation of Provided Mask Image"
## Description
Currently, it seems that the dipy_fit_dti work flow converts the orientation of provided Dicom and Mask Nifti images to RAS. It would be nice if the workflow allowed an option to keep the orientation of the provided mask or dicom data. I have a case where I provide a mask that is in the RAI orientation and when handed to dipy_fit_dti, it flips the z row to convert it to RAS. This re

[2020-10-21 17:18] skoudoro commented on #2229
Thank you all for your presence!

Quick summary:
----------------
#2206 -> spherical harmonics:  we keep the SH legacy, the PR should be done for release 1.3.  The default SH definition might change in DIPY 2.0. We should start slowly the transition and plan a new meeting on January/February

#2036 -> Tractography:  Axtract framework is promising but needs still some works. ETA: March and release

[2020-10-21 18:19] skoudoro commented on #2269
Thank you for this feedback @MattCooke. Do you have any data to share?

To clarify, the mask AND the data are in RAI orientation, right? not only the mask? If it is only the mask, How do you generate it?

Can you post the result of `dipy_info  {my_nifti_file} {my_mask_file}` workflow?

Thank you

[2020-10-21 22:01] #2046 closed

[2020-10-21 22:01] #2190 closed

[2020-10-21 23:30] skoudoro commented on #2054
closing this issue, feel free to reopen it at any moment @tashrifbillah.

[2020-10-21 23:30] #2054 closed

[2020-10-21 23:36] skoudoro commented on #1805
Hi @jchoude,

Do still plan to create a PR concerning this issue/New feature? Can you give us a feedback?

Thank you!

[2020-10-23 13:41] MattCooke commented on #2269
The mask is Generated by my own application and I can't share that with you, but I might be able to share some resulting images.

[2020-10-28 19:31] #392 closed

[2020-10-28 23:39] CHrlS98 commented on #388
Hi @skoudoro @mdesco ,
This issue was not solved by PR #2206.
It needs to be reopened.

Thanks

[2020-10-29 01:15] skoudoro commented on #388
I just reopen it, sorry about that.

[2020-10-29 08:26] rosella1234 opened #2274 "DKI metrics' accuracy"
## Description
[Please provide a general introduction to the issue/proposal.]

[If reporting a bug, attach the entire traceback from Python and follow the way to reproduce below]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Code example
- [x

[2020-10-29 08:34] rosella1234 commented on #2274
Hi
I have some doubts about computation of DKI measures on neonatal spinal cord imaging. My initial DKI image's quality is not extremely high due to short acquisition time necessary for my patients' age range. Acquisition sequence is made up of 6 b=0, 13 b=700 and 13 b=2100 s/mm2. I put as a input of dipy script the DKI image after FOV reduction and motion correction. I then perform Gaussian smoot

[2020-10-29 19:05] skoudoro commented on #2274
Hi @rosella1234,

Thank you for your feedback, we will look into it.

Also, @arokem and @RafaelNH can you have deeper a look? We might have a problem or we need to be more specific with the expected input data. Here some similar/duplicate issue:  #2164 and #2026

[2020-10-29 19:28] arokem commented on #2274
Hi Rosella! Thanks for getting in touch. Do you do any denoising/smoothing
of the data before fitting DKI? If you are going to smooth the results
anyway, I would recommend trying to do that before fitting.

On Thu, Oct 29, 2020 at 1:35 AM rosella1234 <notifications@github.com>
wrote:

[2020-10-30 08:15] rosella1234 commented on #2274
Hi, thanks for your response! Before the fitting I correct the data for motion correction inside Spinal Cord Toolbox (https://sourceforge.net/projects/spinalcordtoolbox/), give this motion corrected image as a input of dipy, and here perform Gaussian smoothing before fitting to Kurtosis Model.

[2020-10-30 17:31] skoudoro opened #2276 "Update Align workflow + create transformation tutorial"
This issue is a follow up of a discussion with @grlee77 in #2223. 3 PRs needs to be created

[2020-11-02 19:51] BramshQamar opened #2279 "Visibility of Workflow Tutorials on DIPY website"
Hello,

Right now workflow tutorials are hard to find. They are listed under: Documentation -> Manual xyz -> DIPY Workflows Interfaces.

Adding them to tutorials will increase its accessibility as they are also tutorials.

Inside tutorials, we can list workflow tutorials along with its pythonic script tutorials. It will also make it easier for user to decide which one meets their needs.

[2020-11-03 09:28] gabknight commented on #2229
If you want to add the meetings to your google calendar: https://calendar.google.com/calendar/embed?src=1k5r4joom8h1h13c2akm39f6fs%40group.calendar.google.com&ctz=Europe%2FAmsterdam

[2020-11-03 15:34] skoudoro commented on #2229
Thank you @gabknight.

As a reminder, tomorrow meeting/talk is about [pyAFQ](http://yeatmanlab.github.io/pyAFQ/) by @36000  (November 4th, noon EST / 6pm CET)

See you tomorrow @dipy/dipy-community!

[2020-11-04 18:30] 36000 commented on #2229
Sorry I was late today. Here are the introduction slides I used:
https://docs.google.com/presentation/d/19MiWNjawJNLYq6hA-XEV0X7G1OHpKTJdnYHg3OVFiRk/edit?usp=sharing

Here is an example of how to use the pyAFQ CLI:
https://yeatmanlab.github.io/pyAFQ/usage/index.html
An example config file is attached: [test.toml.zip](https://github.com/dipy/dipy/files/5489800/test.toml.zip)

Here is an example of

[2020-11-06 04:45] skoudoro commented on #2279
Thank you for the feedback @BramshQamar!

website updated, closing

[2020-11-06 04:45] #2279 closed

[2020-11-06 15:04] areeshatariq opened #2281 "Black Output for pam5 file with dipy_horizon"
## Description
Dataset:
- stanford_hardi
- cfin_multib

Methods:
- dipy_fit_dki
- dipy_fit_csa
- dipy_fit_csd

Black Output for peaks.pam5 file with dipy_horizon

## Way to reproduce
To visualize the dataset, use the following command on CLI:

dipy_horizon <absolute_path_to_dataset>

Please note the following important information:
- VTK version 9.0.1
- Operating system and version Ubuntu 18.04

[2020-11-06 15:58] skoudoro commented on #2281
Thank you for the feedback @areeshatariq. We will look into it

[2020-11-09 07:48] NeuZhangQiang opened #2285 "How to apply the registration transform field for a point?"
DIPY is really a useful tool . Currently, I use dipy for registration, and the result is good. The code is:

[code]

I know that I can apply the transform field for a image, like:
[code]
But, how can I apply the transform field for a point (x, y, z)?

Any suggestion is appreciated!

[2020-11-10 04:05] arokem commented on #2285
Thanks for your question! The mapping object has 4D volumes called `mapping.forward` and `mapping.backward` that indicate how you would move from a particular position for the forward and backward transform.

So, I think that something like:

[code]

[2020-11-10 09:33] NeuZhangQiang opened #2288 "How to apply SSDMetric for affine registration?"
I am using dipy in my project. Currently, the affine registration code is:

[code]

Sometime, the above code would crush; Some time, it is OK. I don't know.

Moreover, I think ```MutualInformationMetric``` is not the best option for my project, because both static and moving image are 0/1 mask. Thus, I want to use ```SSDMetric``` in the registration. However, when I set ```SSDMetric``` as the metr

[2020-11-10 14:50] skoudoro commented on #2288
Hello @NeuZhangQiang,

Thank you for asking.

Unfortunately, SSD metric is not yet implemented for AffineRegistration.

However, I give more information on a [previous answer here](https://github.com/dipy/dipy/issues/2187#issuecomment-652174130) if you to try a future version.

[2020-11-11 11:10] zhang-qiang-github commented on #2285
@arokem Thank you very much for your kindly reply. I meet some problem when I transform the point.

All code and data is updated to [github](https://github.com/zhang-qiang-github/registrationDemo).

Firstly, I visualize the data and point (showImg.py), and the code is:
[code]
And the result is:

![image](https://user-images.githubusercontent.com/62534955/98791752-7424ae80-2440-11eb-9b10-72b28e62e2

[2020-11-11 17:17] arokem commented on #2285
Not sure, but I would try replacing `mapping.forward` with `mapping.backward`, in case I got the directions wrong.

[2020-11-12 00:27] zhang-qiang-github commented on #2285
@arokem But，even the mapping.forward is replaced with mapping.backward, the point is still on the outside of warp_img. How can I correctly map the point?

[2020-11-12 06:38] arokem commented on #2285
I don't know. Sorry.

[2020-11-12 14:25] larsoner opened #2290 "BUG: Doc intersphinx link broken"
## Description

In < 1.3.0, we could link to `dipy.align.imaffine.AffineMap`. In 1.3.0, this changes to `dipy.align._public.AffineMap`, which is not great:
[code]
And you can even see the `_public` in the name on the website:

https://dipy.org/documentation/1.3.0./reference/dipy.align/#affinemap

[2020-11-12 17:20] skoudoro commented on #2290
Indeed, it is not great, I do not know yet why this path got the priority over `dipy.align.imaffine.AffineMap`.
Thank you for letting us know, we will look into it

[2020-11-12 17:32] skoudoro commented on #2285
Hi @zhang-qiang-github,

We have a function to warp point not yet in DIPY.
For inspiration, you can look at this PR : https://github.com/dipy/dipy/pull/936/files#diff-7e196fd3b79b99d2379639114cbd3fe8ce08c143a597d34714ef88aa94b65de9R293

As you can see, you will have to call some private function but it is doable. Otherwise, you can wait this PR to be merge. We still need to clean and rebate it.

I

[2020-11-12 17:34] arokem commented on #2290
I am not sure how this happened, but maybe we should implement `__all__` in dipy.align._public (and more generally).

[2020-11-12 18:34] skoudoro commented on #2290
👍

[2020-11-12 22:29] Garyfallidis commented on #2290
Thank you @larsoner. Great catch!

[2020-11-12 23:23] larsoner commented on #2290
Don't thank me, thank CircleCI and Sphinx with `-nW` nitpicky+warnings-as-error mode, they did the hard work :)

[2020-11-13 03:36] skoudoro commented on #2290
Just as a reminder and when we have time, we need to look at [this script](https://github.com/dipy/dipy/blob/master/doc/tools/apigen.py) to fix our issue with API doc and intersphinx. Our script seems to ignore `__all__`.

Look at #2291 for more info.

[2020-11-16 14:23] larsoner opened #2293 "ENH: AffineMap as sparse matrix"
Over in MNE-Python volumetric morphing is sometimes a bottleneck for our processing, as we will need to apply the same transformation (really a sequence of multiple transformations) to hundreds or thousands of volumes.

I [wrote a bit of code](https://github.com/mne-tools/mne-python/pull/8521/files#diff-60faf4ed8711c7a4e0378f56b644f10bc98c120fed548465cac439e1d961c00cR2344-R2438) that I [test for e

[2020-11-16 15:52] grlee77 commented on #2293
Thanks @larsoner, this seems interesting. I will take a closer look later.

Another alternative if you have a GPU compatible with CuPy is the affine map implementation in the experimental [cudipy](https://github.com/dipy/cudipy/) package. A relatively small subset of DIPY is implemented there, but the function layout is the same, just replacing `dipy`->`cudipy`.

e.g.
[code]

The sparse matrix app

[2020-11-17 18:24] skoudoro commented on #2229
Hi @dipy/dipy-community

Tomorrow, the talk is about Bundle Analytics (BUAN) by @BramshQamar  (November 18th, noon EST / 6pm CET).

She will introduce her new paper and its integration in DIPY.

See you all tomorrow!

[2020-11-25 05:29] skoudoro commented on #2229
Hi @dipy/dipy-community,

Next week, We will have a discussion about tractography file format. @frheault will lead the discussion.  This is a follow-up of the thread started by @francopestilli on [a Nibabel issue here](https://github.com/nipy/nibabel/issues/942)

Title: **TRX, a community file format: Where do you come from and where do you go?**
When?  **December 2nd, noon EST / 6pm CET**

@frank

[2020-11-26 21:38] areeshatariq opened #2297 "DOC: Improve the probabilistic tracking CLI Output"
## Description
The probabilistic tracking CLI Output is very noisy. Even the cleaned output is also noisy.
https://github.com/dipy/dipy_data/pull/36
https://github.com/dipy/dipy_data/pull/40
These outputs need to be improved. They contain invalid streamlines and should be cleaned. Once done, they can be added to the output table in the _tracking_flow.rst_ file.

[2020-11-26 21:44] areeshatariq opened #2298 "DOC: Improve the Particle Filtering Tracking CLI Output"
## Description
The Particle Filtering Tracking CLI Output is very noisy as can be seen in the PR below:
https://github.com/dipy/dipy_data/pull/39
This output needs to be cleaned. Once done, it can be added to the output table in the _tracking_flow.rst_ file.

[2020-11-27 20:12] areeshatariq opened #2299 "NF: Add array parsing capabilities to the CLIs"
## Description
Add array parsing capabilities to the CLIs (e.g. that would allow to get coherent segmentations with the `dipy_median_otsu` command) .
Once this is fixed, the screenshots in the following PRs would need to be generated and included in #2275
https://github.com/dipy/dipy_data/pull/29
https://github.com/dipy/dipy_data/pull/30
https://github.com/dipy/dipy_data/pull/31
https://github.com

[2020-11-30 13:19] areeshatariq opened #2300 "NF: Add "None" options in the CLIs"
## Description
The ``None`` value does not work in the CLIs as the value of attributes.
For example: Adding ``num_threads`` attribute with value ``None`` using ``dipy_gibbs_ringing`` command should be appropriately processed to use all the available threads but currently only positive integers can be passed to the ``num_threads`` attribute.

[2020-11-30 16:00] francopestilli commented on #2229
@skoudoro @arokem @frheault please look at the document the community had built around the initial discussion on the nibabel page https://docs.google.com/document/d/1GOOlG42rB7dlJizu2RfaF5XNj_pIaVl_6rtBSUhsgbE/edit

[2020-12-01 18:11] frankyeh commented on #2229
Hi All,

    I also help with adding my comments.

    One thing I notice from @frheault <https://github.com/frheault>'s
input is that we seem to have a very different focus on the features. I am
looking for high efficiency in IO and disk space because I am dealing with
a large number of subjects and tracks, whereas he and others may be more
interested in flexibility and extensibility.

    Since

[2020-12-01 19:33] frheault commented on #2229
@frankyeh I think that a C++ implementation of the TRX would provide an interesting speed up for some basic I/O operation. I'm not sure speed is necessarily antagonistic to flexibility and extensibility.

To some extent, a lot of us work with BigData and for a long time TCK and TRK were good enough. So I believe that a 5-10x speed up and reduction of Disk space by a factor 2-3 is a good start.

Ou

[2020-12-01 19:57] frankyeh commented on #2229
Sounds encouraging. Once there is a C++ code for TRX, I will surely test it
out.

It looks interesting. I will check it out in detail.
Thanks,
Frank

[2020-12-01 19:57] neurolabusc commented on #2229
@frheault The speedups you are describing may be a straw man. People have proposed [x46 acceleration for TCK](https://github.com/rordenlab/TractographyFormat) files, as well as [x15 accelerations of TRK](https://github.com/nipy/nibabel/issues/943) files. But these suggestions have not been evaluated or adopted by the DiPy/nibabel team. It seems like developers would rather create something new, ra

[2020-12-02 00:29] Lestropie commented on #2229
Given this thread is intended for scheduled DIPY meetings, comments specific to TRX might be better moved to frheault/tractography_file_format#1.

[2020-12-02 05:08] Little-Foot-Shapes opened #2301 "3D Scans in dipy"
Hello,

I was wondering if this software can work with 3D scans of feet? I have 148 foot scans from different age groups and 3D shape data for each point on the foot. I want to do SPM on this data. I have the data in stl or obj or other usual 3D scan format or in point cloud in MATLAB.

Thank you.

Best Regards
Mat

[2020-12-03 21:32] skoudoro opened #2302 "Replace current versionning system with versioneer"
Does anyone mind if we replace the current versioning system with [versioneer](https://github.com/python-versioneer/python-versioneer)

it will make it easier to follow our weekly build, release management, etc...

Thanks for the feedback.

[2020-12-03 21:37] arokem commented on #2302
:+1:

If you haven't already, you might also consider [setuptools_scm](https://pypi.org/project/setuptools-scm/)

[2020-12-03 21:51] skoudoro commented on #2302
I did not start yet.

I did not know `setuptools_scm`. What are the Pros/cons vs `versioneer`?

I need to try it.

[2020-12-03 22:18] arokem commented on #2302
The main advantage is that you don't need to vendor it into our code-base, but you instead add it as a dependency.

It can be a bit wonky in some specific situations, but I have some experience hacking around the wonkiness.

[2020-12-03 22:31] StongeEtienne commented on #2301
Hi, Dipy is a specialized tool for **Diffusion** MRI,
If you goal is to visualise 3D data points (point cloud), I higly suggest you to look into VTK : https://vtk.org/
or maybe Fury: https://github.com/fury-gl/fury

I'm not exacly sure for the SPM analysis however, since its normaly for **functionnal** MRI.
Those statistical analysis can be done in Python, but Dipy does not include those.

[2020-12-03 22:48] StongeEtienne commented on #2098
I'm not an expert on this, and sorry for the late answer,
Dipy use numpy/scipy interpolation, and could use "more advance" cubic / spline  interplation.
I think for DSI with a grid/ cartesian acquisition of que Q-space, there is a  "map_coordinates" and "spline filter".
https://github.com/dipy/dipy/blob/master/dipy/reconst/dsi.py

However, I did not see an implementation specificly using sinc.

[2020-12-09 04:59] #2098 closed

[2020-12-10 04:04] #1172 closed

[2020-12-10 04:04] #1175 closed

[2020-12-10 04:05] #1553 closed

[2020-12-10 04:05] #1665 closed

[2020-12-10 04:05] #1736 closed

[2020-12-10 04:05] #1838 closed

[2020-12-10 04:05] #2026 closed

[2020-12-10 04:05] #2062 closed

[2020-12-10 04:05] #2106 closed

[2020-12-10 04:05] #2164 closed

[2020-12-10 04:05] #2165 closed

[2020-12-10 04:05] #2167 closed

[2020-12-10 04:05] #2187 closed

[2020-12-10 04:05] #2285 closed

[2020-12-10 04:05] #2288 closed

[2020-12-10 04:05] #2301 closed

[2020-12-10 04:05] #2302 closed

[2020-12-14 16:09] pcamach2 opened #2308 "Singularity def file for dipy1.4.0.dev0 & patch2self"
## Description
I wanted to set up a Singularity container to run [patch2self ](https://github.com/ShreyasFadnavis/patch2self), so I followed the guidance in this [post](https://shreyasfadnavis.medium.com/patch2self-self-supervised-denoising-via-statistical-independence-4601fda38c20) to install dipy1.4.0.dev0, which includes patch2self.

Here is the Singularity def file contents:
[code]

Say someon

[2020-12-23 22:20] BramshQamar opened #2309 "Tractogram Header in RecoBundles Tutorial"
Hello,

I am confused why are we creating a target tractogram header that is exactly the same as the atlas tractogram header?

https://github.com/dipy/dipy/blob/f149c756e09f172c3b77a9e6c5b5390cc08af6ea/doc/examples/bundle_extraction.py#L31-L45

Thanks,
Bramsh

[2020-12-23 23:06] Garyfallidis commented on #2309
I agree it seems in line 44 it should be target_file rather than atlas_file. Give it a go @BramshQamar. @frheault do confirm this change is correct.

[2020-12-29 15:57] frheault commented on #2309
Yes I think it should be target_file.

This should indeed have the same header as the original file since the streamlines are from the original file (this is line 168)
`reco_af_l = StatefulTractogram(target[af_l_labels], target_header, Space.RASMM)`

[2021-01-06 18:02] bloomdt-uw opened #2310 "`bundles_distances_mdf` asymmetric values"
## Description
Using `bundles_distances_mdf` to calculate minimum average direct-flip distances between streamlines on subjects from HCP dataset results in asymmetric values. Expecting distance to be symmetric: `MDF(i,j)=MDF(j,i)`

[code]

Asymmetries are small, so this may be a result of numerical error:

[code]
## Way to reproduce

### Code example
[code]
[max_asymmetric_mdf.npy.zip](https://git

[2021-01-06 18:15] skoudoro commented on #2310
Hi @bloomdt-uw,

Thank you for this nice report. Can you look into this @BramshQamar and @Garyfallidis? Thanks!

[2021-01-08 08:24] rosella1234 opened #2311 "Accuracy of DKI measures"
## Description
[Please provide a general introduction to the issue/proposal.]

[If reporting a bug, attach the entire traceback from Python and follow the way to reproduce below]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example
- [x

[2021-01-08 09:19] rosella1234 commented on #2311
#2274

Hi.
I am still not able to solve the problem with some black holes I find in DKI maps using dipy. It happened both with the spinal cord neonatal images (so I thought it happened because of noise) but also with HCP adult data (which are supposed to be preprocessed a lot). I use Python 3.7.3 with dipy 1.1.0 version.
I will attach below
![MK](https://user-images.githubusercontent.com/58302565/

[2021-01-08 20:03] ShreyasFadnavis commented on #2311
Hi @rosella1234 ! Maybe noise still persists in the data. We have a new denoising method using statistical independence of noise via self-supervised learning published recently that aims to mitigate this issue: `Patch2Self` [[NeurIPS paper](https://papers.nips.cc/paper/2020/file/bc047286b224b7bfa73d4cb02de1238d-Paper.pdf)]. Here is a post explaining the method and has a section on how to use it vi

[2021-01-11 17:01] skoudoro opened #2312 "DIPY open group meetings, Spring 2021"
Hello @dipy/dipy-community!

Here the schedule for our open meetings for Spring 2021. Don't forget DIPY Workshop starts March 15 2021! More information here https://workshop.dipy.org

The zoom link for the open meeting is : https://iu.zoom.us/j/84926066336.

Feel free to request a talk or to share interesting work.

| Date          | time               | orator                      | title

[2021-01-11 17:06] skoudoro commented on #2229
New schedule for spring 2021 [here](https://github.com/dipy/dipy/issues/2312)

I'm closing this, but this thread should be converted to a [github discussion thread](https://github.com/dipy/dipy/discussions/categories/dipy-online-meeting)

[2021-01-11 17:06] #2229 closed

[2021-01-12 09:43] rosella1234 commented on #2311
thank you very much! I work on spinal cord imaging, so I definitely resort
to your method! The problem for HCP data is that I planned of applying
denoising (https://github.com/samuelstjean/nlsam) on preprocessed data, so
I don't think it would be conceptually correct to apply 2 different
denoising methods at two different processing steps.
thank you,
Rosella

Il giorno ven 8 gen 2021 alle ore 21:0

[2021-01-12 10:46] rosella1234 commented on #2311
An idea just came up to my mind ...are you interested in collaborating for a paper comparing the two method of denoising (yours and https://github.com/samuelstjean/nlsam) applied to HCP 3T and 7T data? let me know,
best regards,
Rosella

[2021-01-13 05:08] ShreyasFadnavis commented on #2311
Sure! I'd be down for that! Patch2Self can be applied at any point in the pipeline :) there's no restriction as such. As long as the noise in each 3D volume remains uncorrelated with the others, Patch2Self will give good noise suppression 👍🏼

[2021-01-13 18:54] rosella1234 commented on #2311
Ok so maybe we can discuss about how to proceed for the work :)

Il mer 13 gen 2021, 06:09 Shreyas Fadnavis <notifications@github.com> ha
scritto:

[2021-01-20 22:13] skoudoro commented on #2312
Hi @dipy/dipy-community,

This is just a reminder about the talk tommorrow by Jelle Veraart : On axon diameter mapping using diffusion MRI

See example paper https://elifesciences.org/articles/49855

link: https://washington.zoom.us/j/95978299081.

See you tomorrow all at 1pm EST / 7pm CET / 10am PT!

[2021-01-25 03:00] wjy73 opened #2313 "deform_streamlines for wholebrain tractogram doesn't function properly"
## Description
I'm using deform_streamlines to deform the whole brain tractograms with the warpfields generated by SymmetricDiffeomorphicRegistration. Some of the streamlines extend beyond the skull. It looks like the warping algorithm needs more work. I'm basically using the tutorial example.

[2021-01-26 13:17] dulietina opened #2314 "Approx_polygon_track with repeated points gives an error"
## Description
Approx_polygon_track under tracking/distances seems to have an issue with repeated points in a track.
If the track is the numpy vector [[1,0,0],[2,0,0],[3,0,0],[4,0,0]] the output is, correctly, [[1,0,0],[4,0,0]]
(I am not adding floating points for readability)

If the track though has a repeated point this happens:

Traceback (most recent call last):
  File "<stdin>", line 1, in <

[2021-01-26 13:27] skoudoro commented on #2314
Hi @dulietina,

Thank you for pointing that out, we will look into it and give you feedback as soon as we can.

[2021-02-01 09:32] rosella1234 commented on #2311
Hi ShreyasFadnavis , can I send to you one example of HCP subject I need to use, in order to inspect the outcome after applying patch2self?
Thank you,
Rosella Trò

[2021-02-01 18:43] dPys commented on #2313
@wjy73 -- would you be able to provide a screenshot and/or a bit more information about the steps that you are using?

deform_streamlines and transform_streamlines are very sensitive to the voxel grids of the images that you used to learn the diffeomorphic and/or linear mappings. What happens when you first resample your moving and static images to the same voxel grid?

What's really needed that I

[2021-02-01 23:58] ShreyasFadnavis commented on #2311
Yes -- replied to your email!

[2021-02-03 03:12] aditsanghvi94 opened #2316 "TranslationTransform2D Exact X-Y Shift"
## Description
How do I get the shift in pixels between two images using TranslationTransform2D?
I have two (128,512) images that I want to compare - static and moving. This is the code I am using
[code]

How do I interpret the output of translation.affine? Is the 1st row, 3rd column = shift in x pixels and 2nd row,3rd column = shift in y pixels?
e.g. I just want to say that moving is static , but

[2021-02-05 09:19] wjy73 commented on #2313
Sorry for the late response.
I'm using the HCP dataset, and I used the TDI images generated by mrtrix as the static and moving images for volumetric registration. Here is an example.

![spurioustracts_by_warping](https://user-images.githubusercontent.com/75346773/107013459-52d02600-67d5-11eb-85bc-df0da7821912.png)
After randomly checking the outputs, I find the problem is mostly minor in appearanc

[2021-02-05 16:10] dPys commented on #2313
So other than the spurious tracts outside of the brain (is the tractography actually valid here?), this registration looks correct indeed.

If you are tracking with dipy, selecting only those tracks inside the brain post-hoc is easy:
[code]

But the better way is to actually include the brain mask as a part of your stopping-mask/tissue classifier during the tracking itself so that samples don't ge

[2021-02-07 23:48] arokem commented on #2312
@Garyfallidis : could we please change this to use your IU zoom account? I have graduate student interviews on the 18th. I can still come to the DIPY meeting, but my UW zoom account will be in use at the same time.

[2021-02-08 09:05] skoudoro commented on #2312
here you are @arokem: https://iu.zoom.us/j/84926066336.

I updated all the link above

[2021-02-08 13:39] HilaGast opened #2319 "Reconstruction with MSMT CSD examle resulted in Nan values"
I've been trying to follow the example in order to reconstruct MSMT on my own data and fit method resulted in NaN values. So I used the example itself, step by step, and it turned out to return NaN values as well. Any ideas what might went wrong?

I'm using Dipy 1.3, cvxpy 1.1.7, python 3.7.5 on windows.

[2021-02-08 15:23] skoudoro commented on #2319
@karanphil worked a lot on this so, can you give a feedback to @HilaGast?

Thank you

[2021-02-08 18:24] karanphil commented on #2319
Hi @HilaGast, I just ran the example and I don't get any NaN values. Do you have NaN values for the whole volume?

[2021-02-08 18:48] arokem commented on #2319
I bet this comes from this try, catch block:

https://github.com/dipy/dipy/blob/master/dipy/reconst/mcsd.py#L392-L397

We've run into some new errors with newer versions of cvxpy
recently. @karanphil : are you also running cvxpy >=1.1.7?

On Mon, Feb 8, 2021 at 10:24 AM karanphil <notifications@github.com> wrote:

[2021-02-08 19:57] karanphil commented on #2319
I would also think that it comes from the try block, but I can't reproduce the error, even with cvxpy 1.1.7. I do get this message `UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve with verbose=True for more information.` but the output is fine. Also, no problem with cvxpy 1.1.10.

[2021-02-08 20:14] skoudoro commented on #2319
Since we can not reproduce your error @HilaGast, it would be good if you could share your dataset and your modification on the example script. It will help us to understand what is going on.

Let us know if it is possible @HilaGast. Thanks!

[2021-02-08 21:23] HilaGast commented on #2319
Hi @skoudoro @karanphil , thanks for you reply.
I'm actually running the script of the example file itself.
Getting to the fit method I recieved the UserWarning:
 _UserWarning: Voxel could not be solved properly and ended up with a
                SolverError. Proceeding to fill it with NaN values._

But in
_mcsd_odf = mcsd_fit.odf(sphere)
print(mcsd_odf[40, 40, 0])_

It prints all NaNs.
Currently

[2021-02-08 22:26] karanphil commented on #2319
@arokem this is indeed the error message from the try block. @HilaGast, can you confirm that sh_coeff is all NaNs? Can you print `nan_count = len(np.argwhere(np.isnan(sh_coeff[..., 0])))` after `sh_coeff = mcsd_fit.all_shm_coeff` (line 311)?

@arokem I don't understand why I don't get this problem (I use this code everyday with various datasets). Could be a combination of the cvxpy and python vers

[2021-02-09 07:54] HilaGast commented on #2319
@karanphil following your request I get that nan_count is 9216 which actually means all NaNs.

I tried running the code using various cvxpy versions (starting from 1.1.0) and got the same results.

[2021-02-09 13:28] karanphil commented on #2319
Thank you @HilaGast. @arokem @skoudoro, on my side, I tried it with Dipy 1.3, cvxpy 1.1.7, python 3.7.5 and it worked just fine. Can one of you confirm that? Also, it might have something to do with the user being on windows?

The only difference I see is that with cvxpy>=1.1.0, I get this warning `UserWarning: Solution may be inaccurate. Try another solver, adjusting the solver settings, or solve

[2021-02-09 13:45] HilaGast commented on #2319
@karanphil I tried to run the same example script on a different computer using windows, dipy 1.3 and cvxpy 1.1.10 and it looks like it works there (with the UserWarning you mentioned). I can only think it might be due to other library version dependency. I can't tell other differences.

[2021-02-09 14:04] arokem commented on #2319
@HilaGast: are both computers you ran this on running Windows as their OS?
Also, could you please run `pip freeze` in the two machines and send the
output? I think that you are correct that this has to do with versions of
some other libraries.

On Tue, Feb 9, 2021 at 5:45 AM HilaGast <notifications@github.com> wrote:

[2021-02-09 14:29] HilaGast commented on #2319
@arokem Yes, both OS are Windows.

pip freeze for the one that doesn't succeed to run:
_admin==0.0.1
apptools==4.5.0
asn1crypto==1.4.0
atomicwrites==1.4.0
attrs==20.3.0
boto==2.49.0
certifi==2019.9.11
cffi==1.14.4
colorama==0.4.4
configobj==5.0.6
cryptography==2.7
cvxpy==1.1.10
cycler==0.10.0
decorator==4.4.2
dill==0.2.9
dipy==1.3.0
ecos==2.0.7.post1
envisage==4.8.0
et-xmlfile==1.0.1
fastcache==1.

[2021-02-09 15:28] skoudoro commented on #2319
The first difference popping in my eyes is `scs` which is a numerical optimization package use by `cvxpy`.

succeed :  scs==2.1.2
failed: scs==2.1.0

Can it be that?

[2021-02-09 15:32] skoudoro commented on #2319
It could be `osqp`:  Operator Splitting QP Solver library, use by `cvxpy`

succeed : osqp==0.6.2.post0
failed: osqp==0.6.2

I think we need to look in these 2 directions

[2021-02-10 09:15] HilaGast commented on #2319
@skoudoro
Yes!
scs==2.1.2 fixed the problem. Maybe it would be good to mention it somewhere as a dependency?

[2021-02-11 03:36] arokem commented on #2319
We might want to create a minimal example and report this upstream to the cvxpy devs.

[2021-02-12 09:11] lmu4 opened #2320 "RecoBundles distances"
Hello,

I discovered the RecoBundles algorithm and I wanted to test it on my tractogram built from the Tractometer Challenge diffusion data and segment the corpus callosum using the ground truth bundle provided by the Challenge.
However, I might have discovered some issue in version 1.3.0 of RecoBundles.

In fact, when launching the code, I have the following error : "Streamlines do not have the s

[2021-02-19 18:04] arokem opened #2323 "Brain mask as a required argument to CLI"
A brain mask is currently required to fit a model to data using the CLI (e.g., to `dipy_fit_dti`).

Maybe we should relax this requirement to make this an optional input? Any strong objections?

[2021-02-19 20:53] skoudoro commented on #2323
Hi @arokem,

It was done on purpose to force good habits. We are afraid that if we relax,  90 % of the people will run it without a mask. We have already seen a lot of issues with DIPY related to the masks.

Personally, I am fine to relax this feature, but I am afraid that it gives the wrong signal...

[2021-02-19 22:33] arokem commented on #2323
That makes sense. One thing I noticed in preparing for the workshop is that if you do the kinda obvious example:

[code]
things look pretty bad, because the mask crops a lot of brain that shouldn't be cropped. I might need to tweak the inputs to median_otsu to get it right. But this is OK. Closing.

[2021-02-19 22:33] #2323 closed

[2021-02-22 20:56] alecrimi opened #2324 "Dipy for VR/AR"
## Description
I am working on a visualizer for AR/VR

Long story short it is not so easy to manage trk file. It will be easier to extrapolate from 3d coordinates of the points in 3D for each streamlines (e.g. exported simply on a CSV file).

What is the best way to get those coordinates?

[2021-02-26 09:00] vigji opened #2327 "Diffeomorphic transformation of coordinates"
## Description
I would like to use a symmetric diffeomorphic transformation that I computed on a stack to also move the the transformed space a matrix (3 x n) of coordinates. This might be already possible, but I can't find anywhere the methods/functions that I should use, neither in the tutorials nor in the class documentation. Is it somehow possible to do?

[2021-03-02 13:16] larsoner opened #2328 "Website is down"
https://dipy.org/ gives a 500 server error:
[code]

[2021-03-02 14:02] skoudoro commented on #2328
Yes, sorry about that, we are doing a big update and the server is under maintenance. It will be back sometimes this afternoon

[2021-03-04 14:42] skoudoro commented on #2328
It should good since yesterday so I am closing. Feel free to reopen it if needed

[2021-03-04 14:42] #2328 closed

[2021-03-04 14:58] skoudoro commented on #2312
Hello @dipy/dipy-community,

Quick reminder for the meeting today at 1pm EST / 7pm CET / 10am PT!

It should be a short meeting and the Subject will be DIPY Release. If you have a question, requirement about a PR, feel free to connect.

Cheers!

ps: same link as usual:  https://iu.zoom.us/j/84926066336

[2021-03-04 17:21] arokem commented on #2312
Sorry about this I've had an unavoidable conflict this morning, so I will have to miss this meeting. 😞

[2021-03-05 12:47] alexeytopolnitskiy opened #2329 "Slice to volume registration"
Hello!

I am working on the project with CT images and I have a relevant question.
I have a 3D model of CT images and 2D SEM image. And I need to find a 2D CT slice inside 3D CT model which as close as possible to original 2D SEM image, i.e. make slice to volume registration.
As an output I need a registered 2D CT slice from 3D model or at least transformation parameters.

Is it possible to do wit

[2021-03-09 00:51] skoudoro commented on #722
5 years later, I'm closing this issue. We are still avoiding GPL License, we are still concern about long-term maintenance, and as expected, new modules appeared.

[2021-03-09 00:51] #722 closed

[2021-03-15 18:11] BramshQamar opened #2331 "gtab.info does not print anything"
https://github.com/dipy/dipy/blob/10621cd0ffaf8c1f16b76931486b669a4da33a81/dipy/core/gradients.py#L215 info from GradientTable doesn't print anything in Spyder and Jupyter. Perhaps because it uses logger which might be disabled by Spyder and Jupyter and works best for CLIs only?

[2021-03-15 18:19] arokem commented on #2331
Yep. Using logging here was probably overkill. We should change that back to `print`

[2021-03-15 18:35] arokem commented on #2331
Alternatively, we could implement a proper `__repr__` for this object.

[2021-03-18 02:48] arokem opened #2334 "Aphysical signal after running patch2self"
We  (with @jyeatman and @SendyCaffarra) have been analyzing a dataset of children's dMRI. We were interested in trying out patch2self for denoising and noticed something in the comparison with mp-pca (Sendy is running both of these through qsiprep). Using patch2self denoising, we find quite a few voxels with aphysical signals (DWI higher than b0 measurements), particularly in the corpus callosum,

[2021-03-18 02:56] ShreyasFadnavis commented on #2334
Hi @arokem ! Thank you for reporting this... I have not seen this issue in the past, but my guess is that this arises from using the `np.clip`. In the latest version of Qsiprep,  I have integrated the `shift_intensity` mode. Can you try setting it to True and setting `clip_negative_vals=False`. I would also like to take a quick look personally to see what's going wrong. Would it be possible to sha

[2021-03-18 03:03] arokem commented on #2334
What's the qsiprep default? That's the one they used, I believe.

Sure. Let me coordinate data hand-off by email.

[2021-03-18 03:07] ShreyasFadnavis commented on #2334
Thanks @arokem! The default in QSIprep should be the same as DIPY `b0_threshold=50`.

[2021-03-18 13:35] ShreyasFadnavis commented on #2334
@mattcieslak -- just to be sure, we do expose the `b0_threshold` argument for users to tweak right? I also think it might be a good idea to set it to `100` in general?

[2021-03-18 13:40] mattcieslak commented on #2334
In qsiprep we set the b=0 threshold to 100 (https://github.com/PennBBL/qsiprep/blob/master/qsiprep/cli/run.py#L188) but the user can always set it so something different via `--b0-threshold` and this will be used throughout the whole workflow

[2021-03-18 13:45] arokem commented on #2334
I don't think that's the issue for this particular data, which has b-values that are 0.

[2021-03-18 14:14] mattcieslak commented on #2334
@arokem do you have the working directories saved from your run? Those will have the before-and-after images from each step in there. Denoising is the very first step in the qsiprep workflow. Maybe the unringing is introducing the implausible values? Bias correction divides each voxel by a single number so that couldn't be it

[2021-03-18 16:02] #2331 closed

[2021-03-18 16:11] skoudoro commented on #2320
Hi @lmu4,

Sorry for the very late reply.  From what I see, It is not an error but just a warning and it seems related to https://github.com/dipy/dipy/issues/342.
I think we should just cool down the message. Can you confirm that you have the same result in both versions?
thank you

[2021-03-18 16:14] ShreyasFadnavis opened #2336 "Issues with MSMT-CSD"
- [ ] Needs to be speeded up at the QP front for fitting procedure `cvxpy.Minimize` needs to change. Currently runs via OSQP I assume? Need to follow-up with CVXPY if `warmstart` allows initialization for the parameters?
- [ ] @karanphil could you also take a look at the version of CVXPY in DIPY? Maybe the version we have makes it slower?
- [ ] We also have people reporting memory issues -- This n

[2021-03-18 16:46] skoudoro commented on #2324
Here an example of accessing 1 streamline.  You just need to loop over it if you want to save it as csv

[code]

[2021-03-18 17:04] karanphil commented on #2336
Hi @ShreyasFadnavis, I did not look deeply into the CVXPY part of the msmt-CSD code when I did my modifications on Dipy, but yes, it normaly runs via OSQP. Also, I never had memory issues. As for the CVXPY version, did you have people telling you that the msmt-CSD process was slower with different versions? I always used the same version, so I didn't see such thing. I am very busy right now, sorry

[2021-03-18 18:48] ShreyasFadnavis commented on #2334
Hi @mattcieslak ! Thank you for your response 👍🏽 I did look at the data that @arokem shared with me and I did not get any implausible values from `patch2self` in the FA map. This is how I ran Patch2Self via DIPY:
[code]
We added these options to `QSIPrep` recently and I think are needed in this case: `shift_intensity` and `clip_negative_vals`.

Are they in the current release of `QSIPrep`?

[2021-03-18 19:39] arokem commented on #2334
Thanks for jumping on this so quickly. I can reproduce your findings:

![image](https://user-images.githubusercontent.com/118582/111685205-dde50880-87e4-11eb-8b55-ed9ddaf9c54e.png)

But with the default settings `patch2self(data, bvals)`, I still see this:

![image](https://user-images.githubusercontent.com/118582/111685254-e9d0ca80-87e4-11eb-997b-e6e4cb807cb3.png)

From a couple more experiments

[2021-03-18 19:53] arokem commented on #2334
Also (maybe less important), maybe you can explain why clipping negative values and shifting the intensity distribution is so important in these data?

[2021-03-18 20:10] ShreyasFadnavis commented on #2334
Yes! Both are necessary. I think I am going to eventually deprecate `clip_negative_vals`, it was added for aesthetic purposes and because the Local PCA code made use of it. The reason being that these models sometimes undergo mean reversion pushing the intensity of the negative side. This is something that happens when noise is shifted too far away from the mean `0` that Patch2Self expects. It doe

[2021-03-18 21:09] mattcieslak commented on #2334
There aren't options for the user to change these on the command line yet. The current default is the opposite of what you recommend above (https://github.com/PennBBL/qsiprep/blob/master/qsiprep/interfaces/dipy.py#L109).

[2021-03-18 21:11] arokem commented on #2334
I just put in https://github.com/dipy/dipy/pull/2337 to address this upstream, but might be good to change here as well until that propagates through?

[2021-03-18 21:12] arokem commented on #2334
And by "here" I mean "there"  (on qsiprep) 😵

[2021-03-19 12:32] drombas commented on #2314
Hi! Looking to the incoming GSoC I would like start getting familiar with the project. May I tackle this as a good first issue?

[2021-03-19 12:47] ShreyasFadnavis commented on #2334
Thanks for the PR @arokem and @mattcieslak ! I'll make a PR on QSIprep shortly 👍🏽

[2021-03-19 13:25] skoudoro commented on #2314
Hi @drombas,

Not sure this issue is a good first issue. You should like all issues related to CLI since some GSOC projects are related to this theme. You can look at #2269 #2300 #2299 #2298 #2297. Those issues will help you to get familiar with our CLI system.

[2021-03-19 15:14] drombas commented on #2314
Thanks @skoudoro! I will have a look at those issues.

[2021-03-19 15:55] ShreyasFadnavis commented on #2336
Hi @karanphil -- Same, I have never had memory issues either :) Can you report the version of CVXPY that you are working with? Maybe this is something we need to investigate further!

p.s. Don't worry about the slow responses!

[2021-03-19 16:10] karanphil commented on #2336
I use CVXPY 1.0.31!

[2021-03-19 22:51] ShreyasFadnavis opened #2338 "Team DIPY Citations"
Hi Everyone,

I know that we do have a publications page for DIPY here: https://dipy.org/documentation/1.4.0./cite/
This page for some reason has not been updated and needs to be revamped.

I also had a suggestion to segregate the publications into 2 sections:

- [ ] Research that comes from DIPY developers
- [ ] Research that is a re-implementation of other methods and now incorporated in DIPY

I

[2021-03-19 22:54] ShreyasFadnavis commented on #2336
@karanphil thanks! -- @skoudoro, I know that `CVXPY` is an optional dependency, but is there a way to enforce a version on an optional dependency?

[2021-03-20 00:11] skoudoro commented on #2336
I would not recommend enforcing a version.

However, we can block some versions so if you identify which version or range of version is problematic, we can do that.

ps: cvxpy change their matrices operation convention from version 1.1

[2021-03-21 07:34] drombas commented on #2300
Hi! Following advise from @skoudoro in #2314 I am having a look at issues that might help me prepare for the GSoC.

Regarding this issue I saw the following in `dipy.workflows.flow_runner.run_flow()`:
- when calling `parser.add_workflow(flow)` the specific arguments of the workflow are added  to the parser by inspecting the docstrings of the `run()` method of the workflow. The type of `num_threads

[2021-03-22 13:34] arokem commented on #2338
I think this is related to #1725, which would also be good to implement. If we point people to Zenodo as the authoritative citation, we can more nimbly add contributors on a release-by-release basis.

[2021-03-22 17:28] BramshQamar commented on #2166
Hi all,

30 bundles atlas has been updated with the correct header and reference file https://figshare.com/articles/dataset/Atlas_of_30_Human_Brain_Bundles_in_MNI_space/12089652

The yeh-corrected-atlas registered to ICBM 2009c https://drive.google.com/file/d/1pObyKLGJNPFZhMIncYuLn9utJDKb-Uq9/view has some spurious streamlines in the fused_tractogram.trk as mentioned by @giulia-berto

<img width="

[2021-03-22 18:50] skoudoro commented on #2300
Hi @drombas,

To answer your question, you should look at the function called by the command line`dipy_gibbs_ringing`.

I let you [look at it here](https://github.com/dipy/dipy/blob/master/dipy/denoise/gibbs.py#L240), but it seems if you use `0`, it will raise an error.

you might have to modify the behavior of this function first. Also, you might look at the codebase to find the use of all the `n

[2021-03-23 00:19] skoudoro commented on #2316
Hi @aditsanghvi94,

Sorry for the late reply but yes, this is the interpretation.

Maybe we should create a utility function Also, you can do:

[code]

I am closing this issue. feel free to reopen it if needed

[2021-03-23 00:19] #2316 closed

[2021-03-23 17:56] drombas commented on #2300
Thanks for the comments! After checking that I think that moving from `None` to `0` as the `num_threads` value for all cores would imply modifying:
- **gibbs.py gibbs_removal()**: modify check `<=0` → `<0,` choose all cores when `num_threads==0` and update docstrings
 - **denoise.py GibbsRingingFlow()**: update docstrings
 - **denoise_gibbs.py**: update example
 - **gibbs_unringing_flow.rst**: upd

[2021-03-24 15:16] skoudoro commented on #2311
After the Workshop, What is the status of this issue? Should we close it?

Also, it would be good to post the final answer here before we close this issue. Thank you for your feedback @rosella1234 and @ShreyasFadnavis

[2021-03-24 15:17] skoudoro commented on #2274
duplicate of #2311. Closing

[2021-03-24 15:17] #2274 closed

[2021-03-24 16:28] ShreyasFadnavis commented on #2311
I think we can close this issue. @rosella1234 will end up using Patch2Self + MSDKI. @RafaelNH and I are following up on this!

[2021-03-24 16:56] skoudoro commented on #2311
ok, thanks, closing

[2021-03-24 16:56] #2311 closed

[2021-03-25 00:48] #1996 closed

[2021-03-25 00:52] skoudoro commented on #1996
This issue is fixed by https://github.com/dipy/dipy_web/pull/120. Thank you @jhlegarreta for pointing this

[2021-03-25 01:01] skoudoro commented on #2300
Sounds like a plan! I agree with all the points. Let's avoid using `None` and use `0` or `-1` everywhere for using all the core.

I am fine if you do it all in 1 PR since it is related. Feel free if you want to split it into multiples PR.

Thank you for looking into this @drombas!