[2016-03-13 20:13] #968 closed

[2016-03-13 20:14] samuelstjean commented on #573
While we are discussing it, I do have that now, would be easier to get it back here than try to bundle parts of it for the sh_smooth function from scilpy. Still need to wait for that multishell version to get double checked, but once done should be good to go.

[2016-03-13 20:17] samuelstjean commented on #968
No, I do know how it works, I just said having dipy as a whole dependency is overkill for me, so hence the issue. Then I realized relative import were the mistake instead of the norm, hence why someone changed the title, then I changed the first post to reflect that.

It all makes sense now, but just open a new one without edit and those random messages.

[2016-03-13 20:29] samuelstjean opened #969 "Use absolute instead of relative import"
For anyone wanting to fix quick stuff, turning all of the relative import to absolute import would be useful to prevent name clashes when importing files from other projects or locally from the working folder. Reverse issue from #968 funnily enough.

[2016-03-13 20:30] arokem commented on #969
:+1:

Thanks!

[2016-03-13 20:35] samuelstjean commented on #969
Anyway, I am still surprised that nibabel only uses relative imports instead, why one versus the other? Absolut import are not always abolute, have your current ipython console in a folder with a file named diy, ti will pick this one up before the whole library, resulting in bugs in import and other missing stuff for example, and me wondering why do people have weirds bugs I do not have after that

[2016-03-13 20:41] matthew-brett commented on #969
I don't think it's a big deal either way.

We're gradually moving away from relative imports in the tests, partly because we may be switching to pytests in the future, and you need absolute imports in tests to be able to run the tests in the working tree, while importing the code from the installed tree.  But, we're just doing that as we edit files for other reasons.

[2016-03-13 20:43] samuelstjean commented on #969
Damn, and here I told marc-alexandre to change his imports because of that in his tractogram stuff. They do prevent clashing with vanilla nibabel to test his stuff though and allows both to coexist.

[2016-03-13 20:44] arokem commented on #969
Whoops. Was just posting this: https://github.com/nipy/nibabel/issues/424

[2016-03-14 13:14] souravsingh commented on #969
I would like work on this issue

[2016-03-14 13:50] jchoude commented on #969
Just a quick comment, as it also relates to the original issue: I am also -1 on relative imports. Personal reason, apart from PEP8 suggestions and consensus, is that it often helps avoid bugs when refactoring and moving code. It also helps to see from which package a function (or class or anything) is imported.

@samuelstjean That would also allievate your import problems, because it's then clear

[2016-03-14 14:18] Garyfallidis commented on #969
@souravsingh be happy to work on this issue. You need to look to find modules that use relative imports and change them to absolute. For example,

https://github.com/nipy/dipy/blob/master/dipy/reconst/dki.py
https://github.com/nipy/dipy/blob/master/dipy/reconst/shore.py

[2016-03-14 16:48] sahmed95 commented on #969
I have found over 157 matches across 73 files using a regex for relative imports which can be changed. Where do I post them ?

[2016-03-14 16:50] arokem commented on #969
Thanks for taking a look! Best to post them as several different issues, possibly divided by modules. That way, people can take these changes bit by bit. Easier to review that way.

[2016-03-14 16:56] sahmed95 commented on #969
There will be a lot of issues then. Should I remove the last comment with the long list and perhaps make a text file and upload all the instances under this issue ?

[2016-03-14 17:09] ghoshbishakh commented on #862
This can be closed

[2016-03-14 17:12] ghoshbishakh commented on #873
this can be closed I guess

[2016-03-14 23:31] arokem commented on #876
closed through #954

[2016-03-14 23:31] #876 closed

[2016-03-15 06:58] ghoshbishakh opened #970 "Downloading data with dipy.data.fetcher does not show any progress bar"
A progress bar like this might be helpful?
![screenshot from 2016-03-15 12-27-13](https://cloud.githubusercontent.com/assets/5156787/13769919/4e912bd8-eaa9-11e5-8418-4d1616c9e29a.png)

[2016-03-15 09:48] samuelstjean commented on #831
Fixed with new masks for the example.

[2016-03-15 09:48] #831 closed

[2016-03-15 15:02] arokem commented on #873
Which PR closed this?

[2016-03-15 15:02] arokem commented on #862
Closed through?

[2016-03-15 15:06] ghoshbishakh commented on #873
#963 was merged so I thought this issue was fixed actually. May be I am missing something here.

[2016-03-15 15:15] arokem commented on #873
No - you're spot on. Just needed that number.

Closed through #963

[2016-03-15 15:15] #873 closed

[2016-03-15 15:16] ghoshbishakh commented on #862
#897 ?

[2016-03-15 16:04] arokem commented on #862
Thanks! Closed through #897

[2016-03-15 16:04] #862 closed

[2016-03-16 05:10] ghoshbishakh commented on #871
@arokem closed through #947 ?

[2016-03-16 05:11] ghoshbishakh commented on #864
closed through #964

[2016-03-16 05:13] ghoshbishakh commented on #865
@arokem closed through #947 ?

[2016-03-16 14:23] #864 closed

[2016-03-16 14:24] #871 closed

[2016-03-16 15:01] ghoshbishakh commented on #868
closed through #946

[2016-03-16 15:01] ghoshbishakh commented on #869
closed through #946

[2016-03-16 15:02] ghoshbishakh commented on #870
closed through #947

[2016-03-16 15:36] #870 closed

[2016-03-16 15:37] #869 closed

[2016-03-16 15:37] #868 closed

[2016-03-17 10:00] ghoshbishakh commented on #866
closed through #947

[2016-03-17 10:01] ghoshbishakh commented on #867
closed through #947

[2016-03-17 14:19] #867 closed

[2016-03-17 14:19] #866 closed

[2016-03-17 14:27] sahmed95 commented on #901
Is the step same as the next [function](https://github.com/nipy/dipy/blob/master/dipy/reconst/dti.py#L1184) ?
[code]

[2016-03-17 14:33] arokem commented on #901
Yes. That's correct.

[2016-03-17 14:44] sahmed95 commented on #901
On it. There are some pep8 issues too:
[code]

[2016-03-17 15:00] sahmed95 commented on #901
Fixed : #972

[2016-03-17 18:58] sahmed95 commented on #928
The orient variable is not initialized to anything at the start of the function. If the argument to colormap.orient2rgb is not a valid numpy array both if conditions are not satisfied and hence it may be throwing the "referenced before assignment error"

What should be the type for the variable v? Can an else statement check the validity of the argument v and show a warning if it is not a numpy ar

[2016-03-18 07:36] waseem18 commented on #889
Hello @arokem

I'm interested in working on this issue.

[2016-03-18 07:47] ghoshbishakh commented on #889
@waseem18 as you can see above there is already a pull request so someone else is already into it.

[2016-03-18 10:51] waseem18 opened #973 "Minor change in `tools/github_stats.py`"
When there are no commits during a particular duration, the python file outputs  'The following 0 authors contributed 0 commits'.

Wouldn't it be better if it outputs something like "No author has contributed to any commits during this period." ?

[2016-03-18 14:25] arokem commented on #889
Indeed. Closed through #959

[2016-03-18 14:25] #889 closed

[2016-03-18 14:26] arokem commented on #973
Yeah. Feel free to make a PR with that.

[2016-03-18 16:20] arokem commented on #875
Closed through #957

[2016-03-18 16:20] #875 closed

[2016-03-19 14:10] sahmed95 opened #975 "Use absolute import in imaffine, imwarp, metrics"
Refer to issue #969
Change relative imports to absolute imports in .py files inside dipy/dipy/
[code]

[2016-03-19 15:12] riddhishb commented on #975
I would like to work on this issue

[2016-03-19 15:25] riddhishb commented on #975
The corresponding test codes also have the relative import issues
`/dipy/dipy/align/tests/test_imwarp.py`
and
`/dipy/dipy/align/tests/test_metrics.py`

fixing those too

[2016-03-19 15:36] sahmed95 commented on #975
Hi @riddhishb Thanks for taking a look. You can find a complete list here: http://paste.ubuntu.com/15386849/

I am discussing with dipy developers and will open separate issues for all the cases.
Note: @Garyfallidis pointed out that only the ".py" files in dipy/dipy have to be changed. Leave the .pyx files unchanged.

[2016-03-19 16:21] riddhishb commented on #975
Yeah sure thing :) I saw the gitter chats.
Thats quite a long list, if you want help in creating the separate cases for them, let me know.
here have a look before I make a PR
https://github.com/nipy/dipy/compare/master...riddhishb:relative_import_fix

[2016-03-19 16:37] sahmed95 commented on #975
LGTM. Let someone from dipy review. Btw check this [line](https://github.com/nipy/dipy/compare/master...riddhishb:relative_import_fix#diff-74c995598e7ee365915e537084234a8bR53). The indention is not matching with the next line and this might be a pep8 issue.

[2016-03-19 16:40] riddhishb commented on #975
Good catch! will correct and make the pr

[2016-03-19 21:46] sahmed95 opened #978 "Use absolute import in align"
Refer to #969
Change relative imports to absolute

[code]

[2016-03-20 00:49] arokem opened #979 "No figures in DKI example"
I think that might be because the call to `plt.show` comes before the call to `savefig` (e.g. here: https://github.com/nipy/dipy/blob/master/doc/examples/reconst_dki.py#L209)

[2016-03-20 08:29] sahmed95 commented on #979
@arokem  #981 Should fix it. Please have a look.

[2016-03-21 10:52] pomodorochris commented on #742
I just found this issue because I also experienced #852, which unfortunately has not solved itself yet.
My configuration:
Python 3.4.4 (Anaconda)
scipy 0.17.0
numpy 1.10.4
dipy 0.11.0

OS: ubuntu 14.04 64bit

If I run `tracking_quick_start.py` I get

[code]

[2016-03-21 12:08] theaverageguy commented on #975
This can be closed I guess.

[2016-03-21 12:10] theaverageguy commented on #969
Is this one done?

[2016-03-21 13:58] theaverageguy commented on #517
This can be closed @arokem

[2016-03-21 14:23] arokem commented on #517
Thanks for the reminder. Closing.

[2016-03-21 14:23] #517 closed

[2016-03-21 14:37] arokem commented on #742
Thanks for the report. Reopened this, and digging around for a good resolution to this. Looks like for your case maybe rebuilding scipy from source?

[2016-03-21 14:38] arokem commented on #975
Closed by #977

[2016-03-21 14:38] #975 closed

[2016-03-21 15:29] pomodorochris commented on #742
I was hoping to avoid that but it seems to be the only solution (except for switching back to Python 2.7).

[2016-03-21 15:48] theaverageguy opened #985 "Getting started example should be commented at each step"
Currently , there is a description but the actual code is not commented line-by-line.
That would help newbies understand what really happened in the example code.
http://nipy.org/dipy/

[2016-03-21 15:52] theaverageguy opened #986 ""pip3 install dipy" in Installation for python3"
For python3, [installation guide](http://nipy.org/dipy/installation.html) should mention installation using
`pip3 install dipy`

[2016-03-21 15:54] ghoshbishakh commented on #986
@theaverageguy that depends. I am using arch linux and for me pip is python 3 and pip2 is for python2

[2016-03-21 16:18] theaverageguy opened #987 "Practical FAQs don't have hyperlinks to modules/libraries."
In [practical FAQs](http://nipy.org/dipy/faq.html) , matplotlib has a hyperlink for easy access of that library's page. However , numpy, ipython and cpython are used for different tasks but there are no hyperlinks for them.
This should be consistent.

[2016-03-21 16:31] theaverageguy opened #988 "doc/conf.py shows copyright 2008-2015. Should be 2016?"

[2016-03-21 16:49] arokem commented on #988
It should! Closed through #989

[2016-03-21 16:49] #988 closed

[2016-03-21 16:51] theaverageguy commented on #987
Working on this one.

[2016-03-21 16:53] theaverageguy commented on #940
Where do we make changes for this?

[2016-03-21 16:57] samuelstjean commented on #940
In the setup.py, it's pretty much just deleting a line. We just need people
to actually say 'this is a good idea, go ahead' or 'this is retarded'
before though.
But with all the new people around for gsoc, it seems like everyone is
swarmed with reviewing a ton of small PR, so it's not really important
right now since python 2.6 is not deprecated yet, just soon.

Always good to know what is coming

[2016-03-21 17:06] theaverageguy commented on #912
How do we fix this? Any hints ?

[2016-03-21 17:07] arokem commented on #986
I would prefer to go with simplicity here. I believe that `pip` will install on whatever python you get when you type `python` (and that will depend on how you set up your system). I believe the current recommendation is generic enough. Closing for now, but feel free to pipe up if you think this should be reopened.

[2016-03-21 17:07] #986 closed

[2016-03-21 17:08] arokem commented on #912
First, we probably wait for VTK to be easily available on Python 3 (e.g. through conda). Then, it's actually pretty straightforward. There are just a few small things that are py2-centric.

[2016-03-21 17:22] ghoshbishakh commented on #912
actually it is not that simple. I was looking at it for quite a few days and could not manage to get the api generation script to work properly.

specifically `apigen.py`

[2016-03-21 17:24] arokem commented on #912
Huh. Maybe we kick this one a bit further down the road?

On Mon, Mar 21, 2016 at 10:22 AM, Bishakh Ghosh <notifications@github.com>
wrote:

[2016-03-21 18:49] #970 closed

[2016-03-21 21:21] samuelstjean commented on #940
My mistake, I meant rather the travis.yml file, as this drops the testing
part. It does not make it stops working with 2.6, rather means that if it
works, good for you, if not, good time to update then. Should stop
responding to email late before leaving I guess.
On Mar 21, 2016 17:57, "Samuel St-Jean" <stjeansam@gmail.com> wrote:

[2016-03-22 10:54] souravsingh commented on #344
Are we talking about the paper [linked here](http://journal.frontiersin.org/article/10.3389/fninf.2014.00008/abstract). If so, I can make a quick PR to fix it.

[2016-03-22 13:46] theaverageguy commented on #940
@samuelstjean I would wait till you or some other mentor gives a green flag then. :)

[2016-03-22 13:47] theaverageguy commented on #928
@samuelstjean @sahmed95
I would like to fix this. A little help please.

[2016-03-22 13:59] theaverageguy commented on #10
Is this one still active @arokem ?

[2016-03-22 14:00] theaverageguy commented on #184
I guess this can be closed @arokem

[2016-03-22 14:25] theaverageguy opened #991 "Documentation footer has 2008-2015 mentioned."
Where exactly can I change it?

[2016-03-22 14:29] theaverageguy commented on #969
@arokem could you tell if I can fix this?

[2016-03-22 14:33] theaverageguy commented on #903
@samuelstjean Could you provide a sample code which can give me an idea as to how I should  implement the function?
I am not sure how we get 4D data as of now.

[2016-03-22 14:35] arokem commented on #344
This one's already resolved. Thanks for floating it. Closing.

[2016-03-22 14:35] #344 closed

[2016-03-22 14:38] arokem commented on #969
Hi @theaverageguy - I love the enthusiasm! This one is not resolved everywhere -- there are still several places in the code that have relative imports. Feel free to change these into absolute imports, but please make only small PRs with these changes, so that it's easier to review, and please don't make changes to the cython code (in the .pyx files).

[2016-03-22 14:39] arokem commented on #991
Try using `git grep 2015` to find all the mentions of "2015" in the repo.

[2016-03-22 14:41] theaverageguy commented on #899
I am fixing this one.

[2016-03-22 14:42] arokem commented on #184
You'd think, but I believe this still hasn't been merged.

If anyone wants to make this into a PR, that would be great.

[2016-03-22 14:42] theaverageguy commented on #991
@arokem I searched for "copyright 2008-2015" directly on the repo on github.
Would that be equivalent? I couldn't find it like that though.

[2016-03-22 14:43] arokem commented on #899
This one is already fixed in https://github.com/nipy/dipy/pull/951

[2016-03-22 14:43] theaverageguy commented on #940
@arokem Any call on this one?

[2016-03-22 14:44] arokem commented on #10
I believe so.

[2016-03-22 14:46] arokem commented on #928
I would try to implement a check for the number of streamlines and special-case the single fiber case.

[2016-03-22 14:50] theaverageguy commented on #10
Shall I work on the return types of both functions to fix this ? What would be the best way?

[2016-03-22 14:58] samuelstjean commented on #903
Currently it does extract 4D data, but since diffusion is a kind of 4D
imaigng modality (3D spatial dimension + 1 extra depending on model),
having a full 4D is not necessarily desirable.

For this one I just went back to extract the main peaks for each voxel,
then find the smallest angle from each streamline to re-follow each local
peak. Once this indice is extracted, I just use it to extract the

[2016-03-22 17:35] sahmed95 commented on #978
Oops. Made a mistake here. In vector_fields.pyx, the import shouldn't be changed to absolute.

[2016-03-22 17:40] sahmed95 opened #994 "Use absolute import in dipy/core"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx or **init** files

[code]

[2016-03-22 17:42] sahmed95 opened #995 "Use absolute import in dipy/data/__init__.py"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx files

@arokem @Garyfallidis Does #969 apply to init files too? Please verify if this is needed.

[code]

[2016-03-22 17:44] sahmed95 opened #996 "Use absolute import in dipy/direction"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx or __init__ files

[code]

[2016-03-22 17:47] sahmed95 opened #997 "Use absolute import in io"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx files

[code]

[2016-03-22 17:49] sahmed95 opened #998 "Use absolute import in dipy/pkg_info.py"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside dipy. Take care not to change .pyx files

[code]

[2016-03-22 17:50] sahmed95 opened #999 "Use absolute import in reconst"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx files

[code]

[2016-03-22 17:51] sahmed95 opened #1000 "Use absolute import in segment, testing and tests"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx or **init** files

[code]

[2016-03-22 17:54] sahmed95 opened #1001 "Use absolute import in tracking"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx files

[code]

[2016-03-22 17:55] sahmed95 opened #1002 "Use absolute import in utils and scratch"
This is the last issue regarding absolute imports in dipy. Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx files or the __init__ files

[code]

[2016-03-22 17:55] souravsingh commented on #994
#992

[2016-03-22 17:57] souravsingh commented on #1000
Part for testing and tests is done in #993. I will work on segment further.

[2016-03-22 17:57] sahmed95 commented on #969
@theaverageguy Hi, thanks for taking a look. I have opened all the other absolute import issues. Please have a look above. @arokem Is it necessary to change the __init__ files too? #995

[2016-03-22 17:59] arokem commented on #969
Please don't touch the `__init__` files!

On Tue, Mar 22, 2016 at 10:57 AM, Shahnawaz Ahmed <notifications@github.com>
wrote:

[2016-03-22 18:02] sahmed95 commented on #995
Do not change __init__ files

[2016-03-22 18:02] #995 closed

[2016-03-22 18:03] theaverageguy commented on #999
Taking this one! :)

[2016-03-22 18:09] sahmed95 commented on #969
Sorry. I should have confirmed. I had a doubt about __init__. Updating now the issues to avoid __init__. Anything else to keep in mind. I guess this sorts out all the absolute import cases.

[2016-03-22 18:13] theaverageguy commented on #1002
I am working on this one.

[2016-03-22 18:17] theaverageguy commented on #1001
And this one.

[2016-03-22 18:56] sahmed95 commented on #1002
@theaverageguy I guess @souravsingh is already working on this. I will change the issue to take care of only utils and scratch to avoid conflicts with @souravsingh 's PR.

[2016-03-22 18:59] sahmed95 opened #1007 "Use absolute import in viz"
Please refer to the original issue #969. Use absolute import in place of relative for all .py files inside /dipy. Take care not to change .pyx or __init__ files
[code]

[2016-03-22 19:01] theaverageguy commented on #1002
No problem. :) Will take up the other half @souravsingh ! Thanks

[2016-03-22 19:02] theaverageguy commented on #1007
On this now .

[2016-03-22 19:28] souravsingh commented on #991
On doing a ``git grep 2015`` This is the list which is produced- [http://paste.ubuntu.com/15474406/](http://paste.ubuntu.com/15474406/)

[2016-03-23 04:57] #901 closed

[2016-03-23 14:45] #884 closed

[2016-03-23 16:28] theaverageguy commented on #887
This can be closed @arokem @manu-tej ?

[2016-03-23 18:07] manu-tej commented on #888
@arokem Issue closed via #952

[2016-03-23 18:07] manu-tej commented on #882
@arokem issue closed via #956

[2016-03-23 18:08] manu-tej commented on #877
@arokem issue closed via #955

[2016-03-23 18:09] manu-tej commented on #887
@arokem issue closed via #952

[2016-03-23 18:14] #887 closed

[2016-03-23 18:14] #877 closed

[2016-03-23 18:20] riddhishb opened #1011 "Discrepancy with output of nlmeans.py"
I am working on adaptive denoising patch for dipy, and I noticed an interesting catch in the current implementation of nlmeans.py. I have discussed this with @Garyfallidis

Following is the output with p=1,b=1 (3x3 block_size and 3x3 patch_size)
![1](https://cloud.githubusercontent.com/assets/7941975/13995710/5af19ef0-f150-11e5-8a73-952523f1b95c.png)

Following is the output with p=3,b=3 (7x7 bloc

[2016-03-23 19:05] arokem opened #1013 "`dipy.data.make_fetcher` test fails with Python 3"
[code]

[2016-03-23 19:05] arokem commented on #1013
Went under the radar until now, because #1012

[2016-03-23 19:19] arokem opened #1014 "Progress bar works only for some data"
Moving the conversation that started over on #981 to here.

[2016-03-23 19:21] arokem commented on #1014
@ghoshbishakh : I think that if the server doesn't automatically provide data size, then we need to fall back on whether or not the data-size was provided as metadata for this data-set (this is information we removed in #971)

[2016-03-23 19:22] ghoshbishakh commented on #1014
yes so bringing back the data set metadata and autometically flling back is the way to go. I am working on it.

[2016-03-23 19:23] arokem commented on #1011
Just to be clear: is the output identical in these two cases?

On Wed, Mar 23, 2016 at 11:20 AM, Riddhish Bhalodia <
notifications@github.com> wrote:

[2016-03-23 19:24] arokem commented on #1014
Cool -- :+1: -- thanks for taking a look!

On Wed, Mar 23, 2016 at 12:22 PM, Bishakh Ghosh <notifications@github.com>
wrote:

[2016-03-23 20:55] sahmed95 commented on #1014
Following.

[2016-03-23 23:13] sahmed95 opened #1016 "viz.fvtk has no attribute 'ren'"
From the examples, in [reconst_dti.py](https://github.com/nipy/dipy/blob/master/doc/examples/reconst_dti.py#L218) we get an AttributeError : fvtk has no attribute 'ren'. Ran this in python2.7 and got the same error.

[code]
Refer to #981

Update : Same in Python3

[2016-03-23 23:15] arokem commented on #1016
You'll need to have VTK installed. See: https://neurostars.org/p/3724/#3726

[2016-03-23 23:18] sahmed95 commented on #1016
Oh, Thanks. Will it be better if we warn the user or suggest that VTK should be installed. Someone who is just going through the examples might not know this.

[2016-03-23 23:20] arokem commented on #1016
Agreed - a better message would be great to have.

On Wed, Mar 23, 2016 at 4:18 PM, Shahnawaz Ahmed <notifications@github.com>
wrote:

[2016-03-23 23:25] sahmed95 commented on #1016
What is the correct error type ? AttributeError ? I am adding an else statement to raise a warning "VTK not installed"

[2016-03-23 23:36] Garyfallidis commented on #1016
import error

[2016-03-24 00:01] sahmed95 commented on #1016
@Garyfallidis Thanks. I hope this fixes the issue. :smile:

[2016-03-24 03:40] grlee77 commented on #1011
@riddhishb

One might reasonably expect that perhaps the "block size" means that the the central pixel of the patch would traverse a region equal to the block size, but that is not what the code actually does.

If you look at the function `process_block` in denspeed.pyx, the patch is only looped over the locations in the block where no pixels in the patch extend beyond the block edges.  So if the

[2016-03-24 04:12] riddhishb commented on #1011
@grlee77  Exactly, I was about to comment that.
@arokem Not just these cases, as @grlee77 mentioned, for all the cases where patch_radius >= block_radius we get no denoising.

[2016-03-24 20:36] sahmed95 commented on #1016
When packages are not installed the optional_pakage function from utils.optpkg takes care of the import error. Instead of raising an error it returns a TripWire message as the import. Calling any attribute of this TripWire object should raise the ImportError and print the message. Example.
Thus, if VTK is not installed.
[code]
Should show the TripWire error. But it doesn't.

fvtk documentation say

[2016-03-25 08:00] theaverageguy opened #1020 "Documentation does not mention Scipy as a dependency for VTK widgets."
While working with VTK widgets I came across the error:
no module named scipy.interpolate.

Obviously scipy needs to be installed but the documentation does not warn us about this.
Will take this up.

[2016-03-25 14:51] sahmed95 commented on #1020
Can you please give a link to the file from where you get the error. Or post a code snippet how you got it?  You can use http://paste.ubuntu.com/. Even I want to understand how to deal with VTK.

[2016-03-25 14:53] arokem commented on #1020
Dependencies are described here:
http://nipy.org/dipy/dependencies.html#dependencies

On Fri, Mar 25, 2016 at 7:51 AM, Shahnawaz Ahmed <notifications@github.com>
wrote:

[2016-03-25 14:54] arokem commented on #1020
And that's linked from here: http://nipy.org/dipy/installation.html

But happy to add it in other places, if it makes it easier.

On Fri, Mar 25, 2016 at 7:53 AM, Ariel Rokem <arokem@gmail.com> wrote:

[2016-03-25 16:31] matthew-brett commented on #1020
When #1019 is merged, dipy should install scipy automatically.

[2016-03-26 14:52] #874 closed

[2016-03-26 17:32] sahmed95 commented on #720
@arokem Hi, I made a quick script to generate ipython notebooks from all the examples. You can see a sample [here](https://github.com/sahmed95/dipy/blob/issue-720_notebooks/doc/examples_notebook/affine_registration_3d.ipynb) Apart from some markup issues and things with math formulas, this works for all the examples which follow the standard dipy examples format.

The code used to generate the fil

[2016-03-27 18:51] theaverageguy commented on #1020
I am working on VTK Widgets from now on for my application in GSoC. I would like to contribute with about 2-3 widgets this week.
Thanks. :)

[2016-03-28 15:14] arokem commented on #720
This is a great idea! However, I would prefer that we automate this, such that the notebooks get automatically generated when we build the documentation.

That is, rather than committing all these notebooks to the repository, we would have a script that converts the python examples to jupyter notebooks, and uploads them together with the python example scripts, so they can be downloaded. Even bett

[2016-03-28 15:20] sahmed95 commented on #720
Yeah, that seems to be achievable if all the examples follow this format :

[code]
I can then easily separate text and code blocks. I guess this is the prescribed way to write examples. Am I correct?

[2016-03-28 15:27] arokem commented on #720
Yes - that's correct.

The examples get processed using this module:
https://github.com/nipy/dipy/blob/master/tools/make_examples.py

All the .py files in the examples folder get automatically rendered into
rst files (into the examples_built folder), and they then get picked up by
sphinx, as it builds the documentation.

Multi-line text blocks (in triple quotes) get rendered into text blocks in
th

[2016-03-28 15:28] #1007 closed

[2016-03-28 15:29] #998 closed

[2016-03-28 15:29] #996 closed

[2016-03-31 13:49] samuelstjean opened #1023 "display in dsi example is broken"
Seems like the web rendering had a problem again maybe.

![screenshot from 2016-03-31 15-47-35](https://cloud.githubusercontent.com/assets/3030760/14177765/24a5c674-f758-11e5-95c6-e7cefa146380.png)

[2016-03-31 14:39] manu-tej commented on #1023
@samuelstjean PR #1024 should solve the problem

[2016-03-31 17:48] samuelstjean opened #1026 "Multprocessing the multivoxel fit"
Turns out the peaks from model function is multiprocessed, but not the fitting parts. Plugging the same concepts around https://github.com/nipy/dipy/blob/master/dipy/reconst/multi_voxel.py#L10
would provide a much needed speed boost for fancier model like shore, map mri, dki, etc for free. Also obsoletes https://github.com/nipy/dipy/issues/562

[2016-03-31 18:13] manu-tej commented on #1026
@samuelstjean I would like to work on it. Can you tell me where to get started as I am relatively new to multiprocessing?

[2016-03-31 18:17] samuelstjean commented on #1026
Sure, that one is possibly doable. See here for an example https://github.com/nipy/dipy/blob/master/dipy/direction/peaks.py#L397

So this function is a kind of huge wrapper for a subfunction which does all the computations in parallel. The big function calls the small function one time per slice of a 3D volume and then combines back the output. Having the same inside the multivoxel fit would actua

[2016-03-31 18:20] manu-tej commented on #1026
Yes, I would like to have a look at simpler function

[2016-03-31 18:24] samuelstjean commented on #1026
This one is on the old and ugly side, but it will give you an idea https://github.com/samuelstjean/dipy/blob/stabilisation/dipy/denoise/signal_transformation_framework.py#L886

I alos have a fancier one somewhere else probably if you need it.

#562 also has some parts of code where someone already partly tackled the issue, and it seemed almost there if you want to pull stuff from it.

[2016-03-31 18:30] manu-tej commented on #1026
Thanks. I will let you know when I make some progress.

[2016-04-02 11:20] samuelstjean commented on #1026
I have a mutiprocessed version of shore and map mri for now, so I can probably post it y monday, the odf metrics stll give me some problem, but other than that, it does work faster.

[2016-04-02 15:54] arokem commented on #1026
Should we consider using joblib for these things? I have had some recent
experience with this, and it's been quite pleasant. It simplifies a lot of
things that are unpleasant in multiprocessing, and allows using a threading
backend, as well as the multiprocessing backend. Might make things easier
also as we go to cluster-computing backends, because it has some similar
patterns.

On Sat, Apr 2, 201

[2016-04-02 20:31] samuelstjean commented on #1026
Is it really simpler than multiprocessing as it just seems to use that underneath? Also, they have a big red warning for using this on windows, which would translate as only use this in real scripts and not random functions (such as here).

https://pythonhosted.org/joblib/parallel.html

[2016-04-03 22:11] manu-tej commented on #1026
@samuelstjean what was the issue with #642 ?

[2016-04-04 01:29] MrBago commented on #1026
@manu-tej I put this PR together as a proof of concept, but never had the time to get it finished for merge. I wanted to show how the parallel processing code could be separated from the actual diffusion code, that way multiple functions could the same parallel framework and new functions could be implement to exploit the parallel framework pretty easily.

Also using this kind of setup, one could

[2016-04-04 14:13] samuelstjean commented on #1026
Actually #642 would be the proper way to do it, but as mentionned just before, it still need some more work. If yo wanted a quick easy example, I just found one where I turned a convolution over all volume separately in al multiproc loop here : https://github.com/samuelstjean/dipy/blob/stabilisation/dipy/denoise/signal_transformation_framework.py#L886

But honestly, it should be better to work wit

[2016-04-04 15:54] #997 closed

[2016-04-04 19:16] manu-tej commented on #1026
I can start making the module by starting with multivoxel fit and then extend it to various other methods. It  seems doable but I think the progress would be slow as I have to take care of my course work .

[2016-04-04 19:40] samuelstjean commented on #1026
I alos have classes ;) Anyway, it was started some time ago already, so
even fi it takes a few months, at this point there is no rush or
somebody would have done it by now I'd say. If you still need easy to
read code I now have my shore/map mri stuff running currently, should be
done tomorrow.

Le 2016-04-04 21:16, Manu Tej Sharma a écrit :

[2016-04-06 10:30] sahmed95 commented on #720
@arokem I automated the script such that notebooks are generated when tools/make_examples.py is run. The built notebooks are stored in the folder doc/examples_notebook. I will go ahead and implement the .rst and nbviewer conversion. The script still needs some work but for now it generates all examples. Since the examples are already built from the python files, can we just link the notebooks at t

[2016-04-06 18:47] #979 closed

[2016-04-11 13:31] ghoshbishakh commented on #885
@arokem closed through #958

[2016-04-11 14:05] #885 closed

[2016-04-11 14:06] #888 closed

[2016-04-11 14:07] #882 closed

[2016-04-13 04:37] manu-tej commented on #1023
closed through #1024

[2016-04-13 20:15] #1023 closed

[2016-04-13 20:16] arokem commented on #1020
I think we can close this one (feel free to reopen if I've missed something)

[2016-04-13 20:16] #1020 closed

[2016-04-13 20:17] arokem commented on #1013
This is resolved by #1015

[2016-04-13 20:17] #1013 closed

[2016-04-13 20:17] arokem commented on #1014
This is resolved through #1015

[2016-04-13 20:17] #1014 closed

[2016-04-13 20:17] arokem commented on #1002
I believe this was resolved in #1006

[2016-04-13 20:17] #1002 closed

[2016-04-14 15:24] arokem opened #1029 "Errors building Cython extensions on Python 3.5"
On my Mac, with Anaconda Python, Cython 0.24:

[code]

[2016-04-14 15:33] arokem commented on #1029
For the record, that is the most recent version of Cython.

[2016-04-14 15:34] Garyfallidis commented on #1029
Okay good to know.

[2016-04-14 15:37] arokem commented on #1029
Any ideas what this could mean, or how I would go about debugging this? Is there some way to drop into the debugger while running `setup.py`?

[2016-04-14 17:30] matthew-brett commented on #1029
I don't get this with the current Cython on pypi.

[code]

is running OK on my OSX laptop and a desktop Linux machine.   Could something have gone wrong with your Cython install?

It looks like you would get the error by running `cython` directly on the file - does that work?

[2016-04-14 18:11] arokem commented on #1029
Yeah, seems something is borked with my Cython. I get this when running cython on even a trivially simple example. Seems unrelated to Dipy, so I am closing this.

[2016-04-14 18:11] #1029 closed

[2016-04-14 18:19] arokem commented on #1029
Addendum, in case anyone else runs into this:

conda uninstall cython
pip install cython

Seemed to do the trick for me. Might have crossed my wires there before...

[2016-04-14 18:27] matthew-brett commented on #1029
Is conda's Cython broken?  Worth a bug report to Continuum?

[2016-04-14 18:34] arokem commented on #1029
No -- my own individual wires were apparently crossed (which is what happens, when you're me...). Following all this with a:

pip uninstall
conda install cython

And everything still works. Frankly, I have no idea how I got into this pickle to begin with...

[2016-04-15 03:50] arokem opened #1030 "Fetcher files not found on Windows"
See test failures on the bots:

http://nipy.bic.berkeley.edu/builders/dipy-bdist32-27/builds/342/steps/shell_11/logs/stdio

And on Appveyor:

https://ci.appveyor.com/project/arokem/dipy/build/1.0.675/job/ceb07013pjref2u4

[2016-04-15 14:05] manu-tej commented on #1030
There seems to be an issue with the with slash ( \ ) in address . It should be replaced with backward slash ( \ ) for windows.

[2016-04-18 08:02] ghoshbishakh commented on #1030
@arokem did this error arise after merging  #1015

[2016-04-18 21:57] arokem commented on #1030
@ghoshbishakh - I think it did. Let's see if @manu-tej's PR resolves this...

[2016-04-19 10:18] #1016 closed

[2016-04-20 16:37] manu-tej commented on #1030
closed through #1035

[2016-04-20 17:22] #1030 closed

[2016-04-25 18:54] matthew-brett opened #1037 "tracking.interfaces imports SlowAdcOpdfModel, but it is not defined"
See: http://nipy.bic.berkeley.edu/builders/dipy-py2.6-32/builds/758/steps/shell_9/logs/stdio

`dipy/tracking/interfaces.py` has this line:

[code]

but `dipy.reconst.shm` does not define `SlowAdcOpdfModel` .

[2016-04-25 19:08] arokem commented on #1037
This looks like a repeat of https://github.com/nipy/dipy/issues/115

[2016-04-30 09:18] alexsavio opened #1040 "SFM example using deprecated code"
The example in: http://nipy.sourceforge.net/dipy/examples_built/sfm_reconst.html#example-sfm-reconst

Is using this code:

[code]

which is deprecated.

[2016-04-30 15:58] arokem commented on #1040
This was fixed here: https://github.com/nipy/dipy/commit/171e7b7ab7c56962f3f4ac2698504d6edf90f3eb

[2016-04-30 16:00] arokem commented on #1040
How should we propagate this to the website? Cherry pick this commit into `maint/0.11.x` and rebuild the docs?

[2016-04-30 16:02] Garyfallidis commented on #1040
Yes.

[2016-04-30 16:38] arokem commented on #1040
Any idea why it's not already on the website? The updated version of this
tutorial is in the 0.11 release.

On Sat, Apr 30, 2016 at 9:02 AM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2016-04-30 19:24] Garyfallidis commented on #1040
@arokem This looks good to me
http://nipy.org/dipy/examples_built/sfm_reconst.html#example-sfm-reconst
We don't use sourceforge anymore.

[2016-04-30 20:07] alexsavio commented on #1040
IMO if you have the documentation elsewhere already I would only keep one.
Maybe Google sent me to the sourceforge version. I am sorry for the confusion.

[2016-04-30 20:11] arokem commented on #1040
No worries. We should probably take down the sourceforge website, and
redirect from that link. @Garyfallidis: do you have the permissions on SF?
Or maybe @matthew-brett can help with that?

On Sat, Apr 30, 2016 at 1:07 PM, Alexandre M. S. <notifications@github.com>
wrote:

[2016-04-30 20:14] Garyfallidis commented on #1040
I have access to the sourceforge login but I want to hear first what Matthew thinks about this. Before making any drastic changes.
@alexsavio use dipy.org from now on. And thank you for reporting this problem. We didn't know that the two websites were not sync.

[2016-04-30 20:32] Garyfallidis commented on #1040
I looked a bit inside sourceforge and didn't find what link I need to update. I 'll wait for feedback from Matthew.

[2016-04-30 20:38] matthew-brett commented on #1040
​Sounds like a good idea to redirect.  When I was redirecting nibabel, I
put a redirect in each page, pointing to the github version.

Files should be in the public html directory on sourceforge - in the old
Makefile, this was:

WWW_SF=nipy@web.sourceforge.net:/home/groups/n/ni/nipy/htdocs/dipy

[2016-04-30 20:47] Garyfallidis commented on #1040
Can't find it. Where do I need to go? In each page? Sorry not clear.

[2016-04-30 21:09] matthew-brett commented on #1040
I haven't done this for ages, but if you look at the Makefile for the docs, from a few years ago, you'll see the sourceforge lines there.  I'm guessing that you can ssh into nipy@web.sourceforge.net and then navigate to the given directory to see the files.  I seem to remember that I made a script that went through all the pages and replaced the content with a message and a redirect to the matchin

[2016-04-30 21:27] Garyfallidis commented on #1040
Hm... I don't know the pass for user nipy. And I have no access using my sourceforge username.

[2016-05-04 22:08] arokem commented on #1040
Any success here? Anything I can do to help?

[2016-05-04 22:11] arokem commented on #991
Seems resolved here: https://github.com/nipy/dipy/commit/8fd22929653a3d3bcc2454b1d401c241eaf597b3

Closing.

[2016-05-04 22:11] #991 closed

[2016-05-04 22:12] #899 closed

[2016-05-05 22:24] benalayaines opened #1044 "Reconstruction FOD"
Hi,
I'm Ines BEN ALAYA , i'm a PhD student and i'm working with diffusion MRI.
I intend  to estimate the FOD from a signal that has been generated using a multi-tensor model ,i download the file reconst_csd.py.
Can i reconstrutct the FOD using the diffusion signal and the response function (i don't have the diffusion weighted images).
I will be grateful if you can help me.
Best regards.

[2016-05-05 23:15] arokem commented on #1044
Yes. You can do that by replacing these lines:

https://github.com/nipy/dipy/blob/master/doc/examples/reconst_csd.py#L25-L30

with lines that assign your simulated signal into `data` and create a gradient table that matches the gradient table that was used in your simulation into `gtab`.

You will also need to have a response function, instead of the response function estimated here:

https://gith

[2016-05-06 00:08] benalayaines commented on #1044
Thank you very much for the quick reply.
I don't understand the last sentense,  we have to use the same tensor used in the signal generation in each voxel , Is it right?
I used this code to generate the response function
a = FA/sqrt(3-2*FA^2);
D = 0.75*[ 1-a 0 0; 0 1-a 0; 0 0 1+2*a ];
I will use the data of challenge ISBI'12 , in which the values of lambda change from one voxel to another. we have

[2016-05-06 00:11] arokem commented on #1044
I think this means you want to set:

    response = ((1 + 2*a, 1-a, 1-a), S0)

Where S0 is the mean non-diffusion weighted signal used to generate the simulation.

[2016-05-06 00:16] arokem commented on #852
I don't think this has been fixed yet. I'm thinking it might be nice to introspect, and if the user is on Python 3 and scipy is from conda, use the "old" version of spherical_harmonics from here: https://github.com/nipy/dipy/blob/master/dipy/reconst/shm.py#L160

Anyone know how we can tell if scipy is from conda?

[2016-05-06 13:58] benalayaines commented on #1044
Hi,
Could you help me to modify the code (reconst_csd.py) in order  to estimate the FOD in individual voxels??
i have the diffusion signal (vector 65*1) and the response function?
Many thanks for considering my request.

[2016-05-10 15:30] arnaudbore opened #1047 "Gradient flipped in the x-direction - FSL bvecs handling"
Hi everybody,
I play a lot with MRtrix / FSL / Dipy at the same time and I've got some trouble with this "new/old" problem: http://www.mrtrix.org/2016/04/15/bug-in-fsl-bvecs-handling/
I handle bvec/bval/b generation using MRtrix. It seems that FSL has updated its documentation as well: http://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FDT/FAQ#What_conventions_do_the_bvecs_use.3F
I'm using dipy 0.10dev and whe

[2016-05-10 15:34] arokem commented on #1047
AFAIK, we have nothing to mitigate this issue. Would be good to have a little bit more information, what did you do that resulted in this flip? How did you go about diagnosing it ("how do you know it's wrong?")?

[2016-05-10 19:37] arnaudbore commented on #1047
Since the new version of MRtrix their "new" way to extract bvecs and bvals files results in reconstructed tensors flipped in the x direction when using dipy (Everything is correct with dtifit from FSL or dwi2tensor from MRtrix).

[2016-05-10 19:40] arokem commented on #1047
Do I understand correctly that the way to mitigate this is that if either mrtrix or FSL have touched your b-vectors, you should multiply them by a `np.array([-1, 1, 1])`, and then everything would be alright in dipy? Would a note in the documentation be sufficient for now?

[2016-05-10 19:49] arnaudbore commented on #1047
I agree but some investigations have to be done in order to understand what I've been done and then better handle bvecs because dipy miss something here.

[2016-05-11 15:15] arokem commented on #1047
Sure - if you could point to an example that demonstrates what might go wrong, that would be very helpful!

[2016-05-11 15:18] arnaudbore commented on #1047
Question related to this x-direction flip: I manage to flip the reconstructed tensor multiplying gradientTable.bvecs by ```np.array([-1, 1, 1])``` but it didn't work with CSD reconstruction. I finally found that I needed to flip ```gradientTable.gradient``` in order to make it works. Why do you use two different ways to store and use the gradient table ?

[2016-05-12 20:21] grlee77 opened #1048 "divide by zero error in DiffeomorphicRegistration of small image volumes"
I came across the following traceback while using SyN `DiffeomorphicRegistration` registration today.  The error occured because the input image size was too small for the default `level_iters`, but one would be very hard pressed to determine that from the following ZeroDivisionError traceback:

[code]

It turns out that this occurs because the cross-correlation metric can't compute anything meani

[2016-05-12 22:33] omarocegueda commented on #1048
Nice catch! thanks for reporting this @grlee77!, I like your proposed fix, I'll implement it asap! =)

[2016-05-23 16:47] #813 closed

[2016-05-23 23:07] #1037 closed

[2016-05-24 23:46] arokem commented on #852
Well, I've answered my own question in #1057

[2016-05-26 18:08] sahmed95 opened #1061 "Inconsistency in specifying S0 values in multi_tensor and single_tensor"
As pointed out by @etpeterson in https://github.com/nipy/dipy/pull/1058#discussion_r64775504

In dipy/sims/voxel.py multi_tensor specifies S0=100 while single_tensor specifies S0=1

Should it be consistent over both functions ?

[2016-05-27 03:58] arokem commented on #1061
Yes. Best to set a global variable, and then use it in all the function definitions. There are many places in which this is set to 100, and only a few in which this is set to 1, so I guess we should probably go with 100 everywhere. There's even (at least) one place where S0 is set to 150... (https://github.com/nipy/dipy/blob/master/dipy/sims/voxel.py#L484)

[2016-05-27 18:28] sahmed95 commented on #1061
PR for the fix : #1063

[2016-06-03 09:31] riddhishb commented on #1011
@arokem @Garyfallidis I think we can close this issue now.

[2016-06-03 15:12] arokem commented on #1011
Closed through #1018

[2016-06-03 15:12] #1011 closed

[2016-06-06 09:38] Laski commented on #1040
Hi! I'm new to dipy and I've had some issues with the tutorial until I found that there are two different docs. Any update here should be appreciated by the next ones to come.

[2016-06-06 09:45] Laski opened #1070 "[Docs] Examples using deprecated function"
Hi! Dipy newbie here. While doing the [examples](http://nipy.org/dipy/examples_index.html) in the docs I found that some of them calls the `fvtk.ren()` method, which has been deleted [here](https://github.com/nipy/dipy/commit/e3827a341a244f6cce853ff7037b7e3d9085166b). I know the visualization has now its own (updated) section, but the having non-working examples is a bit confusing for newcomers.

[2016-06-06 11:22] Laski commented on #1070
Oh, I see now that the problem is fixed by installing vtk

so I think the docs should say that.

[2016-06-06 15:17] arokem commented on #1070
I think this was sorted out by https://github.com/nipy/dipy/pull/1021

On Mon, Jun 6, 2016 at 4:22 AM, Nahuel Laski <notifications@github.com>
wrote:

[2016-06-06 15:18] arokem commented on #1040
@Laski : Thanks for the feedback! Are you referring to the fact that there is one tutorial for reconstruction with SFM and another tutorial for tracking with SFM?

[2016-06-06 23:09] yarikoptic opened #1071 "report coverage and add a badge?"
Hi guys.  I see that you are running tests for coverage and even submitting to coveralls... but for some reason coveralls wasn't activated for nipy/dipy... since I didn't find any issue here in the tracker about coveralls being evil, I have enabled it.  Myself recently I have preferred codecov service. With their extension for the browsers to see pull requests annotated line by line regarding cove

[2016-06-07 15:15] Laski commented on #1040
You're welcome! I'm referring to the fact that there are two docs for dipy actually searchable from Google ([here](http://nipy.org/dipy/documentation.html) vs [here](http://nipy.sourceforge.net/dipy/documentation.html)), which are for different versions. If you have current (0.11.0) version but get by mistake to the (0.10.0dev) there are things that may not work.

[2016-06-07 15:20] arokem commented on #1040
Ah yes - that's the sourceforge version mentioned above in this same
thread. Thanks.

@Garyfallidis: any luck taking down the SF pages? As you can see, it's
causing some confusion.

On Tue, Jun 7, 2016 at 8:15 AM, Nahuel Laski <notifications@github.com>
wrote:

[2016-06-07 17:21] quantshah opened #1073 "Add a method to slice gtab using bvals (Eg : gtab[bvals>200])"
A way to slice gradient tables to get bvals and bvecs according to a specific condition should be useful. For example :

[code]

Should give me a gradient table with bvals and bvecs greater than 200. Similarly perhaps a mask in the data can be useful.

[code]

Refer to Pandas DataFrames : http://pandas.pydata.org/pandas-docs/version/0.15.2/indexing.html#boolean-indexing

Will a feature like that b

[2016-06-07 17:24] arokem commented on #1073
Hey @sahmed95 : nice one. Just as side note about issues/PRs: no need to tag me and Eleftherios on every single one of these. We get an email about these by virtue of the fact that we are "watching" the repo (that's the button at the top of this page). Besides, there are many other contributors who could comment here (please do!), and we don't want them to feel like this only a conversation with t

[2016-06-07 17:28] arokem commented on #1073
Concerning details:

I think this is a good idea. I think this could be done by implementing the `__getitem__` method for the `GradientTable` object. It would take an indexing variable, and return a GradientTable with that indexing variable applied to the bvals and bvecs separately:

   return GradientTable(self.bvals[idx], self.bvecs[idx])

But I might be missing something. Does this correspond t

[2016-06-07 17:29] sahmed95 commented on #1073
Cool. I didn't know that. Looking forward to comments from everyone. If this feature is useful, we should certainly implement it. From my experience with Pandas DataFrame, slicing is a neat way to analyze parts of a large dataset if one wants to play around.

[2016-06-07 17:37] sahmed95 commented on #1073
Regarding the indexing operation : I was thinking of stuff like ```python gtab[200 < bvals < 600] ``` or gtab[ bvectors pointing to a certain direction] .

Another important part of this will be applying the same mask to the data. If we extract a particular set of bvalues we should get the corresponding image data too.

[2016-06-07 17:41] arokem commented on #1073
The latter can be achieved by doing:

    data[..., gtab.bvals > threshold]

and similar. Did you have another API in mind?

On Tue, Jun 7, 2016 at 10:37 AM, Shahnawaz Ahmed <notifications@github.com>
wrote:

[2016-06-07 18:29] sahmed95 commented on #1073
Oh, yes that'd work. I guess it's better not to add anything new and keep things simple. I was looking for a way to get data in between bvalues and found that numpy arrays can already be sliced like that. Using

```data[(data < 1000) & (data>200)] ```

So, no need for a new API I guess. Implementing __get__item should be enough with options for < b0, > b0, b1 < x < b2, and perhaps at a single bval

[2016-06-08 08:46] rutgerfick opened #1074 "There should be way to overall check to verify the input data is an ndarray or a "memmap""
Sometimes datasets are imported as a "memmap" instead of an ndarray, which can cause errors if you don't convert them to an array in the fitting process. For example, I tried to fit some data with the new mapmri module and because memmaps can't be concatenated it gave me the error "ValueError: zero-dimensional arrays cannot be concatenated",

If you don't know about this it's hard see that the typ

[2016-06-08 16:09] matthew-brett commented on #1074
Would you mind posting a tiny code snippet in numpy showing the concatenation problem?  I think this must be a numpy bug, if the behavior of memmaps is different than other arrays...

[2016-06-08 20:56] rutgerfick commented on #1074
from tempfile import mkdtemp
import os.path as path
filename = path.join(mkdtemp(), 'newfile.dat')
fake_data = np.memmap(filename, dtype='float32', mode='w+', shape=(5))
fake_data[:] = np.arange(5)
fake_b0_mask=np.r_[True,True,False,False,False]
fake_mean_b0 = fp[fake_b0_mask].mean()
fake_data_with_one_b0 = np.r_[fake_mean_b0, fp[~fake_b0_mask]]

[2016-06-08 20:59] rutgerfick commented on #1074
This should produce the ValueError.
The whole problem can be avoided by using an np.asarray(fake_data) for example, but I thought perhaps a specific check could be put somewhere when you give the data to any module?

[2016-06-09 01:17] matthew-brett commented on #1074
I think this is the problem reported here : https://github.com/numpy/numpy/issues/7403

It's certainly surprising.

In this case though, you can solve it with `np.asscalar` on the output.

The memmaps arise because of the way that dipy / nibabel loads images from disk.

[2016-06-09 02:26] matthew-brett commented on #1074
Also this should be fixed in the next version of numpy (1.12).

[2016-06-13 17:42] #883 closed

[2016-06-15 22:32] #1071 closed

[2016-06-21 19:32] sahmed95 opened #1081 "mean_diffusivity from the reconst.dti module returns incorrect shape"
The mean_diffusivity function from reconst.dti should return the MD's packed in an array with the same shape as the data. Currently, it seems that it returns a flattened array instead.

[2016-06-21 19:49] sahmed95 commented on #1081
Sorry for this. It seems that it returns the correct shape and there is no issue here.

[2016-06-21 19:49] #1081 closed

[2016-06-22 09:54] mdesco opened #1083 "nlmeans problem"
The nlmeans version of 0.12dev is considerably different from previous releases. As a result, our in-house scripts in my lab and at the hospital using the current nlmeans of the 0.12dev gives "broken" and unsatisfactory results. The nlmeans is over-blurring heavily at the moment.

Attached is a figure comparing the 0.11 nlmeans result verus 0.12dev result with the same sigma value.
![nlmeans_broke

[2016-06-22 11:52] Garyfallidis commented on #1083
Hi @mdesco and thank you for the feedback. I think that most likely there is nothing broken. I think what happened is that Riddhish (@riddhishb) improved our current implementation and now we can have adaptive nlmeans too which is even better than standard nlmeans in many ways. Riddhish is coming from a lab with expertise in denoising and his supervisor was part of the MNI denoising team back in t

[2016-06-22 14:53] riddhishb commented on #1083
@mdesco Thanks for pointing this out sir. So I will outline what happened, the previous dipy versions had nlmeans implementation following the Coupe's method but was doing only voxelwise averaging instead of a more robust blockwise approach. However the implementation had a bug #1011 fixed in #1018.

However, the bug fix still kept the voxelwise averaging, so what I am currently working on (PR: #1

[2016-06-22 15:00] Garyfallidis opened #1084 "Installation for windows developers using Anaconda needs to be updated"
Our installation documentation for people working with Anaconda who want to develop in Windows needs to be updated. More information here.

Just wanted to give you a quick feedback about the meeting we had with Jon to try and install DIPY for development work in Windows 10 (64bit) using an Anaconda installation.

What we found is that if you are using recent Anaconda in Windows you do not need to

[2016-06-22 15:05] Garyfallidis commented on #1083
Hi @riddhishb what @mdesco is telling you is that when he calls the command before and after the change in master the result is different (looking oversmoothed). Will this be fixed after merging #1066 ? I mean what you think introduced oversmoothing? Thanks in advance.

[2016-06-22 15:12] riddhishb commented on #1083
@Garyfallidis I will look at the code to exactly figure out what introduces the oversmoothing, The changes is due to the bug fix of #1011 by #1018 . And no by #1066 the oversmoothing in the voxelwise implementation (denspeed.pyx) is still there, but we will have 2 ways of implementation of nlmeans and to get a more sharper output one can use the blockwise implementation.

Also voxelwise implementa

[2016-06-22 15:16] Garyfallidis commented on #1083
Okay thanks for the feedback. I know you have done an excellent job with your denoising work. We just need to bring everyone up to speed and explain if they need to use some different parameters than before. Make sure you can explain what brought the change and what we need to change in our tutorial and the way we feed sigma in nlmeans. Keep it up @riddhishb!

[2016-06-22 15:17] mdesco commented on #1083
@riddhishb, I would recommend taking a perfect 3D image I, create I' adding Gaussian noise with sigma and then denoise with nlmeans 0.12dev versus 0.11.

On my side, if I do this with the phantomas b=0 image, the 0.12dev version is over-smoothing and the 0.11 is fine.
<img width="1177" alt="screenshot 2016-06-22 17 16 50" src="https://cloud.githubusercontent.com/assets/2170887/16272199/274dd610-38

[2016-06-22 15:20] Garyfallidis commented on #1083
@mdesco can you send this image to @riddhishb ? And if you use smaller sigma do you see something closer to the right?

[2016-06-22 15:21] riddhishb commented on #1083
@Garyfallidis Thanks :), I agree we do have to look at what sigma will give the best result in the voxelwise implementation. Will have a look into it.

@mdesco yes I will try that. I will have to look more closely at the PR that I put out #1018 , as far as I know I followed the algorithm correctly and fixed for #1011, but maybe something is missing. Thank you :)

[2016-06-22 17:14] riddhishb commented on #1083
@Garyfallidis One suggestion, the current denspeed implementation is voxelwise average, which is not as good a method as the block wise average (as can be seen from the above results), and the only reason we kept that was due to the speed considerations i.e it was much faster than the blockwise approach.

But now after the last optimization of the nlmeans_block , the speeds of

**patch_radius = 1,

[2016-06-22 17:18] Garyfallidis commented on #1083
I am not satisfied by this answer @riddhish because what is urgent now is to see what creates the oversmoothing of the voxel average. Voxel  (patch-based) averaging was used before right? And as @mdesco showed you there was no oversmoothing. I am online if you want to look at this together.

[2016-06-22 17:23] riddhishb commented on #1083
@Garyfallidis Ok, I am looking at the changes which I made in the denspeed.pyx in #1018
The voxelwise averaging was used but was incorrectly implemented. It would be better to see the changes, let me put them here.

[2016-06-22 17:25] Garyfallidis commented on #1083
Make sure that you explain in your response why it was incorrectly implemented.

[2016-06-22 17:38] omarocegueda commented on #1083
Hello everyone, =)
I was reading this thread, and there is something I'm really worried about
when I read assertions such as "being more robust", "having better
results", "mathematically more robust" based only on visual assessments.
Please take into account that denoising in this context (brain MRI) is
*very* different from computational photography: our objective is not to
obtain images that "lo

[2016-06-22 17:42] Garyfallidis commented on #1083
:+1:

[2016-06-22 17:43] riddhishb commented on #1083
@omarocegueda fair point! such assertions are half baked sorry for that, will analyze the code and @Garyfallidis let you know what might be causing the oversmoothing.

these were the changes made
https://github.com/nipy/dipy/pull/1018/files

[2016-06-22 18:21] riddhishb commented on #1083
@Garyfallidis @omarocegueda I referred the issue in the line note in the code
https://github.com/nipy/dipy/pull/1018/files

[2016-06-22 18:54] grlee77 commented on #1083
@riddhishb
I haven't checked the papers lately, but have spent quite a bit of time on these algorithms in the past.  You seem to have swapped order of the loops over blocks vs. patches in #1018 which I think is a mistake.  I added some comments inline over there.

[2016-06-22 18:58] riddhishb commented on #1083
@grlee77 correct! , but I have swapped them consistently, so it just becomes a naming inconsistency, which I will correct but still wont affect the oversmoothing.

[2016-06-22 18:59] riddhishb commented on #1083
@grlee77 So I believe we are still at square one :(

[2016-06-22 19:15] riddhishb commented on #1083
@grlee77 I updated the code to this, do check if it has the changes you were referring to ?
https://github.com/riddhishb/RandomStuff/blob/master/denspeed.pyx

The output is still oversmoothed!, what it essentially did was to swap the places of block and patch

[2016-06-22 20:47] grlee77 commented on #1083
That looks like what I suggested for the loops.  The normalization is also different, though.  If you also restore the old setting of:
[code]
I suspect things would become sharper again.  (although I am not sure why that sqrt(2) was there in the first place)

[2016-06-23 05:07] riddhishb commented on #1083
@grlee77 Only this change, even minus the other changes you pointed out was causing the oversmoothing.
Following the paper (http://www.ncbi.nlm.nih.gov/pubmed/18390341) I changed only the normalization, as

`denom = (sigm / patch_vol_size)**2`
`w = exp(-summ  / denom)`

this starts giving sharper results again as follows (at the voxelwise output)

![figure_1-8](https://cloud.githubusercontent.com/

[2016-06-23 05:16] mdesco commented on #1083
To me (and others clearly), there is an issue here. At this point, my suggestion would be the following:
i- roll back to version 0.11
ii- make sure that improvements in speed, voxelwise/blockwise can be done in a separate PRs making sure nothing gets broken in the master

As suggested by @omarocegueda, evaluation of denoising in DWI is difficult and I think we have done a pretty good job at doing

[2016-06-23 05:24] riddhishb commented on #1083
@mdesco All right will do that! :) Let me do this today and post the results here.

[2016-06-23 05:51] samuelstjean commented on #1083
Tom make boudle and because Maxime did not mention it explicitely : We
actually used the ground truth value of sigma that was used for
generating the noise, on 2 different phantoms, and still saw the issue,
hence the post. Real value for the isbi phantom is 1072 for SNR
(computed as SNR = b0/sigma, and b0 is constant for this one).

Also have a bunch of various SNR for a fancier version of the pha

[2016-06-23 05:53] riddhishb commented on #1083
@samuelstjean so the sigma is 1072 ?

[2016-06-23 05:55] samuelstjean commented on #1083
For the last case Maxime posted, with the original isbi 2013 hardi
phantom, yes, that is the real value of the noise standard deviation
(which we fed manually to the algorithm).

Le 2016-06-23 à 07:53, Riddhish Bhalodia a écrit :

[2016-06-23 07:22] riddhishb commented on #1083
I did not quantify everything, but the following figure and the PSNR will give an indication of how the changes proposed made the difference to the oversmoothing in 0.12dev.
Also this is done with patch_size = 2, block_size = 1

![figure_1-10](https://cloud.githubusercontent.com/assets/7941975/16294891/15e801ee-3941-11e6-8186-e1362247c005.png)

[2016-06-23 08:01] samuelstjean commented on #1083
I guess we are not using the same definitions, how can you have patch size
< block size? Should always be the opposite, as patch size runs inside
block size, and equality, as you pointed out, gives out identity since
there is nothing different to compare.

2016-06-23 9:22 GMT+02:00 Riddhish Bhalodia <notifications@github.com>:

[2016-06-23 08:09] riddhishb commented on #1083
@samuelstjean I am sorry that was patch_size = block_size = 1. Also according to me the patch does not mean inside the block only, yes the central voxels of the patches will be inside the patch but the other things can be outside, as pointed shown in the following figure taken from http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=4359947

<img width="540" alt="screen shot 2016-06-23 at 1 37

[2016-06-23 08:17] samuelstjean commented on #1083
So, isn't that definition only valid in the blockwise version? According to
section 2.1 of
http://scil.dinf.usherbrooke.ca/wp-content/papers/descoteaux-etal-miccai08.pdf
they use a different definition.

2016-06-23 10:09 GMT+02:00 Riddhish Bhalodia <notifications@github.com>:

[2016-06-23 08:28] riddhishb commented on #1083
When I read the paper (http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=4359947) I understood that it's for both the methods, but yeah the miccai08 paper uses a different definition. I think there is certain discrepancy between definitions, lets wait for others to comment on this, as of which one shall we use.
This is bit frustrating! :D

[2016-07-07 18:53] arokem opened #1095 "core.optimize Optimizer API"
The current API for the `Optimizer` object calls the optimization in the `__init__` method

I wonder whether we can improve performance a bit (for example, when optimizing multiple voxels with the same overall strategy, starting parameters, etc) by separating the initialization step and the optimization step.

For example, @sahmed95 has been using this object in #1058, and it is 60x slower than ca

[2016-07-09 17:24] sahmed95 commented on #1095
Here is a notebook with some time profiling. Seems like the opposite happens : https://github.com/sahmed95/notebooks/blob/optimize_profiling/profile.ipynb

The first test is a standard function. And the other is specific to ivim model. In order to run that you need to pull the ivim_dev branch from #1058

[code]

[2016-07-09 17:29] sahmed95 commented on #1095
I think the difference might be more pronounced when we are doing a multi-voxel fit, or it might not even be an issue. I 'll get back to this with some more tests. But in general, if there is no reason for running the optimization with the initialization then separating it might be better

[2016-07-15 14:53] #1061 closed

[2016-07-23 16:45] MarcCote opened #1099 "Needed PRs for merging recobundles into Dipy's master"
# Dipy PR's

This document describes the list of Pull Requests that needs to be merge into Dipy's Master. Except stated otherwise the up-to-date code can be found in the branch https://github.com/Garyfallidis/dipy/tree/recobundles.

_This issue is mainly for @Garyfallidis and me to track down which PRs still need to be made._
## Small
### dipy/viz/colormap.py:distinguishable_colormap

Generates co

[2016-07-30 00:26] matthew-brett commented on #441
Omar - sorry to return to this after such a long time.  Do you have these scripts anywhere on github, that I could look at?

I'm currently planning teaching for the coming term, and I'd like to give people a go with a standard registration pipeline - was thinking to start with your scripts.

[2016-07-30 17:49] omarocegueda commented on #441
Hi Matthew!,
sure!, my scripts are in this public repository:
https://github.com/omarocegueda/experiments/tree/master/experiments/registration

The first thing that needs to be done to run the experiments is to create a text file containing the full paths of the input images and ground truth segmentations. For example, for the LPBA40 dataset, I called my file "names_lpba40_full.txt", the first lin

[2016-07-31 01:14] matthew-brett commented on #441
Thanks - that's very helpful.

Are the affine and SyN default parameters the same as for some standard ANTS paper?   I'm wondering whether I can justify these defaults to skeptical students...

[2016-07-31 05:41] ghoshbishakh opened #1104 "restore_dti.py example does not work in python3"
[code]

[2016-07-31 17:35] #1104 closed

[2016-08-01 15:24] omarocegueda commented on #441
No problem!, I'm glad it was helpful! =)
I took de parameters for affine registration from a sample shell script I found in the ANTS repository. The parameters for SyN were kindly provided by Dr. Rohlfing in a private conversation:
[code]
After several years of studying this problem, I still feel like a beginner, and I think I would still feel the same if I studied it for another decade... or two.

[2016-08-02 11:59] riddhishb commented on #1073
@sahmed95 I think this is a nice idea. If this is being implemented, what I believe a useful next step would be is to have an attribute of number of shells (especially for big datas like HCP) to the gtab. I think currently we have to open the bval file and see, but if it was included in the gtab.info or have a separate attribute it would be cool.

[2016-08-02 18:57] matthew-brett commented on #441
Yes, I am sure you are right to be skeptical.  At least, I am skeptical too.

I didn't mean to imply that the students would think the parameters were 'correct', but only that they were in some (specified) sense 'standard'.  Do you think these parameters are in any sense 'standard' - if so - do you know how Dr Rohlfing came by them?

@binarybottle - do you have in mind some standard set of ANTS pa

[2016-08-02 22:41] #912 closed

[2016-08-03 02:21] binarybottle commented on #441
I would ask Brian Avants or Nick Tustison for guidance.  It might help to take a look at this article as well:

"A reproducible evaluation of ANTs similarity metric performance in brainimage registration"
https://mfr.osf.io/render?url=https://osf.io/z59ad/?action=download%26mode=render

[2016-08-08 20:28] jchoude commented on #351
I think this can be closed, except if @MrBago has something else to had? It was merged in pr #352

[2016-08-08 20:35] jchoude opened #1107 "Dipy.align.reslice: either swallow the scipy warning or rework to avoid it"
When calling dipy.align.reslice and use scipy 0.17.1, we get the following UserWarning:

[code]

This is caused by a change in behavior from Scipy, between 0.17.1 and 0.18, as explained [in Scipy's doc](http://docs.scipy.org/doc/scipy-0.18.0/reference/generated/scipy.ndimage.affine_transform.html).

For us, there won't be any consequence, since the behavior won't change, because we do not use the

[2016-08-10 03:33] arokem commented on #1107
Yes: I like option 2 better too. Presumably changing this line?

https://github.com/nipy/dipy/blob/master/dipy/align/reslice.py#L71

to the following?

    R = np.diag(new_zooms / zooms)

[2016-08-10 03:35] arokem commented on #351
Yup. Let's close this (reopen if needed).

[2016-08-10 03:35] #351 closed

[2016-08-30 22:54] sahmed95 commented on #1107
Changing to ```R = np.diag(new_zooms / zooms)``` fails the test
[code]

[2016-09-05 20:41] sahmed95 commented on #1107
@arokem Any comments on this ? Is changing test parameters okay or is ```R = np.diag(new_zooms / zooms) ``` not the correct way to go. @jchoude

[2016-09-07 16:17] salma1601 opened #1116 "failing to build the docs: issue with io.BufferedIOBase"
Hi dipy people,

Thanks for sharing such a great tool ! I am new to dipy and diffusion analysis, so I cloned the repo and succeded in running the first examples. However I am failing to build the docs with the `make html` command executed in the `doc` folder. Here is the full traceback

  File "tools/build_modref_templates.py", line 78, in <module>
    docwriter.write_api_docs(outdir)
  File "/hom

[2016-09-07 17:24] jchoude commented on #1116
This sometimes happen if your ```$PYTHONPATH``` is messed up, for example if something defines an ```io``` module before the system one.

Have a look at your  ```$PYTHONPATH``` by doing:
[code]
and make sure nothing suspicious is present.

[2016-09-07 18:19] salma1601 commented on #1116
You are right ! I had some misfortunate manipulations with `vtk` and added it to my .bashrc `$PYTHONPATH`.
Removing it solved the problem and building is well in place.

Thanks !

[2016-09-07 19:01] jchoude commented on #1116
Good! Happy that your issue is solved!

[2016-09-07 19:01] #1116 closed

[2016-09-09 04:43] mrjeffs opened #1117 ".eddy_rotated_bvecs file throws error from io.gradients read_bvals_bvecs function"
after using fsl eddy the resulting bvecs file ext becomes .eddy_rotated_bvecs
when read_bvals_bvecs reads the newly created .eddy_rotated_bvecs it tests the extension
if ext in ['.bvals', '.bval', '.bvecs', '.bvec', '.txt',  '']:
i modified it to
if ext in ['.bvals', '.bval', '.bvecs', '.bvec', '.txt', '.eddy_rotated_bvecs', '']:
and it seemed to work without error.

[2016-09-13 00:58] arokem commented on #1107
Yes. I must have gotten that wrong. @jchoude : what would you suggest here?

[2016-09-13 12:33] dimrozakis commented on #1107
Hey @arokem & @sahmed95.

`R` used to be a diagonal array. I changed it to a single dimensional array in https://github.com/nipy/dipy/pull/757/commits/b6fc887d4309f7bbd76ff10c20b86953de708bde. The reason for that, as explained in the commit message and in [scipy's docs](http://docs.scipy.org/doc/scipy-0.18.0/reference/generated/scipy.ndimage.affine_transform.html) is:

So I would suggest against c

[2016-09-14 08:54] blandeau opened #1118 "pip install dipy failing on my windows"
Hi,

I am trying to install dipy on windows  following the installation instructions but `pip install dipy` throws the following error

Could you please help me? Thanks

[2016-09-14 19:35] arokem commented on #1118
Following:
http://stackoverflow.com/questions/28142839/pip-install-numpy-python-2-7-fails-with-errorcode-1

Do you have a 'pip.log' file somewhere (presumably in your home directory)?

Does it have a similar message about "unable to find vcvarsall.bat" towards
the end? It might mean that you need a compiler.

Might be helpful to know what version of Windows and what version of Python
you are doing

[2016-09-16 01:00] arokem commented on #1083
Looks like this was resolved in #1088, but feel free to reopen if this is still an issue.

[2016-09-16 01:00] #1083 closed

[2016-09-16 01:04] arokem opened #1119 "Buildbots failing with workflow merge"
I think the merge of #1087 causes the following buildbot failures (both the same):

http://nipy.bic.berkeley.edu/builders/dipy-bdist-whl-3.3/builds/41/steps/shell_10/logs/stdio
http://nipy.bic.berkeley.edu/builders/dipy-bdist-whl-2.7/builds/43/steps/shell_10/logs/stdio

[2016-09-16 12:13] matthieudumont commented on #1119
WIll look into it

[2016-09-16 13:19] matthieudumont commented on #1119
Does the build only fail on osx?

It might have to do with os.path.getmtime not working the same on osx.

[2016-09-16 14:15] arokem commented on #1119
Thanks for taking a look! Indeed, it seems to be an OSX thing. You can see the status of all the bots here:

http://nipy.bic.berkeley.edu/waterfall

Also, it is failing locally on my laptop (a mac). I'll try to see if I can find a fix on my setup.

[2016-09-16 15:29] arokem commented on #1119
https://github.com/nipy/dipy/pull/1120

[2016-10-05 00:37] Garyfallidis commented on #1117
Okay good. Can you make a pull request @mrjeffs with that addition? It is a bit strange to change the end of the filename in this way. But I think we should support it.

[2016-10-05 23:19] mrjeffs commented on #1117
great thanks. will do. FSL eddy chooses not to overwrite the orig bvecs when it recalculates vectors.

[2016-10-06 00:35] Garyfallidis commented on #1117
They should have done something like filename_eddy_rotated.bvecs
Anyway... :)

[2016-10-06 16:34] matthew-brett opened #1127 "Windows buildbot failures after ivim_linear merge"
The buildbot Windows runs are all failing with errors like:

[code]

http://nipy.bic.berkeley.edu/builders/dipy-bdist-whl-3.3/builds/41/steps/shell_10/logs/stdio

See: http://nipy.bic.berkeley.edu/builders

[2016-10-08 08:15] acterhd opened #1128 "Support for non linear denoise?"
Hello. Will support of this method?
https://benedikt-bitterli.me/nfor/

[2016-10-10 13:27] ghoshbishakh commented on #973
closed through #974

[2016-10-10 13:27] #973 closed

[2016-10-10 13:34] ghoshbishakh commented on #394
closed through #569

[2016-10-10 13:34] #394 closed

[2016-10-13 20:09] Garyfallidis commented on #1128
Hi @acterhd no plans yet. Have you tried this method with medical images?

[2016-10-14 12:55] samuelstjean opened #1131 "new non_local_means module seems to disregard 3D array of noise standard deviation"
So @mdesco seems to have some problem with the denoising module (we are still investigating what's happening ), but I noticed so far the new nlmean replacement seems to discard the 3D information. This code

[code]

will strip out the 3D array passed and extract a single value from voxel (0,0,0,0) in case a 3D array is passed. If, say, the estimation was done on a datasets with a masked background

[2016-10-15 20:14] MarcCote commented on #759
I saw that we have a Travis build that is supposed to use VTK6 but Ubuntu 12.04 "precise", the one currently used by Travis, doesn't offer the package `python-vtk6`. See
https://travis-ci.org/nipy/dipy/jobs/167835093#L399

This means tests related to VTK are skipped in that build. Maybe we should drop that specific Travis build (speed up the testing) or try the Travis's Trusty beta environment (ht

[2016-10-15 20:56] Garyfallidis commented on #759
A generic comment. Can you check again the PR for length limit? I believe you go beyond 79 characters quite a few times.

[2016-10-15 21:54] Garyfallidis commented on #759
I think what you suggest is a good idea. +1

[2016-10-15 22:06] MarcCote commented on #759
I'm not sure if we can use Trusty beta environment only for a specific build (i.e. the one testing VTK6). That might impact the other builds we have. The easiest solution would be to drop the build with Python-vtk6.

[2016-10-18 17:08] mrjeffs opened #1133 "restore throws scipy error"
when i tested restore on a simple dataset it fails with the following error in fitting:

/home/toddr/Software/dipy/dipy/reconst/dti.py:1463: RuntimeWarning: overflow encountered in exp
  y = np.exp(np.dot(design_matrix, tensor))
/home/toddr/Software/dipy/dipy/reconst/dti.py:1472: RuntimeWarning: overflow encountered in square
  se = residuals *\* 2
/home/toddr/Software/anaconda2/lib/python2.7/site

[2016-10-18 17:10] arokem commented on #1133
It looks like what would happen if a lot of your measurements get thrown out as outliers. How many directions of measurement do you have? Any chance you could share a minimal data-set with me, so that I can debug?

[2016-10-19 04:41] mrjeffs commented on #1133
it is an old set with 1 b0 and 15 directions. is that below this implementation's minimum. camino's restore works nicely. i can email you a zip file.
tangentially: is there a tensor median filter method?

[2016-10-19 14:52] arokem commented on #1133
Yeah - with few directions and relatively small sigma, you might end up
rejecting so many directions that you end up with less measurements than
parameters. Feel free to email me the data, if you want me to take a look.

What is a tensor median filter method? Is it something like the median
filter described in the following link?

http://scikit-image.org/docs/dev/auto_examples/applications/plot_ra

[2016-10-19 18:23] mrjeffs commented on #1133
ah, ok. i wonder why camino doesn't have this problem? higher rejection threshold?
wrt median filter seems yes scikit median filter would work with r=1 (disk(1)?). is there a method/function in dipy to access the numpy array of the tensor for filtering then make that the array that calculates fa etc?

[2016-10-19 18:51] arokem commented on #1133
When you say "the numpy array of the tensor" what exactly do you mean?

The TensorFit object has a variety of attributes that you can access and
filter in this way: https://github.com/nipy/dipy/blob/master/dipy/reconst/
dti.py#L835-L1134

I'm not sure about the differences between our implementation and Camino's.
Our implementation follows the Vistasoft implementation rather closely.

On Wed, Oct

[2016-10-19 23:35] mrjeffs commented on #1133
its my lack of python mojo causing me to not see a direct way to save via nibabel or filter via scikit the fitted tensor. did you get the files after i granted acccess?

[2016-10-20 00:24] arokem commented on #1133
If by "fitted tensor", you mean the 3x3 quadratic form of the tensor, this
should save it to file:

   nib.save(nib.Nifti1Image(tensor_fit.quadratic_form, affine), '/path/to/
filename.nii.gz')

I did get the file -- thanks. I will take a look.

On Wed, Oct 19, 2016 at 4:35 PM, mrjeffs <notifications@github.com> wrote:

[2016-10-25 21:28] fmorency commented on #834
+1

[2016-10-26 02:59] jchoude commented on #1107
Sorry for the delay.

I don't mind leaving it as a 1D array. However, what was not clear to me was the potential difference in behavior between Scipy 0.17.1 and 0.18 when supplying a 1D array, exactly in the same doc that @dimrozakis pointed out.

Currently, our behavior is consistent, since the offset that we pass is always np.zeros(3,). We might simply need to ensure that we don't change the off

[2016-11-01 00:16] arokem opened #1138 "A few broken builds"
With errors of this kind:

http://nipy.bic.berkeley.edu/builders/dipy-bdist32-27/builds/378/steps/shell_9/logs/stdio
http://nipy.bic.berkeley.edu/builders/dipy-bdist32-33/builds/283/steps/shell_9/logs/stdio
http://nipy.bic.berkeley.edu/builders/dipy-bdist32-34/builds/287/steps/shell_9/logs/stdio

I *think* that they originated from this PR: https://github.com/nipy/dipy/pull/1092.

@nilgoyyou, @Gar

[2016-11-01 17:59] Garyfallidis opened #1139 "The shebang again! Python: bad interpreter: No such file or directory"
I am reporting the following problem using Ubuntu 16.04 LTS with the scientific python libraries installed using apt-get install. Dipy and nibabel were installed locally by adding their directories to the PYTHONPATH.
Also the dipy/bin directory was added to the actual PATH in .bashrc and sourced. Dipy and nibabel are in their master branch.

Then I tried to run any of the new command lines e.g.
di

[2016-11-01 18:02] matthew-brett commented on #1139
I think there's no sensible way of supporting ordinary pip install and doing the PYTHONPATH etc way that you are using here.   I'm sure you know, but the right way of doing what you are doing here is:

[code]

[2016-11-01 18:04] ghoshbishakh commented on #1139
I think as it was discussed #!python works well with pip but not when
installing inplace and linking with PYTHONPATH
I faced similar problem with #! python

On Nov 1, 2016 11:29 PM, "Eleftherios Garyfallidis" <
notifications@github.com> wrote:

[2016-11-01 18:14] jchoude commented on #1139
I tend to agree with @matthew-brett . Personnally, for development purposes, I just create a new venv, pip install all the libs to the venv, and call the bin scripts with the full path. It might not be the most optimal way, but it has always worked with the classical /usr/bin/env python.

The other thing to think is that our developer workflow is certainly not the classical enduser workflow. Most

[2016-11-01 18:28] matthew-brett commented on #1139
The command lines should just work if you install with `pip install -e .`  Here's me making a new virtualenv:

[code]

[2016-11-01 18:35] Garyfallidis commented on #1139
Did try this and it didn't work. I am not on a virtualenv. So, if I don't add anything in my PYTHONPATH and I go and run this command (pip install -e .) in the dipy directory it fails with permission issues. It is asking to install nibabel in dist-packages. Which is something that I clearly do not want. I want both dipy and nibabel to be installed in my home directory.
[code]

[2016-11-01 18:39] matthew-brett commented on #1139
Right - you should be doing a user install if you don't want to work in a virtualenv:

[code]

[2016-11-01 18:41] matthew-brett commented on #1139
This page is a little out of date (it predates Linux wheels), but still somewhat relevant:

https://matthew-brett.github.io/pydagogue/installing_on_debian.html

[2016-11-01 19:10] Garyfallidis commented on #1139
Okay what pip install -e does is it will go and add the project path at /usr/local/lib/python2.7/dist-packages/easy-install.pth

[2016-11-01 19:15] matthew-brett commented on #1139
`pip install --user -e .` - installs the equivalent path link in your user directory tree.

[2016-11-01 19:16] Garyfallidis commented on #1139
If you don't provide ```--user``` then you cannot really uninstall it automatically. You have to go and change the .pth file in dist-packages. If you do provide ```--user``` then you can uninstall as well.

[2016-11-01 19:22] Garyfallidis commented on #1139
But if you do provide the `--user` flag it goes and puts the command lines under .local That is really strange too. That means that every time that I need to switch to a different branch I will have to rerun the command `pip install --user -e .`  after having uninstalled the previous version. Correct @matthew-brett ?

[2016-11-01 19:42] Garyfallidis commented on #1139
Even if we consider that there is an alternative way using pip to access the command lines. Still it looks like a bug to me that the shebang `#!python` does not work correctly although `which python` shows the correct path. So, if this is a bug where should I submit an issue? In python or debian? Or both? Any ideas? By the way in Ubuntu 14.04 I didn't have this problem. I think.

[2016-11-01 19:47] matthew-brett commented on #1139
Have a look at the files generated by `pip install --user -e .` in `~/local/bin` - they point to the source files in the development directory.  So I think you can change branches and get the newest versions of the scripts, with no problem.  If there's a new script, I guess you'll have to do another `pip install --user -e .`.

[2016-11-01 20:26] Garyfallidis commented on #1139
Yes, this is what I mean too. You need to reinstall only when new scripts arrive. Not all the time. Which is not that bad. But still PYTHONPATH was easy to explain to people especially in workshops with psychologist that code a bit because they are so used with playing with environment variables. Now we will have to be a bit more fancy I suppose. Finally, if you think that this (`#!python not work

[2016-11-01 20:58] matthew-brett commented on #1139
For the bug report - see: http://unix.stackexchange.com/questions/11907/shebang-and-path#11910 - so no, I don't think it's a bug.

I do think we should avoid PYTHONPATH for new user / developers - pip is the future - and so the default should be

[code]

[2016-11-03 14:57] skoudoro opened #1142 "pytables version and streamlines_format.py example"
I am still playing with dipy examples and i got a problem with streamlines_format.py.  (dipy has been installed on new environnement via conda install on OS X 10.11)

I got an import error after running this command (means pytables dependency miss on conda package ?) :
`from dipy.io.dpy import Dpy ; dpw = Dpy('fornix.dpy', 'w')`

So I install pytables (last version - 3.3.0), and now i get the foll

[2016-11-03 15:03] Garyfallidis commented on #1142
Yes, please do. Thank you @skoudoro

[2016-11-03 16:21] MarcCote opened #1144 "High execution time for tests"
I notice it is taking more than 20 minutes to execute all the tests in Dipy. In my opinion, tests should be concise and efficient. So, I think we should reduce Dipy's overall testing time.

I've run nose-timer (https://pypi.python.org/pypi/nose-timer) to have an idea of which tests are taking the most time. Here is the list top 10 slowest tests:
[code]

I understand that for some tests, it can be

[2016-11-03 17:10] Garyfallidis commented on #1144
For most of them there is no much we can do.  Some of the methods take time to setup or they need many iterations. Or they need to wait for a bit to start generating threads for example when openmp is used.
About the `test_custom_interactor_style_events` can you reduce it for example at 5s?

[2016-11-03 17:53] arokem commented on #1144
We should probably decorate these tests as [slow](https://docs.scipy.org/doc/numpy/reference/generated/numpy.testing.decorators.slow.html) and then when you run the tests on your machine, you can ask to skip these (they'll still run on travis, if we configure it that way)

[2016-11-03 17:55] arokem commented on #1142
We should add pytables as a conda dependency: https://github.com/conda-forge/dipy-feedstock/issues/4

[2016-11-04 18:11] RafaelNH commented on #827
Well - since the free water DTI is already implemented and #835 is already merged, I think we can close this issue, right @arokem and @etpeterson?

[2016-11-04 18:13] arokem commented on #827
@etpeterson : have you had a chance to try this out? Would be interesting to hear how it works for you.

[2016-11-04 18:40] etpeterson commented on #827
I haven't tried any recent version but as of maybe a few months ago it was working pretty well. I was doing a little cleanup afterwards but I think @RafaelNH improved it since then so it may not even need that anymore.

[2016-11-04 22:45] Garyfallidis opened #1145 "DKI_signal should be dki_signal in dipy.sims.voxel"
DKI_signal function should be dki_signal
No caps in function names please. Thanks!

[2016-11-05 00:08] Garyfallidis opened #1146 "Installation instructions for windows need to be updated"
To say that you need to have visual studio together with anaconda to make everything work. Except if you use the dipy conda binaries. @arokem we need to add pytables on that conda right?

[2016-11-05 00:11] Garyfallidis commented on #1146
Also we need to check if sklearn is available in anaconda by default and put a note for cvxopt (that is not available) but there is a work around. Using conda install -c clg_boar cvxopt

[2016-11-07 00:24] arokem commented on #1146
You don't need Visual Studio if you install from conda forge. That's the whole idea - it gets compiled for you on Appveyor (assuming that works...).

It looks like `cvxopt` is also available through conda-forge: https://github.com/conda-forge/cvxopt-feedstock, so that's not a problem either.

As for whether some package (e.g. scikit-learn) is installed per default: I think it doesn't matter. Conda

[2016-11-07 00:29] Garyfallidis commented on #1146
Yes, I agree. But we can put something for the people developing. That they need visual studio.

[2016-11-07 00:37] arokem commented on #1146
How's this?

https://github.com/nipy/dipy/pull/1052/commits/96c2e4126f84313d014626e642303887e78c3cca

On Sun, Nov 6, 2016 at 4:29 PM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2016-11-08 17:49] RafaelNH commented on #1145
@Garyfallidis! Sorry for my late reply - I sort this out after the ISMRM deadline! Sounds good?

[2016-11-10 00:05] mrjeffs commented on #1133
ok ariel, thanks, what i am looking for is the upper triangle 6 vols of the tensor as in:
Dxx,Dxy,Dxz,Dyy,Dyz,Dzz. your design matrix is:
design_matrix[j, :] = (Bxx, Byy, Bzz, Bxy, Bxz, Byz, dummy).
you have defined 2 slicing variables for the lower triangle derived from the quadratic form:
_lt_rows = np.array([0, 1, 1, 2, 2, 2])
_lt_cols = np.array([0, 0, 1, 0, 1, 2])
tensor_fit.quadratic_form[..

[2016-11-11 19:16] etpeterson opened #1148 "Actual S0 for DTI data"
Hey @arokem didn't you have some code to calculate the actual b=0 intercept from the DTI fit? Did that make it into the repo somewhere? I want to compare IVIM and DTI fits but I need the actual intercept for the DTI fit.

[2016-11-11 22:12] arokem commented on #1148
It's in this unmerged PR:https://github.com/nipy/dipy/pull/1036

We decided not to merge it, because it would incur a performance regression. It occurs to me that we might still want to integrate that into our code base, even if we don't require it be used in every case that DTI is fit.

[2016-11-11 23:43] etpeterson commented on #1148
Thanks, that explains why I couldn't find it.

For context I was going to try to fit the DTI and IVIM models and then compare them to see which regions has a better quality fit, and I also wanted to implement a faster double linear IVIM fit using the DTI routines. But in both cases I need the S0 value. I ended up using polyfit like the IVIM code does but I think it makes sense to leverage the DTI

[2016-11-14 18:40] mrjeffs commented on #1133
i tested _ut_rows and _ut_cols above and they match the fsl tensors from dtifit.

[2016-11-15 15:43] Garyfallidis commented on #1145
thanks

[2016-11-15 15:43] #1145 closed

[2016-11-16 17:01] nilgoyyou commented on #1138
I think it's related to the problem described [here](http://cython.readthedocs.io/en/latest/src/tutorial/external.html#dynamic-linking): "The libc math library is special in that it is not linked by default on some Unix-like systems, such as Linux."

I reproduced the problem in Windows.
- I tried adding the `libraries=["m"]` parameter but `m.lib` doesn't exist on Windows. Or `math.lib`, or `cmath.

[2016-11-16 17:59] matthew-brett commented on #1138
This may be relevant : http://stackoverflow.com/questions/19234452/visual-c-express-fmin-and-fmax-identifier-not-found#19234517

[code]

Maybe you could do something like [this](http://powdertoy.co.uk/Discussions/Thread/View.html?Thread=8877&PageNum=0#Message=140656) in `src/dpy_math.h`:

[code]

Then in the pyx file:

[code]

or similar.  @omarocegueda may better remember our struggles on this ki

[2016-11-19 23:03] matthew-brett commented on #441
Hi Omar - sorry to resurrect this thread, but I am having some difficulty following your registration scripts.  How would I compile a dipy optimizer that matches:

[code]

?

[2016-11-23 00:29] Paolopost opened #1152 "nan gfa and odf values when mask includes voxels with 0 dwi signal"
Processing HCP data I faced with the following use case: the tissue segmentation computed from T1 included some voxels where there was no dwi signal. The fit of the shore model (inside peaks_from_model) raises an exception for the 'nan' odf while it doesn't for gfa.
My usecase was fitting the shore model  multishell data using DIPY and the tissue segmentation was with FAST.

[2016-11-25 12:45] mdesco opened #1154 "[Bug] connectivity matrix image in streamline_tools example"
The connectivity.png figure in the example shows three subfigures (2 rtop figures from EAP estimation and the connectivity matrix with "msd"  over it). See here.

I don't know where this comes from but is wrong. Only the connectivity matrix should be displayed. I have looked at the code and it seems right...

<img width="698" alt="screenshot 2016-11-25 13 42 54" src="https://cloud.githubuserconten

[2016-11-25 19:11] arokem commented on #1154
Thanks for reporting! Looks like we have an issue with cleaning up figures between examples. My theory is that this was introduced in this commit: https://github.com/nipy/dipy/commit/55166f71f6626f5e5f0acb79ace31efab1bea6cd. I think that `plt.close('all')` might have been there to do the cleanup after each example (and was removed in that commit). @Garyfallidis : WDYT?

[2016-11-28 19:00] Garyfallidis commented on #1154
I can replicate the issue. Let me try it and will get back to you.

[2016-11-30 20:40] Garyfallidis commented on #1154
Thanks for reporting @mdesco !!
It should be good now. See here
http://nipy.org/dipy/examples_built/streamline_tools.html#example-streamline-tools

[2016-11-30 20:40] #1154 closed

[2016-12-01 03:00] arokem commented on #1148
Sorry for the slowness here. I am not sure that I understand that last sentence. Can you paraphrase?

[2016-12-01 16:57] etpeterson commented on #1148
Basically I'm wondering about the advantages or disadvantages of using the DTI fit compared with polyfit. I'm leaning towards DTI because it already has a lot of options but if it's to slow or if the S0 isn't going to be included then maybe polyfit is the better choice. Do you have thoughts/comments on the plusses or minuses for either method?

[2016-12-05 03:41] arokem commented on #1148
DTI is going to be rather fast, compared to doing polyfit in every voxel, because you can fit it in one fell swoop for your entire volume. You can infer S0 either from the fit, or (as we do in our prediction) from the measured S0 volumes (assuming you have measured S0).

[2016-12-05 12:36] RafaelNH commented on #1148
well, for @etpeterson's mentioned aim, you need to infer S0 from the DTI's fit.

Some months ago I had a meeting with @arokem and @Garyfallidis to discuss how to incorporate the S0 fit in DTI's fit class instance. My first suggestion was to add S0 as a model parameter (e.g. adding it as the last element of model_params). However, since this small change will mess with all other Dipy models that de

[2016-12-05 19:57] etpeterson commented on #1148
Thanks guys. I think I'd like to use DTI but I do need the S0 from the fit so it looks like I'm bringing this up again.

I see S0 is calculated in at least OLS and WLS but discarded so maybe a flag to save it? I'm guessing you already thought of this, but maybe as an optional input to TensorFit?

[2016-12-06 05:51] arokem commented on #1148
I'd support that, assuming there is no performance cost to doing that.

You can see how I did it in that closed PR - that was too costly. If you
can find another way, that would be great.

On Mon, Dec 5, 2016 at 11:57 AM, Eric Peterson <notifications@github.com>
wrote:

[2016-12-06 17:37] etpeterson commented on #1148
OK, sounds good to me. I'll explore a little and see if what I'm envisioning is possible.

[2016-12-07 00:15] sahmed95 commented on #1148
Talking about measuring performance change over time, I recently came across [airspeed](http://conference.scipy.org/scipy2014/schedule/presentation/1693/) - a tool for benchmarking Python software projects over their lifetime. From the Scipy talk :

@arokem Is this something that can be helpful while tracking performance regression ? I can open a new issue if this seems to be something we would li

[2016-12-07 21:53] etpeterson commented on #1148
Alright, I've had a productive few days and managed to get this together: https://github.com/etpeterson/dipy

It seems like it's working and the speed is similar, only increasing by 50ms for a total fit time around 3s but the size does increase from about 1.56GB to 1.7GB. But that's just with the option turned off vs turned on whereas the real test is vs master as well.

I still need to add more t

[2016-12-07 22:09] arokem commented on #1148
Sounds promising! A PR would be helpful, so that we can see what's changed.

On Wed, Dec 7, 2016 at 1:53 PM, Eric Peterson <notifications@github.com>
wrote:

[2016-12-08 11:17] RafaelNH commented on #1148
Yes, please do a PR (or two PRs - one for DTI and another for IVIM)! Would love to review it!

[2016-12-10 01:22] kesshijordan opened #1161 "fvtk volume doesn't handle affine (crashes notebook)"
When I try to use the fvtk volume function without an affine, it works... with an affine, however, I get the error that it needs scalar data to volume render, and the notebook crashes. See toy example, below.

ERROR: In ../Rendering/Core/vtkVolume.cxx, line 720
vtkVolume (0x3ce14e0): Need scalar data to volume render

"The kernel appears to have died. It will restart automatically"

from dipy.viz

[2016-12-10 01:40] Garyfallidis commented on #1161
Yes, it makes sense. This is an old function that needs to be refactored. Thanks for reporting!

[2016-12-10 02:42] kesshijordan commented on #1161
Is there anything else that displays roi's? I can't give the contour function an affine... but i was going to try to modify that to get something working.

Thanks!
Kesshi

[2016-12-11 22:49] kesshijordan commented on #1161
I combined the contour function in fvtk.py and the slicer code from actor.py, and it now works to display an roi using the affine. I haven't written tests for it yet but I can put it up as a work-in-progress.

[2016-12-11 23:18] Garyfallidis commented on #1161
That is excellent news @kesshijordan ! :+1:

[2016-12-11 23:50] kesshijordan commented on #1161
Thanks, @Garyfallidis. I created a pull request for this  #1163

[2016-12-16 20:45] arokem commented on #1148
I guess I can close this one. Please reopen if this still needs to be here.

[2016-12-16 20:45] #1148 closed

[2016-12-16 20:46] arokem commented on #1138
This is addressed in #1151

[2016-12-16 20:46] #1138 closed

[2016-12-16 20:48] arokem commented on #1131
Doesn't this test address this use-case? https://github.com/nipy/dipy/blob/master/dipy/denoise/tests/test_non_local_means.py#L17-L28

[2016-12-16 20:49] arokem commented on #1128
Interesting, but seems out of scope for now. Closing.

[2016-12-16 20:49] #1128 closed

[2016-12-16 20:49] arokem commented on #1127
This was fixed in #1129

[2016-12-16 20:49] #1127 closed

[2016-12-16 20:49] arokem commented on #1119
Looks like this was fixed in #1120

[2016-12-16 20:49] #1119 closed

[2016-12-16 20:50] arokem commented on #1118
No further information. Closing.

[2016-12-16 20:50] #1118 closed

[2016-12-16 20:51] arokem commented on #1040
Looks like this has been resolved. Closing

[2016-12-16 20:51] #1040 closed

[2016-12-16 20:51] arokem commented on #940
Closed through #1075

[2016-12-16 20:51] #940 closed

[2016-12-17 00:18] samuelstjean commented on #1131
No, actually this line in 4D

https://github.com/nipy/dipy/blob/master/dipy/denoise/non_local_means.py#L75

and this line in 3D

https://github.com/nipy/dipy/blob/master/dipy/denoise/non_local_means.py#L61

trash out completely the 3D array and pick the voxel 0,0,0,0 no matter what it seems, which is pretty bad if it really does this indiscriminately. It would mean that for any 3D array, it wholly

[2016-12-17 06:19] arokem opened #1167 "Potential replacement for CVXOPT?"
https://github.com/biosustain/optlang

Released under Apache license.

[2017-01-13 21:27] matthew-brett opened #1169 "Time for a new release - scipy 0.18?"
I just set of a wheel build, and noticed that the current release of dipy errors out with the current release of scipy:

[code]

https://travis-ci.org/MacPython/dipy-wheels/jobs/191741388#L413

Time for a new release?

[2017-01-14 05:31] arokem commented on #1169
Past time for a release, for sure.

If we want to handle different versions, we could (should?) do what we did here:

https://github.com/nipy/dipy/pull/1166

[2017-01-21 16:34] vibhatha opened #1170 "Importing vtk with dipy"
I tried to execute the code in the following link.
https://github.com/nipy/dipy/blob/master/doc/examples/viz_surfaces.py

But I got the following error, when I was importing the packages.

I used pip to install all the requirements and I am working with Python 2.7.12 with Anaconda2.

Python 2.7.12 |Anaconda 4.2.0 (64-bit)| (default, Jun 29 2016, 11:07:13) [MSC v.1500 64 bit (AMD64)] on win32
Type

[2017-01-21 17:02] arokem commented on #1170
`conda install vtk`

should do it

On Sat, Jan 21, 2017 at 8:34 AM, Vibhatha Lakmal Abeykoon <
notifications@github.com> wrote:

[2017-01-21 17:03] vibhatha commented on #1170
I already did it. I am having this issue, when importing. I even updated
it.

With Regards,
Vibhatha Abeykoon

On Sat, Jan 21, 2017 at 12:02 PM, Ariel Rokem <notifications@github.com>
wrote:

[2017-01-21 17:23] MarcCote commented on #1170
If in a Python console `import vtk` doesn't work that would suggest the problem is related to your conda installation.

[2017-01-21 17:23] vibhatha commented on #1170
import vtk works.

With Regards,
Vibhatha Abeykoon

On Sat, Jan 21, 2017 at 12:23 PM, Marc-Alexandre Côté <
notifications@github.com> wrote:

[2017-01-21 17:27] Garyfallidis commented on #1170
What is likely happening is that our setup.py is not updated with the new module dipy.io.vtk

[2017-01-21 17:28] vibhatha commented on #1170
Okay I understand it. How should we work on that ?

With Regards,
Vibhatha Abeykoon

On Sat, Jan 21, 2017 at 12:27 PM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2017-01-21 17:31] Garyfallidis commented on #1170
No, what I said is wrong. That would be the case if io.vtk was a folder.
You have multiple conflicting installations of DIPY @vibhatha
Write
[code]
and tell us what you get.

[2017-01-21 17:33] vibhatha commented on #1170
dipy.__version__
'0.11.0'

'C:\\Users\\vibha\\Anaconda2\\lib\\site-packages\\dipy\\__init__.pyc'

With Regards,
Vibhatha Abeykoon

On Sat, Jan 21, 2017 at 12:31 PM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2017-01-21 17:42] Garyfallidis commented on #1170
Yeah, you are using the release version.
This module (dipy.io.vtk) was added in the development version.
[code]
And then install the development version.
[code]

[2017-01-21 17:43] vibhatha commented on #1170
I will do this :)
Thanks a lot for helping me out.

With Regards,
Vibhatha Abeykoon

On Sat, Jan 21, 2017 at 12:42 PM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2017-01-21 17:43] Garyfallidis commented on #1170
No problem @vibhatha!
Thanks for asking!

[2017-01-21 17:44] vibhatha commented on #1170
Thanks again

With Regards,
Vibhatha Abeykoon

On Sat, Jan 21, 2017 at 12:43 PM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2017-01-23 01:56] vibhatha commented on #1170
I tried to run the code, after re-installing everything, but I am getting
the following error.

runfile('C:/Users/vibha/OneDrive/Documents/ISE/Semester 2/Image Processing
and Machine Learning/Assignments/Assignment 1/cube_plot.py',
wdir='C:/Users/vibha/OneDrive/Documents/ISE/Semester 2/Image Processing and
Machine Learning/Assignments/Assignment 1')
Traceback (most recent call last):

  File "<ipy

[2017-01-24 15:56] #1142 closed

[2017-01-26 16:45] maryamafzali opened #1172 "finding PA (Propagator Anisotropy)"
Hi,

I’m interested to find PA (Propagator Anisotropy) using MAP-MRI. I couldn’t find it in your code. Would you please help me? Also I have a question about the estimation of the coefficients using MAP-MRI method (Ozarslan, et al.). Did you consider the constraint on the integral of the probability?

Thank you very much.

Best,
Maryam

[2017-02-03 14:44] salma1601 opened #1175 "RESTORE after nonlocal means denoising"
Hi Dipy experts,

Is it possible use the 'RESTORE' fit_method for DTI reconstruction after having denoised my DWI with non-local means ? Or is advised not to denoise the data ?

[2017-02-06 16:06] jchoude commented on #1169
Also, the interpolation code in dipy.tracking.interpolation errors out when using Numpy 1.12, because the Deprecation Warning was finally changed to an Error (see https://docs.scipy.org/doc/numpy/release.html#deprecationwarning-to-error)

Do we have a buildbot using the 1.12 release yet?

[2017-02-06 16:09] jchoude commented on #728
Has anyone touched this?

[2017-02-06 16:09] jchoude commented on #1169
Also, my previous message could also be linked with https://github.com/nipy/dipy/issues/728

[2017-02-06 16:19] arokem commented on #1169
Could this be related? http://nipy.bic.berkeley.edu/builders/dipy-bdist32-27/builds/401/steps/shell_12/logs/stdio

[2017-02-06 16:24] jchoude commented on #1169
No, you would get an error like:

[code]

Casting the index to an int fixes the issue. I'm testing the code right now.

[2017-02-06 16:30] jchoude opened #1176 "Dipy.tracking.local.interpolation.nearestneighbor_interpolate raises when used with Numpy 1.12"
When trying to call that function with a float / double valued index, Numpy 1.12 rejects the indexing.

This error was a Deprecation Warning before.

On a side note: this function never seems to be used internally, but we use it in other projects. I guess this adds weight to https://github.com/nipy/dipy/issues/728

[2017-02-06 16:37] arokem commented on #1169
Gotcha - yes. @matthew-brett might be able to comment on the versions of
dependencies on those bots.

Just checking: is this error only happening on Python 2.7? I believe it
might be.

And while we're at it, we should probably decomission the bots running 2.6 (
http://nipy.bic.berkeley.edu/builders/dipy-py2.6-32, http:/
/nipy.bic.berkeley.edu/builders/dipy-py2.6, ). We dropped support  for 2.6
in

[2017-02-06 16:39] jchoude commented on #1169
I'm not sure if it is happening only on 2.7. It was reported to me by a end user. I don't have his exact setup to replicate, but on my tests on 2.7 it fixes the issue.

For my knowledge, what would cause the behavior to differ for Python >= 3?

[2017-02-06 16:41] matthew-brett commented on #1169
Sorry -  I should have renamed them - but I believe all the 'py26' bots are in fact using Python 2.7.

[2017-02-06 17:23] arokem commented on #1169
@jchoude : seems like I am wrong. I just confirmed that this would fail with that error message on both Python 2.7 and 3.5.

@matthew-brett : thanks!

[2017-02-08 16:38] jchoude commented on #1176
Fixed in PR #1177

[2017-02-08 16:38] #1176 closed

[2017-02-15 22:44] arokem commented on #1167
Another one, much more similar to cvxopt (I think), also licensed under Apache:

http://www.cvxpy.org/en/latest/license/index.html

[2017-02-16 07:52] samuelstjean opened #1178 "Recheck indexing with nlmeans as some of it is indexing wrong positions"
There are some inconsistencies, I guess they did not cause much problem with the default settings, but the indexing is incorrect for the patch comparison.

For example, this one indexes by j,i,k, and calls the corresponding function later on with i,j,k, making the indexes not match.

main loop
https://github.com/nipy/dipy/blob/master/dipy/denoise/nlmeans_block.pyx#L414

inner calls
https://github.

[2017-02-16 07:58] samuelstjean commented on #1175
That's a good question, I never tried residual noise estimation after a first pass. Since you need to supply some estimate of the variance to it to find the outliers, you can't use the original value you supplied to nlmeans nor use any of the two functions I know about to estimate noise.

I'm just tagging along for another answer, I am also curious since I never thought about this case, I only use

[2017-02-17 01:53] arokem opened #1179 "Automate workflow generation"
See: https://github.com/nipy/dipy/pull/1123/files#r89196846

[2017-02-17 02:41] Garyfallidis commented on #1167
So many possibilities! How nice!

[2017-02-17 02:41] #1139 closed

[2017-02-17 03:19] Garyfallidis commented on #1172
@rutgerfick and @maurozucchelli I need your attention in this issue report. @maryamafzali is looking closely to our mapmri implementations and realized that we do not have the PA map. Can you please get back to her and try to resolve the issue?

[2017-02-20 17:22] salma1601 commented on #1175
Well I am doing restore -> denoise -> EstimateResponseSH -> CSD -> StreamlineTractography
and it looks like my streamlines are better with the denoise step than without, but I was concerned about using the Tensor fitting outputs in the pipeline together with a denoised DWI, since these outputs are not generated with the denoised DWI

[2017-02-20 17:24] samuelstjean commented on #1175
Not sure I follow, you mean you run restore -> predict back the signal -> nlmeans then the rest?

[2017-02-21 13:22] salma1601 commented on #1175
I mean that in the inputs of EstimateResponseSH I am giving as inputs
- denoised DWI
- evals from RESTORE fitted on the **original non denoised ** image.
and I am not sure if this makes sense.
Sorry I am new to dipy and diffusion and I am not aware if my question makes sense. I'am using dipy interfaced by **nipype** and trying to make a whole cached pipeline but I am afraid of passing inputs that

[2017-02-24 17:52] salma1601 opened #1181 "peaks warning while CSD reconstructing"
Hi Dipy experts,

I systemtically have a warning when I FIT `ConstrainedSphericalDeconvModel` to my subjects data.
Is it something expected ?

  return np.sqrt(numer / denom)

Thanks !

[2017-02-26 10:03] salma1601 opened #1182 "CSD vs CSA"
Dear Dipy experts,

I have data with only 30 gradient directions not regularly distributed on the sphere. I compared the tracks computed both with CSD (`recursive_response`, `auto_response`) and CSA and it looks like for all my subjects CSD with recursive response gives the best results (just visually). I am a little surprised by my results since it is said in the doc that CSD _is mainly useful wi

[2017-02-26 17:18] arokem commented on #1182
Hi! This depends on so many different aspects of the data and the analysis that it is really hard to speculate about this, without empirical testing of the specific case. I think that the best way to know whether your resulting streamlines make sense is to compare them with the original data you collected. We have a method for doing that in http://nipy.org/dipy/examples_built/linear_fascicle_evalu

[2017-02-26 18:13] rutgerfick commented on #1172
Hi Maryam,

I haven't included the Propagator Anisotropy metric in dipy yet.
I already have it implemented locally, so hopefully I'll have the time to share it with you soon (it's a bit more tricky to implement since you need to combine isotropic and anisotropic fitting of the basis).

The integral contraint on the probability is considered in all cases (using both laplacian and/or positivity cons

[2017-02-26 18:56] maryamafzali commented on #1172
Hi Rutger,

Thank you very much for your response and all yourexplanations.

Best Regards,

Maryam

 

      From: Rutger Fick <notifications@github.com>
 To: nipy/dipy <dipy@noreply.github.com>
Cc: maryamafzali <maryamafzalim@gmail.com>; Mention <mention@noreply.github.com>
 Sent: Sunday, February 26, 2017 1:13 PM
 Subject: Re: [nipy/dipy] finding PA (Propagator Anisotropy) (#1172)

Hi Maryam,I h

[2017-02-26 19:54] salma1601 commented on #1182
Ok, thanks à lot ! I will use this method (and others if suggestions) to check my streamlines quality.
Thanks a lot for contributing to devolop such useful and user-friendly tool and for answering my questions!

[2017-03-05 20:38] salma1601 opened #1185 "unable to use fvtk.show after ubuntu 16.10 install"
Dear dipy experts,

I used to visualize my streamlines smoothly with
[code]

However since my install of ubuntu 16.10 the `fvtk.show(r)` throws strange errors

libGL error: driver pointer missing
libGL error: failed to load driver: i965
libGL error: unable to load driver: i965_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: i965
libGL error: unable to load driver: sw

[2017-03-07 01:54] matthew-brett opened #1187 "Negative integer powers error with numpy 1.12"
Testing with numpy 1.12, multiple errors of form:

[code]

https://travis-ci.org/matthew-brett/dipy/jobs/208424940

These are because of a recent change in numpy - see https://docs.scipy.org/doc/numpy/release.html#power-and-raise-errors-for-integer-to-negative-integer-powers

Maybe the calculation should be in floating point rather than integers or something?

[2017-03-07 01:56] matthew-brett commented on #1187
Cross ref #1186 - where we start to use the latest numpy for tests.

[2017-03-07 02:00] matthew-brett opened #1188 "Colormap test errors for new matplotlib"
Test error when testing against latest matplotlib:

[code]

https://travis-ci.org/matthew-brett/dipy/jobs/208424940

I'm guessing this is because of the new default 'viridis' colormap in matplotlib >= 2.0.

[2017-03-07 02:00] matthew-brett commented on #1188
Cross ref new testing regime at #1186 .

[2017-03-07 09:41] salma1601 commented on #1185
I did a complete reinstall of ubuntu, reverting to 14.04. Now things are better because I can save figures with `fvtk.record`, however I can not interact with the 3D plot of `fvtk.show`: it throughs the following error, shutting down my ipython

Please report at https://bugs.freedesktop.org/enter_bug.cgi?product=Mesa
Mesa 11.2.0 implementation error: invalid target in _swrast_choose_texture_sample

[2017-03-07 17:02] arokem commented on #1188
Strangely enough, this is happening with the "Accent" color map. Looks like that color-map might have changed in Matplotlib. We might need to change the values we have in:

https://github.com/nipy/dipy/blob/master/dipy/data/files/dipy_colormaps.json

@MrBago : how were those values generated? IIRC, you created that file.

[2017-03-07 18:44] matthew-brett commented on #1188
The Accent colormap did change, essentially from a continuous to a discrete map - see:
http://matplotlib.org/users/whats_new.html#qualitative-colormaps.

Maybe it's worth deprecating the `Accent` colormap name in dipy, and renaming or removing?

[2017-03-07 22:27] matthew-brett opened #1190 "Pickle error for Python 3.6 and test_peaksFromModelParallel"
[code]

https://travis-ci.org/matthew-brett/dipy/jobs/208734316#L3259

See #1186 for PR extending testing to Python 3.6.

[2017-03-07 22:40] matthew-brett opened #1191 "Test failures for cluster code with current numpy master"
PR #1186 has a new matrix entry testing dipy against current numpy and scipy master builds, to make sure that we don't distribute stuff that will break on the next release of numpy / scipy.

This finds some new test failures on the cluster code, which appear to be because of a change in the way that numpy compares arrays.  I explored a little, and realized that I didn't understand the intention be

[2017-03-14 00:41] arokem commented on #1190
Strangely, I can't replicate this on my laptop. Will try to do this on a linux box.

[2017-03-14 01:37] matthew-brett commented on #1191
This one still there - would be good to fix this before the release, so new numpy doesn't break dipy when it's released.

[2017-03-14 01:54] matthew-brett commented on #1191
@MarcCote - I think this is your code?

[2017-03-18 20:39] MarcCote commented on #1191
You are right the intention is not to test `np.array` which seems to be called implicitly by `assert_array_equal`. I just wanted to compare the result of advanced indexing on the `Cluster` object vs manually selecting one data element at the time. I'll have a closer look.

[2017-03-20 00:43] MarcCote commented on #1191
See #1194

[2017-03-20 05:49] matthew-brett commented on #1190
Can you pickle the `PeaksAndMetrics` instances on Python 3.6, Numpy 1.12 ?

[2017-03-20 15:25] arokem commented on #1190
OK - just tested specifically that.

No, I can't pickle a PAM object under these conditions. Will continue to investigate.

[2017-03-20 15:54] arokem commented on #1190
This seems to help: #1195 (but I will admit that I don't entirely understand it)

[2017-03-22 23:44] arokem commented on #1190
closed through #1195

[2017-03-22 23:44] #1190 closed

[2017-03-23 07:38] matthew-brett commented on #1191
The tests are still failing against current numpy master, after #1194 was merged - see https://travis-ci.org/nipy/dipy/jobs/214060347#L2762 .

[2017-03-23 18:57] arokem opened #1197 "Documentation improvements"
### Improve the front page:

- [ ] Change the `getting started` example
- [ ] Include a few more images on the front page

### CLI documentation

See http://elef.soic.indiana.edu/documentation/0.12.0.dev/reference_cmd/

- [x] Suppress warnings

### Check the citation system

- [ ] Some bibtex item types are not currently rendered correctly

[2017-03-28 14:36] ghoshbishakh opened #1200 "[Docs] Error while generating docs"
[code]

[2017-03-28 14:56] ghoshbishakh commented on #1200
https://github.com/nipy/dipy/blob/master/doc/examples/quick_start.py#L98

[2017-03-29 05:29] aaossa commented on #881
Can I work on this issue? It seems like the others PRs were abandoned and closed :thinking:

[2017-03-29 06:34] ghoshbishakh commented on #1200
@jchoude can you give me a clue how to fix this?

[2017-03-29 10:25] jchoude commented on #1200
This seems to be related to the new versions of numpy which are strict on indexing. Check if middle axial is not really a float (created on the division). If that's the case, cast it to int and make sure you get the correct slice.

[2017-03-29 13:56] arokem commented on #1200
#1202 should fix it.

[2017-03-29 15:24] arokem opened #1203 "Some bots might need a newer version of nibabel"
I believe this might explain some of the errors we see here: http://nipy.bic.berkeley.edu/builders/dipy-bdist32-27/builds/407/steps/shell_12/logs/stdio

[2017-03-29 15:26] arokem commented on #1170
Should have been resolved here: https://github.com/nipy/dipy/pull/1171

Closing for now, but let us know if this is still an issue

[2017-03-29 15:26] #1170 closed

[2017-03-29 15:28] arokem commented on #1187
I believe this was resolved in https://github.com/nipy/dipy/pull/1186

[2017-03-29 15:28] #1187 closed

[2017-03-29 15:30] arokem commented on #1188
This was resolved in #1193

[2017-03-29 15:30] #1188 closed

[2017-03-29 15:31] arokem commented on #1179
This might be useful: https://github.com/google/python-fire

[2017-03-29 16:46] vibhatha commented on #1170
Okay, Thank you very much.

With Regards,
Vibhatha Abeykoon

On Wed, Mar 29, 2017 at 11:26 AM, Ariel Rokem <notifications@github.com>
wrote:

[2017-03-30 02:00] aaossa commented on #881
Do you prefer one commit per file or one for all? I'm almost done with this, but I have this doubt and some particular cases that I would prefer to ask when the PR is ready. :ok_hand:

[2017-03-30 02:27] arokem commented on #881
One comitt per file would be ideal. Thanks!

On Mar 29, 2017 7:00 PM, "Antonio Ossa" <notifications@github.com> wrote:

[2017-03-30 10:09] #1200 closed

[2017-03-30 10:10] jchoude commented on #1200
@ghoshbishakh Can you check if the new master is ok for you and fixes this?

[2017-03-30 17:17] #1107 closed

[2017-03-31 01:56] aaossa commented on #881
A PR is ready :ok_hand: Please review https://github.com/nipy/dipy/pull/1207

Also, it seems like #880 is a dupe of this issue, maybe you could close it :grin:

[2017-03-31 18:14] arokem opened #1209 "Move data files out of dropbox => persistent URL"
For example, the b0 file for `fetch_syn` is giving me a 404:

https://dl.dropboxusercontent.com/u/5918983/b0.nii.gz

Code/data that would need to be changed is here:

https://github.com/nipy/dipy/blob/master/dipy/data/fetcher.py#L255
https://github.com/nipy/dipy/blob/master/dipy/data/fetcher.py#L279
https://github.com/nipy/dipy/blob/master/dipy/data/fetcher.py#L322
https://github.com/nipy/dipy/blo

[2017-03-31 18:56] Garyfallidis commented on #1209
Other people complained to me recently. I suppose we need to move most of them. Take the lead if you can. Do you have an account for Dipy in figshare?

[2017-03-31 19:14] Garyfallidis opened #1210 "Switching branches in windows and pip install error"
@matthew-brett and all
In windows 10 after I switch branches and do
pip install --user -e .
I get compilation errors.
But if we download the specific branch and pip install it is all good.
I believe that for some reason the binary files are not deleted and pip install does not replace them.
In linux we do make clean; make ext. But what is the clean option in Windows?

[2017-03-31 20:04] Garyfallidis commented on #1210
Is this the ```--no-cache``` option?

[2017-03-31 21:00] arokem opened #1211 "`dipy.data.read_bundles_2_subjects` doesn't fetch data as expected"
[code]

[2017-03-31 22:02] arokem commented on #1209
We don't need a dipy account for this. On further thought, we don't even
need to put this on Figshare (a commercial entity, so maybe we want to stay
away from that). I'll upload these data to the UW library's data
repository, or maybe Zenodo, or some-such. Await impending PR with that.

On Fri, Mar 31, 2017 at 11:56 AM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2017-04-01 04:18] #1191 closed

[2017-04-01 04:29] MarcCote commented on #1185
Sorry for the delay, I've totally missed this issue.

Have you solved your issue? If so, please share what you did to solve it. If not, please provide the following information so we can better target the source of the issue:
- What is your VTK version ?
- The output of this command `glxinfo | grep render`

[2017-04-01 08:42] matthew-brett commented on #1210
The `--no-cache` option should affect an `-e` install.

Is there any problem with doing `git clean -fxd`?  That will clean up your source for you, but you should probably check `git status` beforehand to make sure you're not going to delete anything you want.

[2017-04-01 16:59] Garyfallidis commented on #1210
Okay this will probably do the trick. Will investigate more and get back to you. I find it difficult to replicate the problem in my machine. Will work with the postdoc who identified the problem first and get back to you. May take a few days. Thanks!

[2017-04-01 17:16] salma1601 commented on #1185
Thanks for your reply !

Not really ! I switched back to unbuntu 14.04, this improved things since now I can see the `fvtk` plot. However as soon as I try to interact with it (ie when I click with the mouse) python crashes and I have this error

Please report at https://bugs.freedesktop.org/enter_bug.cgi?product=Mesa
Mesa 11.2.0 implementation error: invalid target in _swrast_choose_texture_sample

[2017-04-04 11:20] quakberto opened #1213 "dipy.align.vector_fields.simplify_warp_function_3d: Wrong equation in docstring"
Hi,

the docstring of the function simplify_warp_function_3d says that its result will be a deformation field satisfying:
(1) T[i] = W * d[U * i] + V * i

However, I think this equation should be:
(1) T[i] = W * d[U * i] + V * i - i or
(1) T[i] = W * d[U * i] + (V - I)* i,
since in lines 1585, 1587 and 1589 the coordinate is subtracted after the applying the affine transform V:
_apply_affine_3d_x0

[2017-04-04 14:41] omarocegueda commented on #1213
Hi @quakberto!,
thank you very much for reporting this!, we are taking a closer look to make sure it's just a documentation error.

[2017-04-04 15:43] omarocegueda commented on #1213
Hi @quakberto,
The documentation is correct. I think the confusion is that the user may expect `out = T`, but that would be inconsistent with the rest of the `align` module, since all non-linear *transforms* are represented using *deformation fields* instead of actual mapped values for accuracy reasons.

More precisely, if the output of `simplify_warp_function_3d ` is `out` then, in order to compu

[2017-04-04 18:22] quakberto commented on #1213
Hi @omarocegueda,
that makes sense! Indeed I thought that T was the intended output.
I'm only starting to get familiar with nipy/dipy's conventions, so thanks a lot for the clarification!
Best

[2017-04-05 17:44] arokem commented on #1213
(hopefully) Closed through #1214

[2017-04-05 17:44] #1213 closed

[2017-04-06 05:13] ghoshbishakh commented on #1200
@jchoude it is fixed now. I am trying to build all the examples and update the site.

[2017-04-06 08:12] ghoshbishakh opened #1215 "[Docs] Error while building examples: tracking_quick_start.py"
[code]

[2017-04-06 16:03] #1215 closed

[2017-04-11 13:56] ghoshbishakh opened #1218 "[Docs] Error while generating html"
[code]

[2017-04-11 14:05] ghoshbishakh commented on #1218
[code]

[2017-04-11 14:19] ghoshbishakh commented on #1218
After correcting the path I am getting another error:

[code]

[2017-04-15 16:56] arokem commented on #1218
Did you compile the extensions?

    python setup.py build_ext --inplace

On Tue, Apr 11, 2017 at 7:19 AM, Bishakh Ghosh <notifications@github.com>
wrote:

[2017-04-15 17:06] ghoshbishakh commented on #1218
@arokem I think the problem is with python2 sphinx. I will be trying with python3 one and report

[2017-04-15 17:09] ghoshbishakh commented on #1218
@arokem and yes i did compile them

[2017-04-15 17:18] ghoshbishakh commented on #1218
Works with sphinx in python 3

[2017-04-15 17:18] #1218 closed

[2017-04-16 19:41] RafaelNH opened #1224 "Memory issue"
Just to report a memory issue that raises when trying to denoise the CENIR multi-shell data using the nlmeans function. It  will be important to address this issue since it happens when trying to run the DKI's example of usage 'reconst_dki.py'  (I am using an 8GB RAM machine).

**Code:**

fetch_cenir_multib(with_raw=False)
bvals = [200, 400, 1000, 2000]
img, gtab = read_cenir_multib(bvals)
data =

[2017-04-16 23:40] arokem commented on #1224
Maybe use `dipy.denoise.non_local_means.non_local_means` instead? I suspect it might be less memory-demanding.

[2017-04-20 19:49] arokem commented on #1211
This is fixed in #1219

[2017-04-20 19:49] #1211 closed

[2017-04-20 19:49] arokem commented on #1210
What's the status on this one?

[2017-04-20 19:50] arokem commented on #1209
Fixed in #1219

[2017-04-20 19:53] #1182 closed

[2017-04-20 21:39] MarcCote commented on #1185
One thing you could try is running your command like this
`LIBGL_ALWAYS_SOFTWARE=1 python your_script.py`. I have to use that on my laptop to run vtk stuff since I don't have a dedicated graphic card.

[2017-04-21 01:18] MarcCote commented on #909
It seems I forgot to close this one, so I'm closing it now.

[2017-04-21 01:18] #909 closed

[2017-04-24 11:18] salma1601 commented on #1185
LIBGL_ALWAYS_SOFTWARE=1 python your_script.py

This worked for me, thanks a lot !

[2017-04-24 13:22] gauvinalexandre opened #1232 "With VTK 6.3, streamlines color map bar text disappears when using streamtubes"
I have tested this with VTK 5.8 and the bugs does not happen, so it seems to be version specific. Here is the simple code snippet to reproduce de bug:
[code]

I'm running on dipy from the master branch updated at the moment of submitting this issue.

[2017-04-24 17:10] #1185 closed

[2017-04-25 00:51] MarcCote commented on #1232
It seems that enabling the Backface Culling for the streamtubes is causing the problem.
See `actor.GetProperty().BackfaceCullingOn()` in https://github.com/nipy/dipy/blob/master/dipy/viz/actor.py#L343

I'm no expert in rendering, is the backface culling needed, what does it do exactly?

[2017-04-25 17:47] gauvinalexandre commented on #1232
Wow! How did you guess that!? Thanks for the hint. How can colorbar labels be affected by backface culling?

Backface culling **accelerates** the rendering process by omitting the back faces... AND THE COLORBAR LABELS apparently. :P.
I just did a quick test: **725ms (BFC) vs. (730) (Without)**. Pretty consistently faster he!?

I'm not sure if it's a VTK bug or we are not doing things in the right

[2017-05-04 19:20] arnaudbore opened #1236 "bundle visualisation using nibabel API: wrong colormap"
Hi,

If I want to reproduce [this visualisation](http://nipy.org/dipy/examples_built/viz_bundles.html#show-every-point-of-every-streamline-with-a-different-color) using nibabel API to load my tract file I need to change colors with np.concatenate(colors). The issue here seems to be linked with the new API and the ArraySequence format. Thanks to @MarcCote

[2017-05-08 14:13] #1209 closed

[2017-05-08 14:14] arokem commented on #1210
Was this resolved?

[2017-05-08 14:18] maryamafzali commented on #1210
Yeah, It is resolved.

Thank you,

On Mon, May 8, 2017 at 10:14 AM, Ariel Rokem <notifications@github.com>
wrote:

[2017-05-08 14:30] #1210 closed

[2017-05-08 15:37] ghoshbishakh commented on #1197
I need suggestions on what to include in the main page. Like what should the getting started section contain. Also what images should we include.

About the bibtex rendering it should be working fine and I will add all the publications from the present website.

About warning supression I am looking into it tonight.

[2017-05-08 15:54] arokem commented on #1197
https://github.com/nipy/dipy/pull/1237

[2017-05-09 15:56] arokem opened #1238 "Cryptic fvtk.viz error when no VTK installed"
I still get this error when running the tracking_quickstart example:

    AttributeError: module 'dipy.viz.fvtk' has no attribute 'ren'

Would be good if there was some more explanatory error handling fencing this.

[2017-05-12 16:16] riddhishb commented on #1178
Thanks for bringing this up, in the main loop and the inner calls the indexing is based on the fact that the volume represents a cartesian grid, and in the point where the indexing goes to i,j,k are the nested loops for a local patch and hence the usual naming.

Also about the hardcoding the patch size of 27, that is only done in the local mean and local variance  functions which takes a single pa

[2017-05-14 04:00] arokem opened #1242 "DKI microstructure model tests still fail intermittenly"
This seems to be a failure in predicting from the model: https://travis-ci.org/nipy/dipy/jobs/231992444, but it might just be a numerical precision issue.

[2017-05-14 08:46] RafaelNH commented on #1242
Yup should only be a numerical precision issue! I didn't spot this before cause I am not able to reproduce this intermit fail in my local PC! I create a PR to address this:

PR #1244

[2017-05-16 14:06] fmorency commented on #1169
+1

[2017-05-16 14:25] arokem commented on #1169
Yeah - we're working on it. I think that all we have left for the release are the following:

https://github.com/nipy/dipy/pull/1245
https://github.com/nipy/dipy/pull/1241
https://github.com/nipy/dipy/pull/1243
https://github.com/nipy/dipy/pull/1164
https://github.com/nipy/dipy/pull/1156

I think we should postpone merging the LPCA PR (#1233) until after the release, given that it looks like there

[2017-05-19 22:30] dmreagan opened #1247 "Interactor bug in viz_ui example"
Python 3.6, VTK 7.1.0, Windows 10

I see a bug in the viz_ui example related to the sliders. After I interact with the disk on the `LineSlider2D` or `RingSlider2D`, I am no longer able to interact with the cubes. Interacting with the panel, the buttons, the text box, or even the slider line or ring fixes the problem, and I can interact with the cubes once more. The problem appears only with the di

[2017-05-19 22:37] Garyfallidis opened #1248 "Windows doc installation update is needed for Python 3, Anaconda and VTK support"
To successfully install dipy in windows 10 with Python 3.6 I had to:

Find which is the correct Visual C++ compiler for Python 3.6.
Cython needs the exact compiler which was used to create CPython for the specific version of Python.
When you run python in a terminal you can get the MSC_VER and then find the relevant compiler using this list

[code]

In my case it was MSC_VER=1900 so I installed vi

[2017-05-19 22:40] matthew-brett commented on #1248
Compilation advice for Windows over at http://matthew-brett.github.io/pydagogue/python_msvc.html gives a summary of MSVC and Python versions.

[2017-05-20 01:56] Garyfallidis commented on #1248
Yes, I saw that. Good job.

[2017-05-20 15:31] arokem commented on #1248
@Garyfallidis: How did you get `MSC_VER` in the Python command line? Is it
in `os.environ`?

Could you please add these details to the documentation, as long as it's
all fresh in your memory?

On Fri, May 19, 2017 at 6:56 PM, Eleftherios Garyfallidis <
notifications@github.com> wrote:

[2017-05-20 16:11] Garyfallidis commented on #1248
Just call python or ipython the MSC version is always shown.

The real difficulty to figure this out for my case was not find the compiler version  the difficulty was that a) they were websites saying that you can compile using later Visual Studio versions and b) that if you have other versions of visual studio and the current version the error messages were coming out very messy. We had two windo

[2017-06-01 18:21] Garyfallidis commented on #1236
Hi @arnaudbore and very sorry for delaying to get back to you. Can you give us an example showing the issue?

[2017-06-01 18:38] Garyfallidis commented on #1236
Sorry, let me be more precise. For me when I run this example in my computer it works.

![image](https://cloud.githubusercontent.com/assets/134276/26695198/ec76393e-46d7-11e7-9cea-c3597922391b.png)

Are you using master? Or the release version? 0.11?

[2017-06-01 20:08] dmreagan commented on #1247
@ranveeraggarwal Have you had a chance to try the viz_ui example under VTK 7.1.0?

[2017-06-02 18:34] ranveeraggarwal commented on #1247
@dmreagan not yet, I have some trouble setting it up (on my MacOS). I should be able to get it up by this weekend.

[2017-06-03 16:56] dmreagan commented on #1247
@ranveeraggarwal I'm not sure about Mac, but I've used VTK 7 builds from a group called Clinical Graphics. @Garyfallidis also just worked with the conda-forge people to update their builds.

[2017-06-03 16:59] ranveeraggarwal commented on #1247
@dmreagan [this](https://anaconda.org/clinicalgraphics/vtk) looks nice, I will try this out.

[2017-06-09 21:45] arokem opened #1253 "Automate script installation for workflows"
See https://github.com/nipy/dipy/pull/1241/files#r121228733

[2017-06-12 18:33] skoudoro commented on #321
Should we close this one @Garyfallidis  ?

[2017-06-12 18:34] skoudoro commented on #322
Can you close this one @jchoude  ? it seems to be ok :-)

[2017-06-12 18:37] skoudoro commented on #328
It seems to be done, I close

[2017-06-12 18:37] #328 closed

[2017-06-12 18:40] skoudoro commented on #387
Should we close this one @Garyfallidis  ?

[2017-06-12 18:43] skoudoro commented on #518
Can you close this one @Garyfallidis @arokem  ?

[2017-06-12 18:44] #518 closed

[2017-06-12 18:45] jchoude commented on #322
@skoudoro I might not be looking in the correct place, but I still don't find the tracking.utils documentation when looking at the link in my initial issue. Is it somewhere else?

[2017-06-12 18:45] skoudoro commented on #591
I close this one, it seems to be ok @Garyfallidis

[2017-06-12 18:45] #591 closed

[2017-06-12 18:50] skoudoro commented on #608
Should we close this one @Garyfallidis @fmorency  ?

[2017-06-12 18:52] skoudoro commented on #620
can you close this one @arokem  ?

[2017-06-12 18:58] skoudoro commented on #711
can you close this one @Garyfallidis  ?

[2017-06-12 19:02] #865 closed

[2017-06-12 19:09] samuelstjean commented on #608
It was indeed fixed ages ago, new nlmeans is not parallel so it's probably also fine to close the issue anyway.

[2017-06-12 19:26] arokem commented on #620
No. We haven't done this yet.

[2017-06-12 19:43] skoudoro commented on #322
My bad, you are right, it seems to be excluded here: https://github.com/nipy/dipy/blob/master/doc/tools/build_modref_templates.py#L71

all packages dipy.*.utils are not included. I will create a PR.

[2017-06-12 19:50] #608 closed

[2017-06-13 14:19] skoudoro commented on #570
@arokem "dipy.viz" is defined as skip pattern. you can see on this link https://github.com/nipy/dipy/blob/master/doc/tools/build_modref_templates.py#L72

Any reason for that ? should I change it ?

[2017-06-13 14:39] skoudoro commented on #994
Fix by #992 . Closing

[2017-06-13 14:39] #994 closed

[2017-06-13 15:45] Garyfallidis commented on #321
Sure.

[2017-06-13 15:45] #321 closed

[2017-06-13 15:56] arokem commented on #570
Unless someone has a compelling reason not to include this in the documentation, please do change it. You can add that in #1255

[2017-06-13 16:02] #711 closed

[2017-06-13 16:03] #1070 closed

[2017-06-13 18:31] skoudoro commented on #1000
seems to be ok. Closing !

[2017-06-13 18:31] #1000 closed

[2017-06-14 17:57] skoudoro opened #1256 "script path can not be found on OSX"
After running the command "pip install --user -e ." on my dipy folder, I can found dipy executable on my home folder (.local/bin) but unfornatunatly I can not execute them outside of that folder.

Is it normal ? Any idea how to resolve it  @matthew-brett @jchoude @arokem ? Should I add this path on my .bashrc file ? Shouldn't setup.py do that automagically?

ps: env = OS X 10.11 - anaconda - pytho

[2017-06-14 22:07] matthew-brett commented on #1256
Right - if you do a user install, the executables go to that directory - actually in my case, on OSX, it's `$HOME/Library/Python/3.5/bin`.

I use something like this in my `.bash_profile` file to do that:

[code]

[2017-06-15 18:36] skoudoro commented on #238
![](https://github.trello.services/images/mini-trello-icon.png) [#238](https://trello.com/c/VVh0w4rv/1-238)

[2017-06-15 18:42] skoudoro commented on #322
![](https://github.trello.services/images/mini-trello-icon.png) [#322](https://trello.com/c/N9RPVik9/7-322)

[2017-06-15 18:45] skoudoro commented on #366
![](https://github.trello.services/images/mini-trello-icon.png) [#366](https://trello.com/c/4OgLE3DQ/2-366)

[2017-06-15 18:47] skoudoro commented on #369
![](https://github.trello.services/images/mini-trello-icon.png) [#369](https://trello.com/c/QudtmdZv/4-369)

[2017-06-15 18:47] skoudoro commented on #389
![](https://github.trello.services/images/mini-trello-icon.png) [#389](https://trello.com/c/OmnRHFyK/5-389)

[2017-06-15 18:48] skoudoro commented on #570
![](https://github.trello.services/images/mini-trello-icon.png) [#570](https://trello.com/c/QXr0MNXu/11-570)

[2017-06-15 18:49] skoudoro commented on #756
![](https://github.trello.services/images/mini-trello-icon.png) [#756](https://trello.com/c/EzR6eeRh/10-756)

[2017-06-15 18:49] skoudoro commented on #791
![](https://github.trello.services/images/mini-trello-icon.png) [#791](https://trello.com/c/5QvMVEGR/8-791)

[2017-06-15 18:50] skoudoro commented on #969
![](https://github.trello.services/images/mini-trello-icon.png) [#969](https://trello.com/c/KgFUazjV/9-969)

[2017-06-15 18:50] skoudoro commented on #978
![](https://github.trello.services/images/mini-trello-icon.png) [#978](https://trello.com/c/g7g7eljI/12-978)

[2017-06-15 18:51] skoudoro commented on #999
![](https://github.trello.services/images/mini-trello-icon.png) [#999](https://trello.com/c/g3WTvflT/13-999)

[2017-06-15 18:52] skoudoro commented on #1001
![](https://github.trello.services/images/mini-trello-icon.png) [#1001](https://trello.com/c/aAxXa3og/14-1001)

[2017-06-15 18:52] skoudoro commented on #1084
![](https://github.trello.services/images/mini-trello-icon.png) [#1084](https://trello.com/c/DO5GzMir/15-1084)

[2017-06-15 18:53] skoudoro commented on #400
![](https://github.trello.services/images/mini-trello-icon.png) [#400](https://trello.com/c/2UWJ9nqo/16-400)

[2017-06-16 15:30] skoudoro commented on #369
The function resample from dipy.align.aniso2iso is deprecated and deleted from dipy 0.10 and became reslice from dipy.align.reslice.

Test for this function exist so I close this issue @Garyfallidis

[2017-06-16 15:30] #369 closed

[2017-06-16 18:25] samuelstjean opened #1259 "nlmeans does not respect boundaries"
this one is pretty important is deserves another note instead of the fixing pr in case I forgot.
Turns out the cython part disables wrapping around with negative indexes, but the code is using it and the test, well, does not test the correct array. I am wondering if it might be reading garbage sometimes, but for now not sure the test does as intended.

Right now (copied from https://github.com/nip

[2017-06-16 20:53] skoudoro commented on #978
It seems to be ok, can you close this issue @sahmed95  ?

[2017-06-16 23:46] #999 closed

[2017-06-17 03:40] #1001 closed

[2017-06-18 19:18] skoudoro commented on #1253
Done via #1254 , Closing

[2017-06-18 19:18] #1253 closed

[2017-06-18 19:24] skoudoro commented on #1179
is it the same as #1253 ? Should I close this issue @arokem  ?  (python-fire tool seems nice, maybe we should create a new issue to change the command line generation. I need to play a little bit with it)

[2017-06-18 19:25] arokem commented on #1179
Yeah - we can close this.

[2017-06-18 19:25] #1179 closed

[2017-06-19 12:07] #978 closed

[2017-06-19 20:12] matthew-brett opened #1264 "FBC measures test failure on PPC"
Power PPC test seems to be a fair bit off expected...

[code]

https://nipy.bic.berkeley.edu/builders/dipy-py2.7-debian-ppc/builds/220/steps/shell_9/logs/stdio

Last passing revision was e414987749bd50a203ab2a0e3764f0d1bbeda580 on Jan 9th - see https://nipy.bic.berkeley.edu/builders/dipy-py2.7-debian-ppc

[2017-06-19 20:24] matthew-brett opened #1265 "Test failure on OSX in test_nlmeans_4d_3dsigma_and_threads"
[code]

https://nipy.bic.berkeley.edu/builders/dipy-py2.7-osx-10.6/builds/712/steps/shell_9/logs/stdio

Is this a deterministic test?

[2017-06-19 23:49] matthew-brett opened #1266 "test_mapmri_isotropic_static_scale_factor failure on OSX buildbot"
[code]

https://nipy.bic.berkeley.edu/builders/dipy-py2.7-osx-10.7/builds/542/steps/shell_9/logs/stdio

Can give login access to the machine if needed.

[2017-06-20 11:17] matthew-brett commented on #1266
Same failure on a Windows buildbot : https://nipy.bic.berkeley.edu/builders/dipy-bdist64-35-win2016/builds/80/steps/shell_12/logs/stdio

[2017-06-20 13:55] Garyfallidis commented on #1266
Could it be that you do not have cvxopt installed in those machines?

[2017-06-20 13:56] Garyfallidis commented on #1265
This test assumes that multi-threading is working on macosx and that omp.h is correctly found.

[2017-06-20 14:00] matthew-brett commented on #1265
Need to adapt to platforms where omp.h is not found?

[2017-06-20 14:02] matthew-brett commented on #1266
You can always see what's installed on the buildbot runs, because we run a `pip freeze` before we run the tests:  https://nipy.bic.berkeley.edu/builders/dipy-bdist64-35-win2016/builds/80/steps/shell_8/logs/stdio

No cvxopt on that machine.  Maybe the test needs to be skipped or adapted to the not-cvxopt case.

[2017-06-20 14:12] Garyfallidis commented on #1265
Let me check. We are now looking to the other error.

[2017-06-20 17:01] skoudoro commented on #1242
Should we close this issue @arokem @RafaelNH ?

[2017-06-20 17:24] #1242 closed

[2017-06-20 18:04] #1238 closed

[2017-06-20 20:20] arokem commented on #1265
Fixed in #1267

https://nipy.bic.berkeley.edu/builders/dipy-py2.7-osx-10.6/builds/715

[2017-06-20 20:20] #1265 closed

[2017-06-20 20:22] arokem commented on #1264
Might this be related somehow to pytables?

The commit that seems to have broken this was this one: https://github.com/nipy/dipy/commit/147d20737d450cb17e0a6045475eb3b10df725ed

[2017-06-22 14:25] Garyfallidis commented on #1266
Hi Matthew, this error stopped appearing both in the buildbot and our local machines. Not sure why. We ran the tests multiple times. Nothing so far.

[2017-06-26 14:10] skoudoro commented on #969
At the end, it seems to be fix ! All related issues are closed, any comment ? Should I close this one ?

[2017-06-26 15:56] skoudoro commented on #756
I suppose pytables version was the problem. Pytables API change a lot between version 2 and 3. It should be fix via #1147.
So can you try it again in your environment @ignatenkobrain ?  Should I close this issue @arokem  ?

[2017-06-26 20:35] arokem commented on #756
Yes - let's close this for now. If this is still a thing, please feel free to reopen.

[2017-06-26 20:35] #756 closed

[2017-06-26 20:35] arokem commented on #969
Yup. Let's close this.

[2017-06-26 20:35] #969 closed

[2017-06-27 20:08] arokem commented on #1169
🎉

[2017-06-27 20:08] #1169 closed

[2017-06-27 20:39] skoudoro commented on #881
can we close this one @arokem ?

[2017-06-27 20:40] skoudoro commented on #880
can we close this one @arokem ?  (link #880)

[2017-06-27 20:41] arokem commented on #880
yep

[2017-06-27 20:41] #880 closed

[2017-06-27 20:41] arokem commented on #881
I believe so.

[2017-06-27 20:41] #881 closed

[2017-06-28 00:12] arokem opened #1280 "Switch testing to pytest?"
I have a feeling we've discussed this before. Nose is no longer being developed, and from what I have heard and experienced myself, it looks like pytest (https://docs.pytest.org/en/latest/) is a good way to go. Looks like maybe nose2 is also an option (http://nose2.readthedocs.io/en/latest/).

[2017-06-28 13:51] skoudoro commented on #1280
I do not think nose2 is a good option (last commit January 3rd). Pytest is actively and better maintained and I agree with you when you said it is way to go (as soon as possible).

[2017-06-28 17:40] skoudoro commented on #322
website updated : http://nipy.org/dipy/reference/dipy.tracking.html#module-dipy.tracking.utils

[2017-06-28 17:42] skoudoro commented on #570
website updated : http://nipy.org/dipy/reference/dipy.viz.html

[2017-06-28 18:13] #570 closed

[2017-06-28 18:13] #322 closed

[2017-06-28 20:02] skoudoro opened #1282 "Tests fail on viz module"
As you can see below, some tests do not pass. Any idea @MarcCote @ranveeraggarwal @Garyfallidis @dmreagan ?
[code]

[2017-06-28 20:04] ranveeraggarwal commented on #1282
Which OS are you on? Is it MacOS?

[2017-06-28 20:19] skoudoro commented on #1282
Yes: environment : OS X -anaconda - python 3 - VTK 7.1 from clinicalgraphics

[2017-06-28 20:22] Garyfallidis commented on #1282
Same in Windows with VTK 7.1.0 from conda-forge.

On Wed, Jun 28, 2017 at 4:19 PM Serge Koudoro <notifications@github.com>
wrote:

[2017-06-28 20:35] ranveeraggarwal commented on #1282
Even I had problems with OSX VTK 6.3.0 Python 3. We had suspected it might be because of the windowing manager. I will have to look at Windows though.

[2017-06-30 01:05] Garyfallidis commented on #1181
Yes, it is expected. We are considering suppressing those warnings as they seem create more panic than help.

[2017-06-30 01:18] arokem commented on #1181
How about doing something like this? https://github.com/nipy/dipy/pull/1289

[2017-06-30 08:12] salma1601 commented on #1181
+1

[2017-07-01 19:10] jchoude commented on #322
Thanks guys!

[2017-07-02 22:08] Garyfallidis opened #1291 "Existing MAPMRI tutorial does not render correctly and MAPL looks hidden in the existing tutorial."
http://nipy.org/dipy/examples_built/reconst_mapmri.html#example-reconst-mapmri

[2017-07-02 22:11] arokem commented on #1291
That example does include MAPL. It was changed in the PR that introduced MAPL:

https://github.com/nipy/dipy/pull/1153/files#diff-aa743bb3a0919f172e5dca3244da2ab3

Rendering's borked though. That should be fixed.

[2017-07-02 22:15] Garyfallidis commented on #1291
Okay, cool.

[2017-07-02 22:47] Garyfallidis commented on #1291
Also this tutorial seems like needing better datasets. Which is something we talked about in the past. Real datasets in  high resolution that can expose the power of Mapmri.

[2017-07-02 23:37] arokem commented on #1291
Yeah - we should switch this to use the recently added CFIN data: https://github.com/nipy/dipy/blob/master/dipy/data/fetcher.py#L1001

[2017-07-07 19:10] Garyfallidis opened #1295 "Reorienting peak_slicer and ODF_slicer"
This is a reminder that I have not implemented yet the part that applies the rotational parts of the affines in the ODFs and peak_directions. When you move from native coordinates to world coordinates there are usually some rotations and scales involved. I am currently not applying those.

[2017-07-07 21:15] Garyfallidis opened #1296 "Need of a travis bot that runs ana/mini/conda and vtk=7.1.0+"
Hi all,

All our travis bots right now use debian packaging mechanisms and pypi. But people are constantly moving into using Anaconda for scientific computing in python.

Can we setup one of our travis bots to install miniconda? If yes that would be helpful in general and for the visualization tests.

So far trying to run viz tests and make them compatible from VTK 5, 6 and 7 has been extremely di

[2017-07-07 21:44] yarikoptic commented on #1296
Sure thing you could and probably should also setup travis to install some conda! ;)  you could look into https://github.com/nipy/nipype/blob/master/.travis.yml on how to accomplish it

As for VTK -- if you want dipy be easily usable on some previous releases of debian and ubuntu, you might want to retain some compatibility with older VTKs.  FWIW as far as I see it we do have vtk6 in recent debian

[2017-07-08 19:02] arokem commented on #1296
One random thought: I think that we should start considering whether
dipy.viz deserves to be its own library, developed side-by-side with dipy.

A few reasons: different set of dependencies. We might still want to
support use of dipy for analysis on some previous releases, while not
supporting visualization on these platforms, so that we can run ahead here
with this.

Testing on travis will also b

[2017-07-10 20:20] Garyfallidis commented on #1296
Hi @arokem, the tests are not affected currently by the viz. These do not take time at all.

I am currently, not persuaded that dipy.viz needs to be its own library at this stage however I do see that as a good future direction when the API starts maturing and becoming more generic and solid.

Now, if you think that this separation should happen before 1.0 you may want to start drafting a short bu

[2017-07-11 14:32] arokem commented on #1296
I was thinking more along the lines of the kind of split that the Jupyter
project has among different repos: ipython, jupyter, nbconvert etc,

Each one of the separate repos has a separate test suite, allowing you to
test each sub-part separately. In a sense, dipy-viz is already an optional
dependency within dipy, because VTK is not required to run any of the rest
of Dipy. But we can keep the docu

[2017-07-11 22:27] yarikoptic opened #1299 "test_rmi on 32 bit: invalid dims: array size defined by dims is larger than the maximum possible size."
[code]
was not sure if 1000 was intentionally large to possibly catch some stats deviations thus shouldn't be generally decreased...

[2017-07-13 14:17] arokem commented on #1299
See #1300, which potentially solves this issue, by eliminating the whole thing (test and implementation...)

[2017-07-13 19:49] Garyfallidis opened #1301 "Brains need re-orientation in plotting in DKI example"
http://nipy.org/dipy/examples_built/reconst_dki.html#example-reconst-dki
Use transpose or something. Thanks.

[2017-07-14 18:07] skoudoro opened #1302 "[DOC] cython (pyx) files are not parsed"
After looking at #366, All functions in a pyx files doesn't appear on the documentation page. This extension seems to be excluded from the doc generator.

Does it come from [here](https://github.com/nipy/dipy/blob/master/doc/tools/apigen.py#L400) or there is something else ?

is there any historical reason to skip cython files  ?

[2017-07-18 15:29] jhlegarreta opened #1305 "Questions/policies about writing .rst/web doc files"
I've been revising the doc on the webpage, and besides having done some PRs to fix some typos or cross-refs, I've detected a number of discrepancies that I'd like to fix if you think we should.

I'm well aware that these are minor, style issues, but I feel that sticking to a set of rules may benefit readers.

- The markdown for objects is double inverted commas (`` ``) or italics?
Inverted commas:

[2017-07-18 16:06] dmreagan commented on #1305
Perhaps a tool like [this reStructuredText linter](https://github.com/twolfson/restructuredtext-lint) could help keep the docs in line?

[2017-07-19 13:42] skoudoro commented on #1305
Thank you for doing this !

inverted commas

I prefer DiPy but it is never written like this :-). We should ask @Garyfallidis @arokem

it would be nice, but harder to maintain. What do you think @Garyfallidis ?

b0

3D

I think so

I agree, it can be a new .rst file on _dipy/doc/devel_. You can start a file on your PR

[2017-07-19 15:58] arokem commented on #1305
Thanks both!

On Wed, Jul 19, 2017 at 6:42 AM, Serge Koudoro <notifications@github.com>
wrote:

I like Dipy wherever we mention this in text (like "Python"), and of course
`dipy` in code. I prefer not to use DIPY or DiPy.

Should we link dipy across the documentation ?

[2017-07-20 15:21] jhlegarreta commented on #1305
@arokem @skoudoro @dmreagan Thanks for the input ! I'll try to do a PR over the next few days with these changes.

@dmreagan I did not know the tool, but I like it as another step towards generating better documentation. I ignore what others think, though.

[2017-07-20 16:48] arokem commented on #1305
That would be a great contribution - the docs could definitely use some love. Thanks @jhlegarreta!

[2017-07-20 21:12] arokem opened #1306 "Error-handling when pytables not installed"
I think I missed a bug in my review of #1241

If you don't have pytables installed, then this line will evaluate to False:

https://github.com/nipy/dipy/blob/master/dipy/io/peaks.py#L19

which means that when you reach this line:
https://github.com/nipy/dipy/blob/master/dipy/io/peaks.py#L37

There will be no variable `TABLES_LESS_3_0` in your namespace, resulting in a cryptic `NameError`

[2017-07-20 21:20] skoudoro commented on #1306
Right, I take this one ! Unfortunately, I can not do it now so I will create a PR at the end of the week.

[2017-07-20 21:34] arokem commented on #1306
Thanks!

[2017-07-21 18:17] aarya22 commented on #1306
@skoudoro It would also be more helpful to edit cryptic NameError message to ask the user to check if they have pyTables installed.

[2017-07-21 20:47] dmreagan commented on #1282
I think I've traced the failure of `test_ui_textbox` to commit 2df29df. It looks like the test was re-recorded for that commit, and the new recording has a different number of events than are expected. I could fix the problem by either:

1. Changing the test to expect the number of events in the new recording.
2. Re-recording the test and setting the expected number to match.

It is probably best

[2017-07-23 22:56] ruohoruotsi commented on #1029
[code]
is what worked for me on MacOS Yosemite, conda 4.1.6, python 3.1.5, pip 9.0.1

[2017-07-24 20:48] Garyfallidis commented on #1305
Hi all,

In the code it should be dipy and in the documentation and papers it should be DIPY.

![image](https://user-images.githubusercontent.com/134276/28544052-e9c99c6c-708f-11e7-8297-a31d938e3cff.png)

[2017-07-24 20:56] Garyfallidis commented on #1305
I found that especially in papers dipy with small letters is very small. It looks hidden if next to other software. So, in all my last papers I am using DIPY. Also our logo is with capital letters for some years now. Finally, DIPY means Diffusion Imaging in PYthon so having it with capital letters kind of makes sense for the English teachers too. I hope you find those explanations reasonable.

@jh

[2017-07-25 14:14] nilgoyette commented on #834
The tracking speed is starting to be a problem for us. I don't have any code or date in mind (as I'm leaving for holiday soon) but I'm starting to work on this task.

[2017-07-25 14:36] Garyfallidis commented on #834
Let's coordinate efforts. Are you talking about probabilistic tracking?

[2017-07-25 15:00] nilgoyette commented on #834
I don't know your codebase much right now, but if by "probabilistic tracking" you mean `LocalTracking` with a `ProbabilisticDirectionGetter`, then yes. In fact, I was asked to || the local tracking for the 3 DirectionGetter we use.

If you mean something else, unrelated to `LocalTracking`, then forget what I just wrote :)

[2017-07-25 15:27] Garyfallidis commented on #834
Yes, this is what I mean. However, parallelization for this problem will not help much. The issue is that for every tracking point we have to project the spherical harmonics to ODFs. And we do that projection millions of times as we track. When I say projection this is just a matrix multiplication but the matrix is quite large. I would start from there before parallelizing the existing code. When

[2017-07-25 17:00] nilgoyette commented on #834
To be honest, I don't know or understand the math behind this code. If you need it, I will help you as best as I can if you explain the problem in programmer's term :) Btw, I'm only leaving in 1.5 weeks.

In the meantime, I'm pretty sure there's a simple optimization I can try. I'll keep you updated.

[2017-07-27 03:15] zhangfanmark opened #1309 "step_helpers gives a wrong error message"
https://github.com/nipy/dipy/blob/master/setup_helpers.py#L228-L229

found_ver and min_ver should be reversed.

Now, it gives an error message:
"RuntimeError: We need Cython version 0.22, but found version 0.25.1"

[2017-07-27 03:47] skoudoro commented on #1309
Good Catch, Thank you @zhangfanmark !

[2017-07-27 15:52] skoudoro commented on #1305
What is the status of this @jhlegarreta ? Can I help you ? we can work together on this PR and split the task. Just let me know ! Thanks !

[2017-07-27 17:28] jhlegarreta commented on #1305
@skoudoro Thanks for keeping an eye and for the offer; still WIP. Sorry for the lag. A feasible estimate for a PR is next week. For the fixes in the existing rst files I think I'll be able to handle them, revisions will be more than welcome. I'll probably need help or guidance to locate in the appropriate place the guidelines, or if it is decided that the tool suggested by @dmreagan (interesting a

[2017-07-27 18:22] skoudoro commented on #1256
For information : https://github.com/pypa/pip/issues/3813

Thanks for this tip. It will be good to add this note on the documentation. I will make a PR for this later.

[2017-07-28 11:45] jhlegarreta commented on #1305
A couple of additional questions as I work on this:

- The `..admonition::` directive is present in some files. Looks like it is auto-generated (?) I couldn't find a pattern or explanation. Is it auto-generated to warn about some missing stuff?
Is it related to the formatting of the bottom message where the example source code is linked?
http://nipy.org/dipy/examples_built/reconst_csa.html#example

[2017-07-28 12:46] skoudoro commented on #1305
It is generated by us. you can see and edit [here](https://github.com/nipy/dipy/blob/master/tools/ex2rst#L180). It is strange that it is not generated correctly sometimes.

No idea and I do not know why we would do this. any idea @arokem @Garyfallidis ?

AuthorYear despite the uneven indentation. It will be wonderful if you know how to fix that. Specialy [here](http://nipy.org/dipy/examples_built/

[2017-07-30 19:15] arokem commented on #1309
Closed through #1310

[2017-07-30 19:15] #1309 closed

[2017-07-30 19:15] #1306 closed

[2017-07-31 22:07] skoudoro commented on #375
This build is not anymore active, closing

[2017-07-31 22:12] skoudoro commented on #662
closing. This file do not exist anymore and doctest pass.

[2017-07-31 22:12] #662 closed

[2017-08-01 04:27] andresdasugo opened #1313 "No module named 'vtkCommonCore'"
When I want to import vtk on Python (Windows 10) this error appears

import vtk
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files\VTK 6.3.0\bin\Lib\site-packages\vtk\__init__.py", line 39, in <module>
    from vtkCommonCore import *
  File "C:\Program Files\VTK 6.3.0\bin\Lib\site-packages\vtk\vtkCommonCore.py", line 1, in <module>
    from vtkCommonC

[2017-08-01 10:49] matthew-brett commented on #375
The point is not the PPC platform specifically, but understanding the error so we be confident that Dipy will work on less common platforms. Virtually none of the the bugs revealed by the PPC build are PPC-specific, but point to big-endian issues or bugs in the C code exposed by compilation non-Intel compiler.

[2017-08-01 13:19] skoudoro commented on #1313
Hi @andresdasugo , How did you install vtk ? what is the python version ? It looks like a vtk installation issue (a missing library or  init script / ). The second option is a mismatch between your python version and the one used to compiled vtk.

Yesterday, I installed successfully vtk and dipy on windows 10 with [anaconda](https://www.continuum.io/downloads). Maybe you should try this alternativ

[2017-08-01 14:12] skoudoro commented on #375
Ok, I see. Thanks for this information.

can you make [the debian ppc build](https://nipy.bic.berkeley.edu/builders/dipy-py2.7-debian-ppc) work to see if it is the only failing test. it might help to understand what happens.

Thank you

[2017-08-04 19:02] #804 closed

[2017-08-05 18:56] matthew-brett commented on #375
Ah - sorry - I wasn't paying attention.  No, that build isn't active any more - it was building on PPC OSX 10.5, but the machine is now running Debian - the builds you're pointing to above.  That doesn't have the test failure at the moment:

http://nipy.bic.berkeley.edu/builders/dipy-py2.7-debian-ppc/builds/246

- so yes, good to close.

[2017-08-05 18:56] #375 closed

[2017-08-06 14:30] skoudoro commented on #1313
Did you resolve your problem @andresdasugo ? Can we close this issue ?

[2017-08-08 21:36] jhlegarreta commented on #1305
Added a style guideline in PR #1316.

[2017-08-09 15:32] jhlegarreta opened #1317 "reconst_fwdti.py example figures not being rendered"
The figures for the `reconst_fwdti.py` example are not being rendered; they are produced correctly when running the example, and have seen that the `/tools/make_examples.py` would compile and produce all figures to put them in `/doc/examples_built/_static`, but that does not seem to be happening for the above figures. The file at issue is listed in `examples_index.rst`, so I'm not seeing the probl

[2017-08-09 18:56] skoudoro commented on #1167
I think, it is done via #1285, we close this issue ?

[2017-08-10 00:17] arokem commented on #1167
indeed!

[2017-08-10 00:17] #1167 closed

[2017-08-11 17:05] jhlegarreta commented on #1305
A couple of additional stylistic minor questions:
- Should we make captions be boldface?
- Across the website some paths are written as `<./doc/devel`> while others are simply formatted as `doc/devel`. Just a minor detail, but for the sake of consistency, which one should we encourage?

Thanks.

[2017-08-14 02:32] skoudoro commented on #1313
closing. Feel free to reopen it if needed

[2017-08-14 02:32] #1313 closed

[2017-08-14 21:33] MarcCote commented on #1282
I agree with @dmreagan. We should add a detailed explanation of what was recorded. Regarding watching the recording, there must be a way of slowing it down in VTK but I don't know how (maybe by issuing VTK Events ourselves).

I don't have to do re-record the test at the moment. If someone wants to do it, it should pretty easy to do. Just call the test scripts directly with the name of the test and

[2017-08-15 17:18] dmreagan commented on #1282
Thanks, @MarcCote. I can record that test and take a look at the other failing tests as well.

[2017-08-17 14:39] maryamafzali opened #1321 "mapfit_laplacian_aniso (high non-Gaussianity, NG values in CSF)"
Hi,

I used ‘mapfit_laplacian_aniso’ to extract MAP-MRI indices on HCP data. NG index should have small values in CSF compared to the WM. However, in my results CSF is not dark in NG map. Would you please help me to solve this problem?

Thank you,

Best regards,
Maryam

[2017-08-18 16:52] dmreagan commented on #1282
@MarcCote and @ranveeraggarwal, have you recorded tests on Windows 10 with Python 3? I can start the test and perform some actions, but when I close the window I see the following error:

[code]

The `recorded_events.log` file gets written, but `test_ui_textbox.log.gz` and `test_ui_textbox.pkl` are not overwritten. I've tried running as both a standard user and an admin with the same results.

[2017-08-18 18:38] ranveeraggarwal commented on #1282
@dmreagan I face this issue while running tests for 2D file menu - it needs to be fixed. My suspicion is that since I am using `os.chdir`, it's breaking the relative path.

In case you're not on the latest branch (with the `FileSelectMenu2D`), then I'm not sure why this is happening. Is it specific to Win10/Py3?

[2017-08-21 16:37] skoudoro commented on #1305
Hi @jhlegarreta , sorry for the delay. To answer your question :

No

I think we should encourage `doc/level`.  The other syntax should be use for an other purpose

[2017-08-24 08:39] maurozucchelli commented on #1321
Hi Maryam, this can be proably due to the fact that the ventricles usually are more noisy with respect to the rest of the tissues. Try to:
- reduce the radial order of the basis to 4
- increase the regularization of the basis

What are your b-values? Consider also that after b=1000 the CSF signal basically disappears and only noise is left for MAPMRI to fit. Try to denoise your data a bit and see

[2017-08-25 13:45] maryamafzali commented on #1321
Hi Mauro,

Thank you for the explanations. I will change the order and the regularization as you suggested.
I use HCP data with b-values 1000, 2000 and 3000.

Best,
Maryam

[2017-08-25 14:31] arokem opened #1323 "Warnings raised in csdeconv for upcoming numpy 1.14"
See: https://travis-ci.org/nipy/dipy/jobs/268292931, and conversation in #1322

[2017-08-25 15:08] #1317 closed

[2017-09-01 19:59] nilgoyette commented on #834
@Garyfallidis Have you thought about this? I tested some simple threading (pool, process, ±cython) and I have some interesting gain but I'm curious about what you had in mind. I can throw as much core as I want in this task but there's an upper limit! A mathematical optimization would indeed be interesting.

[2017-09-03 15:49] Garyfallidis commented on #834
What I had in mind is to see if we can improve the tracking speed in probabilistic tracking by looking at the number of times the odf is calculated. There is a dot product between sph. harmonics and odfs which is repeated at each step of the tracking.  That takes a lot of time. Det. tracking does not have this problem.

You can start describing here your current experience and what you have tested

[2017-09-05 14:33] nilgoyette commented on #834
**Disclaimer: I installed numpy with --no-binaries** because it's impossible to do any multiprocessing with the standard version. I understand that this can be a problem but I don't know what I can do about it. JC told me that you are still unsure about what kind of multiprocessing you want in dipy so it might be interesting to discuss it before I put too much time on this.

In all my tests, I mod

[2017-09-07 16:37] jhlegarreta commented on #1305
@skoudoro Thanks. Updated the coding style guide, made the corresponding changes to #1316.

Now, the question about cross-referencing objects is open due to a change requested to that topic. Please visit it.

[2017-09-07 17:28] nilgoyette commented on #834
Hey, will you mind if I cythonize `probabilistic_direction_getter.py`? Nothing crazy, juste putting it in a pyx file and ensuring everything call be called from python and cython.

I see that you started cythonizing it (`DirectionGetter`, `PeaksAndMetricsDirectionGetter`) but it's not finished. It's the only "slow" part in my work (and it will affect the [pft tracking PR](https://github.com/gabkni

[2017-09-07 18:02] Garyfallidis commented on #834
Sure, give it a go. This file mostly contains interfaces. You may want to
cythonize just the functions that take time and not everything.
How is Wednesday 11am for you? It would be great if the PFT gets integrated.

Also if anyone else wants to be at that tracking meeting. Send me an e-mail.

On Thu, Sep 7, 2017 at 1:28 PM Nil Goyette <notifications@github.com> wrote:

[2017-09-07 18:41] nilgoyette commented on #834
Ok, I'll see what I can do.

I'm working with Gabriel on PFT. He asked me to check his cython. I'm working almost full time on || tracking and PFT so I should have something soon.

I'll be in the metting (I answered on doodle.) Just remember that I'm not a tracking expert, I'm a programmer that happens to be working on this!

[2017-09-07 19:39] jchoude commented on #834
I'd be interested to attend, but Wednesday is during Miccai so I won't be able to free myself at that time.

[2017-09-07 19:46] jchoude commented on #834
From @nilgoyette Doodle, it seems that Ariel is also unable to attend next week. I know that @gabknight is also attending Miccai, so if we want him to attend he will be similarly constrained. Would it be possible to move the meeting to the following week?

[2017-09-07 20:04] arokem commented on #834
👍 that would work better for me!

[2017-09-07 20:19] skoudoro commented on #834
ok for me too. I just updated the doodle and I will forward you the link @jchoude

if anyone else wants to be at that tracking meeting. Send me an e-mail.

ps: we can still have a quick meeting on multiprocessing this wednesday  @nilgoyette. What do you think @Garyfallidis  ?

[2017-09-08 15:41] nilgoyette commented on #834
Changing `probabilistic_direction_getter.py` was more complex, and maybe less useful, than I thought at first, There are static member, class methods, we can't cdef the sphere and it's mostly numpy call.

I'm gonna leave it the way it is because doing it well would require more time than I can give. I do believe it's worth it though; these functions are called really frequently in a deep loop and

[2017-09-08 18:20] Garyfallidis opened #1325 "Small is Big - Big is small (mapl - mapmri)"
Small/big delta are flipped in tutorial
http://nipy.org/dipy/examples_built/reconst_mapmri.html#example-reconst-mapmri

[2017-09-09 16:28] jhlegarreta commented on #1323
@arokem I was having a look at this, but I do not see where the issue is. Tried to search for changes in signature of `assert_equal`, but only found that it changed for complex or array values, and in this case, we get a boolean, which is fine, right? Any ideas where to look into?

[2017-09-09 16:56] jhlegarreta opened #1327 "Fix inspect.getargspec deprecation warning in Python 3"
The `USE_PRE=1` builds are failing among others because the
[code]
deprecation warning is being displayed due to the use of Python 3.

[2017-09-09 17:00] jhlegarreta commented on #1327
I'm looking into this. Would using

    try: #Python3
        specs = inspect.signature(fnc)
    except AttributeError: # Python2
       specs = inspect.getargspec(fnc)

solve the issue?

I've seen that others suggest using `inspect.getfullargspec()`, which seems to be fine:
https://docs.python.org/3/library/inspect.html

[2017-09-09 17:06] jhlegarreta commented on #1325
@Garyfallidis I'm taking this.

[2017-09-10 05:11] arokem commented on #1323
It's got to do with this clause: https://github.com/nipy/dipy/blob/master/dipy/reconst/tests/test_csdeconv.py#L231

It's designed to catch this particular warning:
https://github.com/nipy/dipy/blob/master/dipy/reconst/csdeconv.py#L130

But if any other warning is raised, it gets caught in this as well.

I am not sure what warning gets raised here. The best way to debug this would be to install the

[2017-09-11 16:13] Drigomaniac opened #1333 "Trying QuickBundles (Python3 and vtk--> using: conda install -c clinicalgraphics vtk)"
Hi All,
After reading the docs and a couple of issues here (in github), I realized there are compatibility issues when installing vtk and anaconda for python 3.

The quick fix I found was to install vtk 7.1.0 like this --> https://anaconda.org/clinicalgraphics/vtk --> `conda install -c clinicalgraphics vtk
*Also mentioned in this post by Eleftherios: https://github.com/nipy/dipy/issues/1248

But w

[2017-09-11 16:48] skoudoro commented on #1333
Hi @Drigomaniac,

`fvtk.record` just save a image. If you want to keep the window and play with it, use `fvtk.show(ren, reset_camera=False)`

For selecting between interactive or not, you can look at the example http://nipy.org/dipy/examples_built/tracking_quick_start.html#example-tracking-quick-start

We will correct that or feel free to correct this example via a new PR.

Thanks !

[2017-09-11 17:29] Drigomaniac commented on #1333
Yeap, that did it. It seems that the vtk problem and the rendering of the image worked well.
Thanks for your rapid response,
Rodrigo

[2017-09-18 18:20] skoudoro commented on #1323
I just fix this issue on PR #1335. Can you have a look @arokem @jhlegarreta  ?

Thanks !

[2017-09-18 19:32] #1323 closed

[2017-09-19 01:35] Garyfallidis opened #1337 "Coveralls seems baggy let's remove it"
Hi all,
coveralls has not been helpful so far. Can we please remove it?
Does anyone know how to do this?
I am not even sure how this program was added in our github project.

[2017-09-19 01:36] arokem commented on #1337
+1 what a PITN

[2017-09-19 01:39] arokem commented on #1337
I found this page:

![screen shot 2017-09-18 at 6 38 38 pm](https://user-images.githubusercontent.com/118582/30572105-a2962e36-9ca0-11e7-9335-fed05a034dac.png)

Should I hit the red button?

[2017-09-19 01:41] Garyfallidis opened #1338 "Variable string input does not work with self.get_io_iterator() in workflows"
Hi @matthieudumont,

variable string currently works only as an optional parameter.
Can you look at this and see if we can integrated as an accepted input?

Let me know what you think.

[2017-09-19 01:44] Garyfallidis commented on #1337
Press-on FORCEFULLY!!! :)

[2017-09-19 01:46] arokem commented on #1337
Done!

[2017-09-19 21:00] jhlegarreta commented on #1323
@skoudoro I had little idea on how to fix it, but the change looks OK. Interesting.
Restarting the Travis builds that failed in my PRs.
Thanks Serge.

[2017-09-20 12:31] jhlegarreta commented on #1323
Travis builds are back to green. Hats off to @skoudoro !

[2017-09-21 13:42] nilgoyette commented on #834
I wasn't able to obtain an interesting speedup on @gabknight pft code with the standard means (adding types, less calls, pointers?, etc.) I was about to give up but I tested my theory more...

I just wanted to do a quick test so I copied `SHCoeffPmfGen::get_pmf` and `ProbabilisticDirectionGetter::get_direction` in the pyx file and cythonized it. **I now have a ~2x speedup.** So, there's indeed som

[2017-09-21 19:44] arokem opened #1339 "Deprecate dipy.io.trackvis?"
At the very least, we need to update this line in the documentation: https://github.com/nipy/dipy/blob/master/dipy/io/trackvis.py#L10

See for example conversation here: https://mail.python.org/pipermail/neuroimaging/2017-September/001525.html

An easy fix for now would be to replace that function with a call out to nibabel and a deprecation warning.

[2017-09-21 20:08] skoudoro commented on #1339
I see an opportunity for me to learn and migrate DIPY to the new streamlines API. I will create a new PR and work on it next week

[2017-09-21 20:12] arokem commented on #1339
Fantastic!

On Thu, Sep 21, 2017 at 1:08 PM, Serge Koudoro <notifications@github.com>
wrote:

[2017-09-22 14:25] skoudoro commented on #1325
closed by #1328

[2017-09-22 14:25] #1325 closed

[2017-09-29 21:17] #1337 closed

[2017-09-30 00:36] Garyfallidis opened #1344 "Check accessibility of epilogue in Workflows"
This is a reminder to check how easy it is to change references in workflows using epilogue.
Right now seems difficult to add references (epilogue) as the method is hidden inside runflow which is calling the IntrospectiveArgumentParser.

[2017-10-03 19:58] skoudoro opened #1346 "Test broken in numpy 1.14"
As we can see on recent PR like [here](https://travis-ci.org/nipy/dipy/jobs/282429810#L4407),  all basic test seems to be broken.

All numpy arrays seem to be different after 10-12 decimal. I am surprised to see this problem for such basic function like `vec_norm`. This behavior is really weird

Unfortunately, I can not reproduce the problem on window 10, python=3.6, numpy=1.14.0.dev0+2995e6a
When

[2017-10-04 19:07] jchoude commented on #1339
I fully support deprecating the old code. +1 from me.

[2017-10-04 19:15] jchoude commented on #852
Going through old issues to find a specific one, I stumbled upon this one. Should we close it?

[2017-10-04 19:20] jchoude commented on #1044
Is this question answered? Can we close?

[2017-10-04 19:27] matthew-brett commented on #1339
As the author of the old code - fine with me too.

[2017-10-04 19:32] jchoude commented on #1248
@Garyfallidis there are also two other older issues:

#1084
#1146

that all seem to be related directly or not to this. Should we close some of them / update them?

[2017-10-05 17:34] skoudoro commented on #1346
ok, I was totally wrong, all errors come from DOCTEST and I can reproduce them.

 When we print the result, it seems there is a space after each first element in an array and it was not the case before.

[2017-10-05 22:27] matthew-brett commented on #1346
Is this the change to doctest printing in the numpy development version - that arrived here : https://github.com/numpy/numpy/commit/710e0327687b9f7653e5ac02d222ba62c657a718 ?

If so, I think you can fix it with a call to `np.set_printoptions(sign='legacy')` - see https://github.com/nipy/nibabel/pull/556

[2017-10-06 02:43] MarcCote commented on #1247
@dmreagan I think the changes we made for PR #1262 (in the handle_events method around https://github.com/nipy/dipy/pull/1262/files#diff-8edf9b236ab5f6609200bd485fc3a079R163) should correct the behavior you observed. That said, I haven't tested with VTK 7.1.0. Can you check again, after #1262 is merged or if you pull @ranveeraggarwal's `ui` branch?

[2017-10-06 19:16] matthieudumont commented on #1338
Hi, I currently dont have time to work on this so if you guys need this asap you are better off not waiting for me. Otherwise, I will eventually look into that when the time comes.

Also sorry for late reply, somehow I dont receive github emails anymore, JC pointed this to me.

[2017-10-06 21:22] dmreagan commented on #1247
I do not see the behavior with @ranveeraggarwal's `ui` branch, so it looks like you are correct. Closing.

[2017-10-06 21:22] #1247 closed

[2017-10-09 15:36] benalayaines commented on #1044
yes you can close this discussion.Thank you very much.
    Le mercredi 4 octobre 2017 à 20:20:06 UTC+1, Jean-Christophe Houde <notifications@github.com> a écrit :

Is this question answered? Can we close?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-09 15:38] #1044 closed

[2017-10-09 16:06] #1333 closed

[2017-10-09 21:26] #1346 closed

[2017-10-10 16:14] salma1601 opened #1354 "strange tracks"
Hi dipy experts,

I am using a tracking pipeline completely relying on dipy: denoising-dti tensor fitting-CSD reconstruction-deterministic Eudx tracking. However, the tracks of half of my subjects are weird while the other half is OK.
Investigating more carefully the problem, I noticed that the estimated response with `reconst.csdeconv.recursive_response` was bad for these subjects, but I can't fi

[2017-10-13 01:04] #1344 closed

[2017-10-15 01:16] Garyfallidis opened #1359 "Epilogue's reference should be last not first"
Specific workflows references appear after the DIPY reference. We need to invert this.

[2017-10-15 01:22] skoudoro commented on #1359
Ok, I take this one, it should be fast

[2017-10-18 15:44] #1359 closed

[2017-10-21 01:33] BramshQamar opened #1363 "MDF not working properly"
Hello,

I tried to run QuickBundles with MDF on simple data.

     data=[[[1,0,1],[1,1,1],[1,2,1],[1,3,1],[1,4,1]], [[2,4,1], [2,3,1],[2,2,1],[2,1,1],[2,0,1]],
          [[0,1,1],[1,1,1],[2,1,1],[3,1,1],[4,1,1]], [[0,2,1],[1,2,1],[2,2,1],[3,2,1],[4,2,1]]]

     st=Streamlines(data)

This is how initial data looks:
<img width="550" alt="screen shot 2017-10-20 at 12 36 00 pm" src="https://user-image

[2017-10-21 01:49] BramshQamar commented on #1363
@Garyfallidis @MarcCote

[2017-10-23 16:34] Joselisa opened #1364 "SNR estimation troubleshooting"
Dear Dipy experts,

I’ve just started using Dipy and I'm most interested on verifying the quality of my 30dir single-shell DTI data, so I used the SNR script (http://nipy.org/dipy/examples_built/snr_in_cc.html) and, even though it runs the following output, without showing any error, I’m afraid there is something wrong based on the corpus (attached) callosum pictures.

[code]

Any ideas?

Thank yo

[2017-10-23 16:44] #1248 closed

[2017-10-23 17:30] skoudoro commented on #1084
closed by #1361

[2017-10-23 17:30] #1084 closed

[2017-10-23 17:31] skoudoro commented on #1146
closed by #1361

[2017-10-23 17:31] #1146 closed

[2017-10-24 04:34] arokem commented on #1364
Looks like it's missing the CC...

You might want to tweak the "threshold" values a bit.

On Mon, Oct 23, 2017 at 9:34 AM, Joselisa <notifications@github.com> wrote:

[2017-10-24 14:06] arokem opened #1366 "Circular imports in dipy.tracking.utils?"
## Description
Reported by @peterneher on gitter: `import dipy.tracking.utils` seems to result in an error, possibly
because of a circular import (see below).

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example:

[code]

[2017-10-24 14:09] arokem commented on #1366
I think this was generated on this commit:

https://github.com/nipy/dipy/commit/72edd97299bd73f2f4541de39aded37e543b5e22

[2017-10-24 15:49] Joselisa commented on #1364
Dear Ariel,
Thank you very much for your suggestion. I'm not sure I did correctly, but I changed the script as follows: `threshold = (0.1, 1, 0, 0.1, 0, 0.1)`
Now, as I visualized before and after the threshold tweak I think that the first one was better (clearly less noisy):
Before (0.6 thresholded):
![before](https://user-images.githubusercontent.com/12244661/31953299-97da7924-b8c1-11e7-9ed0-87d

[2017-10-24 17:47] #1366 closed

[2017-10-27 20:04] Garyfallidis commented on #1282
The Viz test fails are still ongoing we need to resolve them asap. @ranveeraggarwal, @MarcCote, @dmreagan and @skoudoro

[2017-10-27 20:09] Garyfallidis commented on #1363
@MarcCote did you see this?

[2017-10-27 20:26] Garyfallidis opened #1371 "Quickbundles tutorials miss reference"
Some of the segmentation tutorials using QuickBundles do not have a reference to the original QuickBundles paper.

[2017-10-30 21:51] MarcCote commented on #1282
I think it has to do with Travis (Linux) using VTK5.8. So the tests were designed to pass for that particular environment. It means there is no guarantee they will pass on another VTK version and even worse there is no guarantee they will pass on a different OS.

I think the man culprit is `MouseMoveEvent` which behave differently from one system/VTK version to another. :-/

I don't know if it wou

[2017-10-31 14:42] gabknight opened #1372 "Change direction getter dictionary keys from floats[3] to int"
## Description
Following discussion in PR #1342.

Dipy currently uses the 3 float defining the direction as the dictionary key to get the neighboring directions (`cdf = self._adj_matrix[tuple(*direction)]`). This call is slow and is done at each tracking steps. The solution would be to replace the 3 floats by an int. The 3 floats are already associated to an int as each direction is one of the ver

[2017-10-31 22:15] MarcCote commented on #1363
Hi @BramshQamar and @Garyfallidis. The comparison metric to use with QuickBundles is not the MDF per se. Instead, one should use the `AveragePointwiseEuclideanMetric` (i.e. MDF without the Flip comparison).

The reason is that the QuickBundles algorithm relies on the flip to know how to average two streamlines together. So the class `QuickBundles` refers to a clustering algorithm that 1) is centro

[2017-11-01 03:11] John1231983 opened #1373 "How to convert from converted isotropic to original resolution (anisotropic)"
Hello, thanks for your code for converting from anisotropic to isotropic resolution. It really helps for some kind of dataset such as MRBrainS13 (resolution 0.958mm x 0.958mm x 3.0). I was used your code to convert it to 1mmx1mmx1mm
[code]

After reslice both raw and ground-truth image, we will work in isotropic resolution. For validation, the result file should have the thick original slice resol

[2017-11-02 15:52] skoudoro commented on #1282
Many tests with `MouseMoveEvent` are still running really well on VTK 5.8 / 6.3 / 7.1, so I do not think `MouseMoveEvent` behaves differently from one system/VTK version to another.

Like you said before, maybe we just need to update some record files. Let see, what happens in PR #1374.

[2017-11-09 19:31] #1282 closed

[2017-11-16 12:31] arokem opened #1376 "New test failures with pre-release numpy"
On new PR #1375, we stumbled on these failures on the pre-release Travis bot: https://travis-ci.org/nipy/dipy/jobs/302550184

[2017-11-16 14:49] skoudoro commented on #1376
Hi @arokem, Thanks for this information !

It seems to be the same issue as #1352 (print formatting with doctest)

We just need to add `from .testing import setup_test` where tests failed.

[2017-11-18 03:34] arokem commented on #1376
Closed through #1377

[2017-11-18 03:34] #1376 closed

[2017-11-18 03:35] arokem commented on #1339
Hey @skoudoro : have you had a chance to look into this?

[2017-11-20 22:47] skoudoro commented on #1339
yes @arokem, I started to look at this and I have a local PR. Maybe, I should push it with a WIP tag.

[2017-11-21 01:10] arokem commented on #1339
That would be great.

On Mon, Nov 20, 2017 at 2:47 PM, Serge Koudoro <notifications@github.com>
wrote:

[2017-11-21 21:29] Garyfallidis commented on #1363
@MarcCote I am not sure what you suggest as a solution here.
The default QB lustering is using the AveragePointwiseEuclideanMetric
https://github.com/nipy/dipy/blob/master/dipy/segment/clustering.py#L482
The paper calls this function MDF. So people will try to use MDF with QB. And they will trash the paper.

So we can either rename MDF  metric to link directly to APEM (hackish) or with fix the MDF

[2017-11-22 13:47] #1301 closed

[2017-11-25 02:58] arokem commented on #1299
Closed through #1300

[2017-11-25 02:58] #1299 closed

[2017-11-26 10:05] Dimitrievici opened #1382 "is there any defined function that reads locally stored data or is all downloaded? I refer to nii or nifti files"
## Description
[Please provide a general introduction to the issue/proposal.]

[If reporting a bug, attach the entire traceback from Python and follow the way to reproduce below]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example
- [

[2017-11-26 12:48] arokem commented on #1382
You might want to have a look at nibabel:
http://nipy.org/nibabel/gettingstarted.html

On Sun, Nov 26, 2017 at 2:05 AM, Lucian Traian Dimitrievici <
notifications@github.com> wrote:

[2017-11-26 19:30] skoudoro commented on #1382
As @arokem said, [Nibabel](http://nipy.org/nibabel/gettingstarted.html) is a good call with more option, otherwise you can use :
[code]
more info with dipy [here](http://nipy.org/dipy/reference/dipy.io.html#dipy.io.image.load_nifti)

[2017-11-28 15:47] skoudoro commented on #1382
Does it resolve your problem @Dimitrievici ?

[2017-12-07 17:55] arokem opened #1387 "Assert equality, instead of asserting that `a == b` is true"
For example, here: https://github.com/nipy/dipy/blob/master/dipy/workflows/tests/test_reconst_dti.py#L45

This is because asserting equality gives more informative error messages.

[2017-12-08 14:08] skoudoro opened #1389 "VTK 8: minimal requirement ?"
VTK 8 seems to be available on Pypi like you can see [here](https://pypi.python.org/pypi/vtk/8.0.0.dev20170717)  and available on conda-forge like you can see [here](https://anaconda.org/conda-forge/vtk).

Having these VTK packages on this 2 packages managers is a really good news for us !
I think we should start to define VTK 8 as a minimal requirement.

I would like to know what do you think @Ma

[2017-12-08 14:21] jchoude commented on #1389
I think that before requiring it, we should ensure that the installation really works on a variety of OSes (Ubuntu 14.04, 16.04, the recent MacOSes, Windows).

If we make it a mandatory requirements without ensuring it's easy to deploy, I fear some users will encounter difficulties later on.

Also, I have not watched closely the visualization related PRs, but are there features from VTK 8 that wou

[2017-12-08 14:35] jchoude commented on #1389
Also, I know this has been discussed a few times, but I cannot find the PRs or issues related to that.

I feel like this brings back again the topic of "should the visu part be split from core dipy?". From the multiple people we help with pipelines in the lab and in collaborations, I get the feeling that, most of the time, people don't need (at first) all the visualization capabilities that are in

[2017-12-08 14:38] skoudoro commented on #1389
Totally agree with you @jchoude (concerning tests). Sorry, I made a mistake in my title. I just corrected it.

The fewer the better concerning minimal requirement and I think VTK should stay optional.

Concerning `dipy.viz` , look at the end of discusion of #1296

[2017-12-08 14:41] matthew-brett commented on #1389
For the VTK dependency, I humbly beg - please no.   It's one of the worst requirements in the entire Python ecosystem.   There are still no Mac wheels, even in the development version that's up on Pypi.

[2017-12-08 15:05] ranveeraggarwal commented on #1389
+1 to making the project separate. Apart from the obvious removal of dependency and making it accessible to other projects, making `dipy.viz` separate could also invite more contributors who have a background in visualization and not medical imaging.

As far as VTK 8 is concerned, we need to check if there are any breaking changes (given that it's a major version bump) and if it's stable. Previous

[2017-12-08 16:26] Garyfallidis commented on #1389
If you see the previous discussion my plan for splitting the viz was for version 1.0. But perhaps we can speedup the process. Will now prioritize release 0.14 this January and putting up the new website. After this is done will write down a plan for the split and will share it with all interested members.

[2017-12-08 16:26] jchoude commented on #1389
Yes, saw that. Cool, thanks!

[2017-12-11 14:37] jchoude opened #1390 "coding_style_guideline.rst does not render correctly"
## Description
When viewing the `coding_style_guideline.rst` file directly on the web, the markup doesn't seem to correctly render. For example, some links are not formatted as links, and the lists do not generate lists.

## Way to reproduce
* Go [here](https://github.com/nipy/dipy/blob/master/doc/devel/coding_style_guideline.rst)
* Check links and lists.

[2017-12-12 21:32] MarcCote commented on #1363
I would argue that MDF is the **symmetrized** version of AveragePointwiseEuclideanMetric, no?

As a distance metric, MDF is fine (i.e. we can use it independently of QB). That said, QuickBundle's algorithm requires an **asymmetric** distance to work properly. This is because in order to compute the centroids, streamlines need to be averaged together and the direction of a streamline matters in tha

[2017-12-31 19:27] arokem opened #1392 "Gitter chat box not visible on chrome?"
At least on my end. Anyone else see that?

I do see it on Safari!

[2018-01-01 21:55] arokem opened #1394 "Deprecation warning in newer versions of scipy, because `scipy.misc` is going away"
Warnings of this sort:

[code]

Should be an easy fix to introduce a conditional import wherever we are importing factorial

[2018-01-01 22:04] Garyfallidis commented on #1392
I see it fine in Chrome Windows.

[2018-01-01 23:12] skoudoro commented on #1394
there is already a PR : #1326.  Can you update this PR @jhlegarreta and we merge it ?

Thanks !

[2018-01-02 04:04] arokem commented on #1392
I see! My adblocker was blocking it. Closing.

[2018-01-02 04:04] #1392 closed

[2018-01-04 18:26] anbai106 commented on #827
Sorry to reopen this :)

Good work for FWE-DTI model, it would be great to fit FWE-DTI model for single-shell DWI.

I am  not a diffusion expert, but it would be really nice to have a model like bi-tensor DTI model (Pasternak et al., 2009) based on single-shell DWIs. I knew some group does this based on the FWE-DTI model, but they do not wanna share it.

Geniuses, what do you think?

Hao

[2018-01-04 22:11] carpre opened #1396 "Different gradients gives the same tensors ?"
Hi,

I did an experiment with 2 gradient tables. The second gradient table is the same than the first but with x and y flipped (-x and -y).

I computed the tensors and tried to plot 3 slices (coronal, axial and sagittal) using vtk as shown in the examples.

I can see that I get different eigen vectors for the 2 gradient tables when I print them. However, I get the exact same tensors for the 3 plan

[2018-01-04 23:27] cbinhb opened #1397 "Running dipy 'Intro to Basic Tracking' code and keep getting error. On Linux Centos"
... )
/ifshome/cboyle/anaconda3/lib/python3.6/site-packages/dipy/viz/colormap.py:233: RuntimeWarning: invalid value encountered in true_divide
  orient = np.abs(orient / np.linalg.norm(orient))

After that, I get this error when trying to visualize but I'm guessing it's due to the first error above:

...     fvtk.record(r, n_frames=1, out_path='deterministic.png',
...                 size=(800, 80

[2018-01-04 23:33] arokem commented on #1397
Are you running on a headless machine? You might need to run this under
[XVFB](https://linux.die.net/man/1/xvfb)

On Thu, Jan 4, 2018 at 3:27 PM, cbinhb <notifications@github.com> wrote:

[2018-01-04 23:36] cbinhb commented on #1397
Hope this doesn't sound stupid but I am working with a monitor. is that what you mean? I do connect to a Linux Centos grid which is where I created my environment and run everything. I use XQuartz for visualization with fsl, etc. tools and it works fine.

[2018-01-04 23:40] arokem commented on #1397
No - not stupid - apologies for the jargon, but yes: that is what I meant
-- a computer without a monitor.

Do I understand correctly that you are x forwarding from another machine,
on which things are running? That might still be the issue. Could you
please try running this under XVFB?

On Thu, Jan 4, 2018 at 3:36 PM, cbinhb <notifications@github.com> wrote:

[2018-01-04 23:41] cbinhb commented on #1397
Sure. Can you give me more guidance as to how to run this "under XVFB". I
did go to the link but still not quite sure.

On Thu, Jan 4, 2018 at 3:40 PM, Ariel Rokem <notifications@github.com>
wrote:

[2018-01-04 23:44] cbinhb commented on #1397
I did type XVFB at my Unix prompt and this is what I get (and it is now
"hanging"):

_XSERVTransmkdir: ERROR: euid != 0,directory /tmp/.X11-unix will not be
created.

Initializing built-in extension Generic Event Extension

Initializing built-in extension SHAPE

Initializing built-in extension MIT-SHM

Initializing built-in extension XInputExtension

Initializing built-in extension XTEST

Initiali

[2018-01-04 23:48] cbinhb commented on #1397
I just spoke to a colleague and the visualization works fine on our local
machines so to your point it may be the 'headless' issue. Just thought I
would try but if it gets too complicated I can always revert to that.

On Thu, Jan 4, 2018 at 3:44 PM, Christina Boyle <cbinhb@gmail.com> wrote: